[2019-06-11 15:26] #579 closed

[2019-06-11 18:44] marco-c opened #581 "Update to newest taskboot version"
@La0 fixed https://github.com/mozilla/task-boot/issues/39, we should update to latest version of task-boot and make use of it.

[2019-06-11 19:19] La0 commented on #581
`mozilla/taskboot:0.1.7` is now available

[2019-06-11 23:33] marco-c commented on #462
This was done with 37f93de33b0bb6523c51b6a65b770998921fef9d.

[2019-06-11 23:33] #462 closed

[2019-06-11 23:34] marco-c commented on #409
I think this is no longer necessary.

[2019-06-11 23:34] #409 closed

[2019-06-11 23:34] marco-c commented on #408
This is no longer needed.

[2019-06-11 23:34] #408 closed

[2019-06-11 23:37] marco-c commented on #339
We can now do this, so I've added back the 'good-first-bug' label.

[2019-06-11 23:40] marco-c commented on #26
See also #517.

[2019-06-12 13:51] marco-c opened #582 "Use some similarity feature between the summary/first comment of the bugs in the duplicate model"
E.g. we can use cosine similarity of the bow vectors.

[2019-06-12 16:48] Lothiraldan commented on #339
You can also launch it with `bugbug-train`

[2019-06-12 18:11] #572 closed

[2019-06-12 18:11] #581 closed

[2019-06-13 07:39] sladyn98 commented on #573
If I understand correctly I need to make a request to the api
`requests.get("https://bugzilla.mozilla.org/rest/bug/[ID]?include_fields=attachments,comments", params=bug_query_params)`
and then return the list of bugs

[2019-06-13 10:17] ayush-1506 commented on #432
@subhamkrai What needs to be done is described in the comment above. To know more about open source in general, please go through https://medium.com/@jenweber/your-first-open-source-contribution-a-step-by-step-technical-guide-d3aca55cc5a6

[2019-06-13 11:21] marco-c commented on #340
To verify, we can try an actual rollback and see if everything works.

[2019-06-14 08:33] chidauri commented on #577
https://github.com/mozilla/bugbug/blob/50575e270275637f8514b2d9a68bd859e27d0060/bugbug/model.py#L265-L269
We just need to check if every bug in ("all_bug_ids" from above) is present in bugzilla.get_bugs() or download them , right?

[2019-06-14 09:09] Lothiraldan opened #591 "Deployment of each worker is not atomic on heroku"
With current deployment, each heroku worker is deployed separately, which makes it harder to rollback and could create some bugs. We should deploy all the workers at the same time.

[2019-06-14 09:12] marco-c commented on #577
Yes, we need to do something like that in the `get_all_bug_ids` function of the labels module.

[2019-06-14 15:15] Lothiraldan commented on #303
This is good for me, @marco-c I let you close this issue

[2019-06-14 15:17] Lothiraldan commented on #350
@marco-c What is the procedure to ask for the creation of a `bugbug-train` Docker image on dockerhub?

[2019-06-14 15:22] Lothiraldan commented on #365
We must create the Docker image `bugbug-spawn` on dockerhub for this issue

[2019-06-14 15:34] marco-c commented on #350
Here's an example: https://bugzilla.mozilla.org/show_bug.cgi?id=1557809.

For the spawn one, I already asked for it (and it was created) in https://bugzilla.mozilla.org/show_bug.cgi?id=1550436.

[2019-06-14 15:45] marco-c opened #593 "Don't try to find inconsistencies in all bugs multiple times"
We are re-downloading inconsistent bugs at https://github.com/mozilla/bugbug/blob/cc9c5e8c5d69e2dcabf35741a3f1d9b9bb797b39/scripts/bug_retriever.py#L61.

To find them, we are iterating through all bugs.

It makes sense to iterate through all bugs the first time, but the second time we should only iterate through the bugs we found inconsistent the first time (indeed, we can be sure that all the oth

[2019-06-14 15:46] marco-c commented on #365
bugbug-spawn-pipeline was created in https://bugzilla.mozilla.org/show_bug.cgi?id=1550436, we can use that.

[2019-06-14 15:46] #303 closed

[2019-06-14 16:11] Lothiraldan commented on #591
It seems that Heroku doesn't limit the name or number of worker type (besides requiring a web worker), so we cannot declare all of the worker names in task-boot cli.py. See https://devcenter.heroku.com/articles/container-registry-and-runtime#pushing-multiple-images for example.

We need to either allow complex value as CLI arguments `worker:/path/to/image.tar` or environment variables.

[2019-06-14 16:37] Lothiraldan commented on #350
I opened an issue to get the new image created

[2019-06-14 16:54] #365 closed

[2019-06-14 16:55] marco-c commented on #350
Link?

[2019-06-14 19:42] Lothiraldan commented on #350
Oops, the paste have failed https://bugzilla.mozilla.org/show_bug.cgi?id=1559444

[2019-06-15 14:47] sladyn98 commented on #573
cc @marco-c

[2019-06-16 06:33] Abhi-khandelwal commented on #593
@marco-c Can I work on this issue ?

[2019-06-16 18:44] marco-c commented on #593
Sure! See the CONTRIBUTING.md file, any issue which is not linked to a PR and not assigned is free for everyone to work on.

[2019-06-16 23:24] marco-c commented on #573
Yes, making sure the same data is returned as the current `bugzilla.get` function.

[2019-06-17 08:59] Abhi-khandelwal commented on #593
Actually I can't be able to understand that at second time what parameter we have to pass, as you explained.

[2019-06-17 09:19] marco-c commented on #593
The first time you call the function, you have a list of bug IDs that are inconsistent. Then they are re-donwloaded. Now, the second time you call the function, you don't need to pass all bug IDs again, but you can just pass the bug IDs that were inconsistent at the first call.

[2019-06-17 17:54] asmaknikar commented on #339
can I claim this issue?

[2019-06-17 17:56] asmaknikar commented on #339
can I claim this issue?

[2019-06-18 13:46] sladyn98 commented on #573
https://github.com/mozilla/bugbug/pull/596
Opened a draft pr

[2019-06-18 15:48] marco-c commented on #339
@asmaknikar you can work on any issue which is unassigned and has no open PR linked to it (read CONTRIBUTING.md).

[2019-06-18 20:37] #593 closed

[2019-06-19 05:01] #312 closed

[2019-06-20 02:25] probaku1234 opened #602 "ModuleNotFoundError : No module named 'bugbug'"
When I run `pytest`, I get this error
[code]

[2019-06-20 05:41] marco-c commented on #602
Try running the tests by running `python3 -m pytest`.

[2019-06-20 10:59] Lothiraldan commented on #591
I have create a PR with a proposed CLI API: https://github.com/mozilla/task-boot/pull/46

With this PR, we could deploy all the workers atomically using the following command:

[code]

Let me know what do you think about the new API @La0

[2019-06-20 17:29] La0 commented on #591
Looks good to me, i left some comments on the PR. I'll release 0.2.0 after it lands

[2019-06-20 20:45] probaku1234 commented on #432
I'm trying to implement test function for backout model but, get_labels() function gives me error
[code]
I'm guessing this is because there is no key 'node' in commits.json file.
Any suggest?

[2019-06-20 22:05] marco-c commented on #432
The mock file in tests/fixtures/commits.json was not updated to add "node" when we added it as a key. You can do it by doing, for each commit in tests/fixtures/commits.json:
1. Take the bug ID from the "desc" field
2. Open https://bugzilla.mozilla.org/show_bug.cgi?id=BUG_ID
3. Find the commits from the bug comments (open all links starting with `https://hg.mozilla.org`)
4. Check which commit corre

[2019-06-20 23:06] probaku1234 commented on #432
What is the 'revision' exactly?

[2019-06-21 00:20] chidauri commented on #577
I didn't find any changes in accuracy or any metric. I downloaded 100,000 bugs approx .

[2019-06-21 06:46] marco-c commented on #577
@chidauri which features did you try?

[2019-06-21 06:55] marco-c opened #608 "Add docs to the http service"
Maybe we could use swagger?

[2019-06-21 07:10] marco-c opened #609 "http service is currently broken"
In the logs, I see:
[code]
but we have not deployed the patch which introduced `get_extra_data`.

@Lothiraldan maybe you deployed manually?

[2019-06-21 07:11] marco-c commented on #609
If you did, feel free to close this issue.

If you didn't, we need to figure out why the service was deployed with some code which is not supposed to be deployed yet.

[2019-06-21 07:21] marco-c commented on #432
I guess you figured it out ;)

[2019-06-21 11:27] chidauri commented on #577
@marco-c product, component, has_regression_range, has_crash_signature, keywords, severity, whiteboard.

[2019-06-21 11:54] chidauri commented on #521
https://github.com/mozilla/bugbug/blob/5b367e2107c0382b861133643d9aca6c6d1e0f24/bugbug/models/duplicate.py#L17-L19
@marco-c  we can do this by changing the values of these three parameters, is there something else to it?

[2019-06-21 12:02] Lothiraldan commented on #609
Latest deployment was made last sunday by heroku-relman-deployer@mozilla.com so I think it was automatically deployed.

[2019-06-21 12:06] Lothiraldan commented on #609
The docker build task in data-pipeline.yml is cloning master https://github.com/mozilla/bugbug/blob/master/infra/data-pipeline.yml#L373, checking how to fix it

[2019-06-21 15:20] #609 closed

[2019-06-21 15:20] #434 closed

[2019-06-21 15:24] #557 closed

[2019-06-21 16:28] #432 closed

[2019-06-21 16:32] #602 closed

[2019-06-21 16:34] marco-c commented on #521
@chidauri right now it's configurable only by changing those numbers in the source code. We need to somehow make it configurable more easily so you can run the model with different options without having to modify the source.

[2019-06-21 16:35] marco-c opened #611 "Make similarity script more generic so different similarity algorithms can be evaluated"
Right now, LSI is backed in the similarity script. We need to modify the similarity script to make it more generic so we can compare different algorithms.

[2019-06-21 16:36] marco-c opened #612 "Try BM25 as a similarity algorithm"
We can take inspiration from https://github.com/marco-c/uplift-analysis/blob/master/bm25.py.

Depends on #611.

[2019-06-21 16:38] marco-c commented on #577
Can you try with all the features I listed above?

[2019-06-21 16:38] marco-c commented on #577
Could you submit the PR anyway, so we have a track of what happened.

[2019-06-21 17:03] Lothiraldan opened #613 "Add unit-testing for `spawn_data_pipeline` script"
See https://github.com/mozilla/bugbug/pull/604#pullrequestreview-252923682

[2019-06-21 17:05] Lothiraldan opened #614 "Retrieve all metrics from a date and later"
See https://github.com/mozilla/bugbug/pull/604#discussion_r296311845

[2019-06-21 17:26] ayush-1506 commented on #612
@marco-c The link doesn't seem to work.

[2019-06-21 17:31] marco-c commented on #612
@ayush-1506 it should be available now.

[2019-06-21 17:49] Lothiraldan commented on #558
We wait for version 0.1.8 that contains a fix for this. https://github.com/mozilla/task-boot/pull/47

[2019-06-21 17:49] Lothiraldan commented on #608
Swagger sounds good

[2019-06-21 19:46] ayush-1506 commented on #582
@marco-c I have an implementation of using custom transformers to add some cosine similairty information to the features. However, running the model gives me a memoryerror. I tried using a smaller portion of the dataset , but to no avail.
My best guess is that this is happening because in order to add more information to the vectors, I'm converting sparse vectors (Tf-Idf outputs) to dense vectors

[2019-06-21 21:41] marco-c commented on #582
@ayush-1506 can you submit a PR, so I can help you with that?

[2019-06-22 08:46] ayush-1506 commented on #582
@marco-c PR created : #616.

[2019-06-22 14:00] ayush-1506 commented on #611
I'll add a cosine similarity model using tf-idf vectors and refactor the file a bit. @marco-c Shouldn't similarity.py be in scripts/ ?

[2019-06-22 16:16] marco-c commented on #611
What are you going to use for the search?

similarity.py is a bit like model.py. The evaluation part should stay there, the "__main__" part should go in a script. But this is less important than making it generic.

[2019-06-22 16:29] ayush-1506 commented on #611
For the most similar bugs, I was thinking of a threshold value, (say 0.8), above which all pairs are classified as duplicate.

[2019-06-22 16:38] marco-c commented on #611
@ayush-1506 we also have `k`, which is the maximum number of bugs returned. I'm not asking about that though, I'm wondering: once you have a vector representing a bug, how will you search for similar vectors? You can't iterate through all bugs, it will be *extremely* slow.

[2019-06-22 16:41] marco-c commented on #611
You will need to use some library like nmslib, or https://scikit-learn.org/stable/modules/neighbors.html#finding-the-nearest-neighbors.

[2019-06-22 16:42] marco-c commented on #611
Or even BM25 (https://github.com/mozilla/bugbug/issues/612).

[2019-06-22 16:44] ayush-1506 commented on #611
Once we have the word vectors, it can be treated as a clustering preblem. If this isn't a good idea, I don't see a way other than iterating the entire buds db.

[2019-06-22 16:54] marco-c commented on #611
@ayush-1506 see my comments above. I think you don't really need clustering here, you just need a fast way to find similar vectors.

[2019-06-22 16:58] ayush-1506 commented on #611
Yep, I'll add this. Thanks!

[2019-06-22 19:44] #436 closed

[2019-06-22 21:06] marco-c opened #619 "Store imbalanced metrics too"

[2019-06-22 21:18] #342 closed

[2019-06-23 01:09] probaku1234 opened #620 "MemoryError while training defect model"

[2019-06-23 13:39] marco-c commented on #620
Can you provide more details? When are you seeing the MemoryError exactly? What command/script did you run?

[2019-06-23 15:02] probaku1234 commented on #620
When I run `python run.py --train`, I get this error
[code]

[2019-06-23 17:40] marco-c commented on #620
OK, so it's not while downloading databases, but while training.

[2019-06-23 17:40] marco-c commented on #620
How much RAM do you have?

[2019-06-23 17:54] probaku1234 commented on #620
Mine is 16 GB

[2019-06-23 18:25] marco-c commented on #620
Mmmh, pretty strange that it's running out of memory then. One way to avoid it is removing this line: https://github.com/mozilla/bugbug/blob/bed338ba1cafac8c7d4708e1d522fe8365af5696/bugbug/models/defect.py#L22.

[2019-06-23 19:56] probaku1234 commented on #620
After removing that line, I get this error
[code]

[2019-06-23 20:11] marco-c commented on #620
Add `self.calculate_feature_importances = False`.

[2019-06-23 20:58] probaku1234 commented on #620
add that line to where exactly?

[2019-06-24 10:59] marco-c commented on #620
Where you removed the previous one

[2019-06-24 11:16] marco-c opened #624 "Remove fallback on downloading xz files"
It's added in #524 because the current task have xz as artifacts. Once we make a successful deployment, we can switch to zst fully and remove the xz fallback.

[2019-06-24 11:16] #461 closed

[2019-06-24 12:18] marco-c commented on #578
I think we should retrieve:
- signature
- proto_signatures (which is basically the stack trace)
- basic metadata (Firefox version, platform, etc.)

@calixteman wdyt?

[2019-06-24 12:27] marco-c commented on #343
A possible solution could be to use https://pypi.org/project/summa/ to summarize (maybe concatenating the summaries of title, first comment, all comments, last X comments? We need to check what works better).

[2019-06-24 12:43] marco-c opened #625 "Add some timing-related information about patches to the commit features"
See also #38.

[2019-06-24 12:44] marco-c opened #626 "Automate generation of regressor labels"
We can use https://github.com/ishepard/pydriller.

[2019-06-24 12:46] marco-c opened #627 "Apply SZZ on a repository split by word"
In order to improve blame information, and thus SZZ results, we can use a repository where all files are split by word.
This way, we can properly ignore commits which change only the formatting of the code.

To improve it even more, we should use a repository with comments removed.

[2019-06-24 12:57] #521 closed

[2019-06-24 23:29] probaku1234 commented on #620
Hm...I'm still getting same error with above code

[2019-06-25 05:35] Abhi-khandelwal commented on #339
Hi @marco-c , So I was kind of interesting to take this issue, Actually I have one doubt, that do we have to run this functionality by some Bash script or by direct script/trainer.py ?

[2019-06-25 06:23] Abhi-khandelwal commented on #268
Can we merge 'tasks_for == "github-push" && head_branch[:10] == "refs/tags/"' at  L244 & L281

[2019-06-25 11:57] marco-c commented on #268
Not sure, maybe.
I was mainly talking about the parts common to all tasks, such as metadata/owner and metadata/source. You have an example of merging in https://github.com/mozilla-mobile/android-components/blob/9ddbaaf4084dc2e18a547de9f525ebdc528e1361/.taskcluster.yml#L158.

[2019-06-25 12:12] marco-c commented on #620
Sorry, the correct attribute to set to False is self.calculate_importance, not the one I told you before.

[2019-06-25 12:19] marco-c commented on #339
We need to split the run.py functionality into multiple scripts under script/.
(Part of) The train functionality is already in trainer.py.

[2019-06-25 12:23] #535 closed

[2019-06-25 23:10] marco-c commented on #627
https://github.com/marco-c/microannotate

[2019-06-25 23:54] probaku1234 commented on #620
It worked! Thank you

[2019-06-25 23:54] #620 closed

[2019-06-26 08:55] marco-c opened #629 "Use python slim images where possible in .taskcluster.yml"

[2019-06-26 08:57] marco-c commented on #629
It might actually hardly be possible, because they are likely all using git (which is not in the slim image).

[2019-06-26 08:58] marco-c commented on #629
We can likely use python:3-alpine though.

[2019-06-26 10:56] marco-c opened #630 "Similarity models should have cut-off values"
Right now, we always return most similar `k` results, but this assumes bugs have `k` duplicates. In practice, a lot of bugs have only few duplicates, even just one.
We should consider the `k` most similar, with a cut-off similarity value.

[2019-06-26 11:42] #611 closed

[2019-06-26 11:43] marco-c opened #631 "Investigate results of the similarity model"
We need to check a few results where we are wrong.

Is there something in common to bugs we miss?

Is there something in common to bugs we found but shouldn't have found?

[2019-06-26 15:35] marco-c opened #632 "Support classifying commits for test selection"
- [x] Add a setup step to the http service to setup the environment for classifying commits - #1299
- [x] Add the scaffolding needed to add an API call to select tests - #1300
- [x] In the API to select tests, apply the requested patch - #1301 and #1372
- [x] Download test scheduling models in the HTTP service - #1330
- [x] In the API to select tests, apply the model to select tests - #1302

-----

[2019-06-26 16:40] marco-c opened #633 "Delete bugs_retrieval image"
We can just use the base image instead and define the command in the task definition.

[2019-06-26 18:53] marco-c opened #634 "Add tag in the hook images"
Currently we use mozilla/bugbug-spawn-pipeline with no tag.

[2019-06-26 19:10] Abhi-khandelwal commented on #268
Hi @marco-c  with the reference of  above link, I was thinking, that first we should, define a parameter like owner_and_source_details and then by using $mergedeep command we can merge , and similarly for other parameters. is it okay to this by that way?

[2019-06-26 19:26] kmehant commented on #629
@marco-c As installing git is easy, shall we use a slim version and add git installation to the `command` in the task cluster. I have noticed some general issue with alpine version? any thoughts? if yes I will take up the issue 😃

[2019-06-26 20:36] marco-c commented on #268
You can have a `default_task_definition` like in the example and put there everything which is in common.

[2019-06-26 20:37] marco-c commented on #629
@kmehant not sure if it will be faster to use the full blown Python image or installing git in Python slim/alpine.

Feel free to experiment with it. Issues are automatically assigned when there is a PR to fix them (see the CONTRIBUTING.md file).

[2019-06-27 09:19] marco-c commented on #632
For 1, we likely need batch checkout as pulselistener, as otherwise we can't clone mozilla-central on Heroku.

[2019-06-27 09:22] marco-c commented on #632
I'm starting to write this as a script, which we can then move to an API endpoint.

[2019-06-27 09:32] Lothiraldan commented on #632
Sounds good, the hardest part seems to be applying the patch locally as it involves the disk. Does `https://github.com/mozilla/bugbug/blob/master/bugbug/repository.py#L270` is retrieving all the information needed for the commits or other functions are retrieving other information?

[2019-06-27 09:39] marco-c commented on #632
There are other functions too, all called from https://github.com/mozilla/bugbug/blob/89bba8efcaa418a8d2a0bfcfea4713e758e521ac/bugbug/repository.py#L662 (log, calculate_experiences, _transform). I should improve the names of these functions.

[2019-06-27 11:44] marco-c opened #637 "Try word2vec with WMD as a similarity algorithm"
The position of the words can be important (e.g. https://bugzilla.mozilla.org/show_bug.cgi?id=1320150 and https://bugzilla.mozilla.org/show_bug.cgi?id=1331130 are different bugs, despite having similar words), so WMD can help improve the precision.

An implementation of word2vec+WMD (in another context) can be seen in https://github.com/marco-c/crashsimilarity/blob/master/crashsimilarity/models/wo

[2019-06-27 11:45] marco-c opened #638 "Try using bigrams in the NN similarity"
In some cases, the presence of two words (or even more) words together can make a difference. E.g. in https://bugzilla.mozilla.org/show_bug.cgi?id=1320150 and https://bugzilla.mozilla.org/show_bug.cgi?id=1331130.

[2019-06-27 13:48] #634 closed

[2019-06-27 14:05] marco-c commented on #624
@x249wang do you want to do this cleanup?

[2019-06-27 14:35] marco-c opened #641 "Find a way to visualize training metrics over time"
One simple way to do this would be to write a Python notebook that we run in a task (triggered either in the data or the checks pipeline), generating some static output that we store as an artifact. Then we can access the visualization by simply opening the task and opening the artifact.

[2019-06-27 14:35] marco-c opened #642 "Return importances"

[2019-06-27 16:42] #619 closed

[2019-06-27 22:09] x249wang commented on #624
@marco-c Sure! Does this involve removing the code for downloading xz files in case the zst files are unavailable? When should this change occur?

[2019-06-27 23:30] marco-c commented on #624
Exactly, and the related code.

It can happen already, as I've deployed the zst change and we have zst datasets and models now (e.g. https://tools.taskcluster.net/groups/M4YroRtZRbyprTYhnmn2Kw/tasks/KJlvJjJvS-G5Ha1xHe6KlQ/runs/0/artifacts)

[2019-06-28 08:27] Lothiraldan commented on #632
I take a look at what we are actually reading from the mercurial repository and I think that the data that requires to actually apply the patch is https://github.com/mozilla/bugbug/blob/master/bugbug/repository.py#L239.

I think we should be able to do all the work in-memory, maybe with a custom Mercurial extension so we don't need to fiddle with applying a patch then stripping it right after.

[2019-06-28 09:01] marco-c opened #646 "Don't use cache when installing pip packages"
Both in the Dockerfiles and in the CI definition files.

[2019-06-28 09:02] marco-c opened #647 "Remove pip from the commit-retrieval image"
We are installing pip2 to install mercurial. We should be able to, in a single layer, install pip2, install mercurial, then remove pip2 and clean. This should sliglthy reduce the image size.

[2019-06-28 09:11] #558 closed

[2019-06-28 09:11] #591 closed

[2019-06-28 09:35] Lothiraldan commented on #570
I'm guessing you are speaking about https://github.com/mozilla/bugbug/blame/master/.taskcluster.yml#L128 and not https://github.com/mozilla/bugbug/blame/master/.taskcluster.yml#L299

[2019-06-28 09:36] marco-c opened #648 "Write a script for rollbacks"
This should help when we want to rollback.

It should:
1. Remind the user to cancel any running broken data-pipeline task (or do it automatically if we're able to get it from the index)
2. Update the hook definition with a previous version, trigger it
3. Retrigger http service deployment (we'll need a custom retriggering script, as we need to keep the dependencies on the old training tasks)

[2019-06-28 09:38] marco-c commented on #570
I was thinking about the second, we should be able to replace $VERSION with {$eval: 'head_branch[10:]'}, no?

[2019-06-28 09:40] marco-c commented on #648
3 can be easily tested with rollbacking to the same version (we just need to make sure the deployment happens).

[2019-06-28 09:59] Lothiraldan commented on #570
Yes we can, I have put the version in the env to not pollute the command list with the templating

[2019-06-28 12:15] marco-c opened #650 "Support rollbacking comment fields"
Recently, Bugzilla started supporting editing comments. We should rollback the edits too.

[2019-06-28 12:19] marco-c opened #651 "Don't prevent building and deploying the http service when the rollback task fails"
It usually fails only on a few bugs, so the training shouldn't really be affected.

If we don't do this, we are forced to release a new version whenever a bug fails to be rollbacked.

[2019-06-28 12:52] marco-c opened #652 "Automatically trigger a new microannotate task if the previous one didn't finish"
We are transforming 10000 commits at a time. The first time we run it, we'd have to run the task almost 50 times to get all mozilla-central commits. It'd be better to automate this.

[2019-06-28 13:32] #651 closed

[2019-06-28 21:55] #570 closed

[2019-06-28 22:01] #350 closed

[2019-06-28 23:34] #650 closed

[2019-06-28 23:38] marco-c commented on #614
See also #641.

[2019-06-29 07:08] hzk120 commented on #490
@marco-c  Can I take up this issue,since there is no PR for it?

[2019-06-29 07:18] pavitrawalia commented on #490
marco-c  I am new to open source contribution . This issue is not closed yet . Can I take up this issue .

[2019-06-29 07:18] mdl2000 commented on #490
@marco-c I am new to open source contribution, and as this issue is not closed yet. Can I take this?

[2019-06-29 07:34] pavitrawalia commented on #437
I am new to open source contribution . This issue is not closed yet . Can you provide me some insights regarding the issue

[2019-06-29 07:46] championshuttler commented on #490
Hi All its weekend so Marco most probably is on leave, @hzk120 please go ahead and make the PR if you need any help comment here :)

[2019-06-29 08:59] sumit4613 commented on #433
@ayush-1506 I am new to open source contribution . This issue is not closed yet . Can I take up this issue .

[2019-06-29 09:01] chidauri commented on #162
@marco-c  i've worked on this. can you please tell me a model(which doesn't take much time to train) which to test upon?

[2019-06-29 09:04] sumit4613 commented on #646
@marco-c I am new to open source contribution . Can I take up this issue .

[2019-06-29 09:34] ayush-1506 commented on #433
Sure. You can take up any issue that doesn't have a PR open against it.

[2019-06-29 09:42] ayush-1506 commented on #437
You can take inspiration from #606.

[2019-06-30 10:22] Lothiraldan commented on #646
Sure. You can take up any issue that doesn't have a PR open against it.

[2019-07-01 09:42] chidauri commented on #419
@marco-c  figured out, it is actually happening at these lines for big models.
https://github.com/mozilla/bugbug/blob/ed8da961f11ca2a9345b54e9e5626d72d7880c8f/bugbug/model.py#L192-L193

[2019-07-01 09:46] #435 closed

[2019-07-01 09:48] marco-c commented on #419
@chidauri yes, the other one I mentioned is a separate OOM, but we can ignore that one as it's going to automatically be fixed.

[2019-07-01 09:51] marco-c commented on #162
@chidauri you can test it on the defect_enhancement_task model. If it runs out of memory, you can simply reduce the training set manually just for the sake of testing.

[2019-07-01 09:58] #624 closed

[2019-07-01 10:11] marco-c commented on #162
@chidauri I'm now working on this though, as I'm changing a bit the visualization of the feature importance.

[2019-07-01 10:33] marco-c commented on #162
@chidauri btw, if you have something mostly ready, you can submit a PR for it. What I'm working on is a graphic visualization, but having a raw result would be nice too.

[2019-07-01 10:37] chidauri commented on #162
i have a table ready as you said first sort features by sum of importance and then their importance for each class.

[2019-07-01 10:41] marco-c commented on #162
OK, feel free to submit a PR

[2019-07-01 16:33] #638 closed

[2019-07-02 08:32] chidauri commented on #343
@marco-c why do we need this if we already have "summary" field?

[2019-07-02 08:35] marco-c commented on #343
The summary is not enough to understand what the bug is about and its status. You can open a few example bugs and see that the summary is too limited in most cases.

[2019-07-02 10:22] marco-c opened #664 "Check if there is a way to avoid applying the patch and then reverting it when classifying commits"
https://github.com/mozilla/bugbug/blob/96ebe8777a333d08105fb39d83cee2cb052bae2c/scripts/commit_classifier.py#L46

[2019-07-02 10:23] marco-c commented on #632
I've added a script to the repo: https://github.com/mozilla/bugbug/commit/96ebe8777a333d08105fb39d83cee2cb052bae2c.
It is currently applying the patch and then reverting it, but we can try to avoid that (filed #664).

[2019-07-02 18:52] marco-c commented on #431
Fixed by #621.

[2019-07-02 18:52] #431 closed

[2019-07-02 19:38] probaku1234 commented on #613
Should it test get_taskcluster_options?

[2019-07-02 19:40] marco-c opened #667 "HTTP service deployment is failing"
From https://tools.taskcluster.net/groups/LxTuw6rUTs-B2PPzIEBtyA/tasks/eG9eMHmMT1W2dJlLPrbO9g/runs/0/logs/public%2Flogs%2Flive.log:
[code]

[2019-07-02 20:01] marco-c commented on #613
@probaku1234 this is about testing the whole spawn_pipeline script. It's not an easy issue, as it requires mocking the Taskcluster service.

[2019-07-03 12:55] marco-c commented on #632
There is now a hook https://tools.taskcluster.net/hooks/project-relman/bugbug-classify-patch which makes it easy to classify a Phabricator diff.
The downside of the hook vs a server is that we need to clone the Mercurial repository multiple times (whenever we trigger the hook) rather than just once (whenever we start the server). The upside is that it is very simple.

[2019-07-03 13:43] marco-c opened #668 "Index classify-patch task by diff ID"
This way we can easily access the task which was triggered for a given Phabricator diff.

[2019-07-03 13:59] #668 closed

[2019-07-04 08:18] Shubhamchinda commented on #647
Hey, @marco-c  I'd like to solve this, any help would be appreciated.
Thanks!

[2019-07-04 08:21] marco-c commented on #647
Hello @Shubhamchinda, feel free to work on it, until an issue is linked to a PR it is free to work on by anyone.
What you need to do is described in the first comment. The image is defined in infra/dockerfile.commit_retrieval.

[2019-07-04 09:51] Lothiraldan commented on #667
I've made a PR on task-boot https://github.com/mozilla/task-boot/pull/49 to fix the deployment. Unfortunately I wasn't able to test it locally, I always get a 401 even with the right secret.

[2019-07-04 13:01] Lothiraldan commented on #664
I think we can try applying the patches in memory in a custom extension that would generate JSON files for easier parsing.

[2019-07-04 13:09] Lothiraldan commented on #632
I don't see where the patch is reverted, did you send all of your commits?

I've answered on https://github.com/mozilla/bugbug/issues/664 for how we could avoid applying the patch on disk.

Do you want to starts using the hook in the HTTP service? I'm not sure if we can classify a single bug in a satisfying time, we are currently waiting only 100 seconds.

[2019-07-04 13:18] marco-c commented on #632
When you run the script, the first step is cloning (https://github.com/mozilla/bugbug/blob/2997d222b00abe57ea8513a91044187c73f56cb1/bugbug/repository.py#L752) and cleaning (https://github.com/mozilla/bugbug/blob/2997d222b00abe57ea8513a91044187c73f56cb1/bugbug/repository.py#L733). So it is not reverted after beign applied, but on the second run of the script.

We can probably avoid some of the step

[2019-07-04 13:43] Lothiraldan opened #671 "Error when running bugbug-classify-commit without cache"
When running `bugbug-classify-commit` without cache (I don't have the file `data/commit_experiences.pickle` locally), I got an exception:

[code]

[2019-07-04 13:44] Lothiraldan commented on #632
Indeed the clone is stripping the outgoing commits which is a bit surprising.

I tried running the script locally already but I got an error, https://github.com/mozilla/bugbug/issues/671. I will time the working part so far.

[2019-07-04 13:45] marco-c commented on #671
That's strange, it should be downloaded automatically.

[2019-07-04 13:46] marco-c commented on #671
Can you do a `rm -f data/commit*` to make sure there is nothing half-downloaded in your data directory?

[2019-07-04 13:55] marco-c opened #672 "Define readable names for features"
Otherwise feature importance graphs won't be so readable.

[2019-07-04 15:04] Lothiraldan commented on #671
Removing everything in commit makes it download the support file, closing this issue

[2019-07-04 15:04] #671 closed

[2019-07-04 16:45] Lothiraldan commented on #632
Here are some of the slowest timings for the commit_classifier script:

- The initial clone took 27 minutes.
- Then the check + stripping takes ~13-15s.
- Downloading the data version takes ~3s.
- Downloading the data took ~32s.
- Iterating on all the commit takes ~19s.
- Applying the phab patch takes ~9-18s.
  - Where getting the patch from phabricator is around ~5-14s.
  - And importing it is ar

[2019-07-04 16:52] marco-c commented on #632
Some of those steps will only be done once at startup (e.g. clone). Could you get the timing also of a second run?

[2019-07-05 05:48] trampfox commented on #292
Hi @marco-c, I started working on it. I'll shout if I'll need any kind of help :)

[2019-07-05 11:05] marco-c opened #674 "Try using doc2vec as similarity algorithm"
After #637, we should try with doc2vec too and see what works better.

[2019-07-05 14:32] Lothiraldan commented on #608
There is one open PR with the start of the specification of the API: https://github.com/mozilla/bugbug/pull/617 and some doc on top of that.

The API spec might change when we will starts classifying commits too.

[2019-07-05 15:01] Lothiraldan commented on #632
Here are the extracted timings for the raw timings pasted in top.

# Run 1

The repository was not there nor the DB.

Total time: 28 minutes 30 seconds

* Repository clone: 27 minutes 40 seconds
* Iterating on all commit: 16.96 seconds.
* Download all the commits before applying the patch: 30.99 seconds.

Then the run failed because I didn't had a phabricator token.

# Run 2

The repository was cl

[2019-07-05 15:51] Lothiraldan commented on #632
Here is the timings from `bugbug.repository.download_commits`, bear in mind that it is called two times, one before applying the patch and one after:

Timings:

Total time: 41.10s per call.

* Getting the first commit node: 1.49s per call.
* Getting the log of commits: 6.12s per call.
* Downloading the component mapping: 2.90s per call.
* Computing the experiences: 28.87s per call.
* Transformatin

[2019-07-05 15:57] Lothiraldan commented on #632
`bugbug.repository.calculate_experiences` time seems mostly taken by loading the experience pickle file (66%) and dumping it (32.9%).

[2019-07-05 16:28] trampfox commented on #292
@marco-c I’m struggling with the installation of `rs_parsepatch` on Alpine Linux.
I managed to replace all the `apt-get` commands with the `apk` ones, but I got this error during the docker build:
[code]

It seems that pip (inside the container) is not able to find `rs_parsepatch`, but this error doesn’t occur if I try to install it locally on my machine or with the `python:3.7-slim` as base image

[2019-07-05 19:27] Lothiraldan commented on #292
@trampfox `rs_parsepatch` is packaged as pre-compiled wheels only (https://pypi.org/project/rs_parsepatch/#files), I don't know enough about Alpine to know how it affects the installation of pre-compiled wheels but you can pass the `--verbose` flag to debug the installation, it will explains why pip choose to not use the file ` rs_parsepatch-0.2.2-cp37-cp37m-manylinux1_x86_64.whl`.

[2019-07-07 06:52] chidauri commented on #426
@marco-c
__________________________________________________________________________________Before changes__________________________________________________________________________________

70 bugs have no steps to reproduce
2356 bugs have steps to reproduce
X: (2426, 61217), y: (2426,)
Cross Validation scores:
Accuracy: f0.7150714840551717 (+/- 0.05481197137931066)
Precision: f0.989552280294159 (+

[2019-07-07 06:57] chidauri commented on #426
https://github.com/mozilla/bugbug/blob/d102ccfa54cbb5de660c0d1a9d7b4171bb9ac392/bugbug/models/stepstoreproduce.py#L77-L80
These aren't contributing anything to labels when i tested, so didn't implement Point 1 for now . These results are for Point 2 above.

[2019-07-08 06:36] Goku2699 commented on #674
@marco-c   is this issue resolved or still on? I'm new to open source so need your help to make some contributions.

[2019-07-08 09:39] marco-c commented on #674
No, it's not resolved yet. It depends on #637, so that one must be fixed first before fixing this one.
Once that is fixed, something similar needs to be done but using doc2vec instead of word2vec.

[2019-07-08 09:57] marco-c commented on #426
Thanks, so it looks like in general the number of bugs for both point 1 and point 2 is small (I see your dataset went from 2426 to 2438 bugs).
Anyway, this is worth implementing as for other models it could be important.

[2019-07-08 10:11] marco-c commented on #632
Getting the log of commits: 6.12s per call.
    Downloading the component mapping: 2.90s per call.
    Computing the experiences: 28.87s per call.
    Transformating the commits: 1.31s per call.

We could do a few of these steps only periodically (e.g. once per day) given that the data won't change much between two subsequent runs.
`Getting the log of commits` can be sped up by avoiding using mult

[2019-07-08 10:24] #637 closed

[2019-07-08 10:25] ayush-1506 opened #677 "Experiment with cut-off for word2vec with wmdistance similarity"

[2019-07-08 10:26] ayush-1506 commented on #674
@Goku2699 #637 is done. Feel free to give this a try.

[2019-07-08 12:04] Lothiraldan opened #679 "Custom RQ job key do not expires in Redis"
While checking the DB, I saw that RQ store custom key as simple string pointing to their own keys. The custom key (which name is controlled by us) is not expired after a time and it might be an issue some case (like the result expired but not the enqueing key).

[2019-07-08 12:19] Purnika41 commented on #433
This issue is still open. May I take up this issue?

[2019-07-08 12:22] ayush-1506 commented on #433
Yep, sure. Feel free to work on this. (As I mentioned above, you can work on any issue that doesn't have a PR open against it.)

[2019-07-08 15:04] ayush-1506 commented on #677
@marco-c I tried linear search on a range from 0.15 to 0.75 with a step of 0.05. Results attached:
[cutoff_results.zip](https://github.com/mozilla/bugbug/files/3368990/cutoff_results.zip)

[2019-07-08 16:08] marco-c commented on #677
[code]

[2019-07-08 16:09] marco-c commented on #677
The results look better than for the NN case, at least we have a way to achieve a "reasonable" precision. I'd set 0,2 or 0,25 by default.

[2019-07-08 17:37] Purnika41 commented on #433
@ayush-1506 While setting up the repo, I am facing a File-not-found error.
FileNotFoundError: [Errno 2] No such file or directory: 'defectmodel'
I am unable to figure out where this error is occurring.

[2019-07-08 17:41] ayush-1506 commented on #433
`python run.py --train --goal=defect` will download the entire DB and save the model.

[2019-07-08 17:41] Purnika41 commented on #433
Thanks !!

[2019-07-09 08:12] harsh020 commented on #433
@ayush-1506 I'm a complete beginner in open source, will it be alright if I try to fix this bug.
And I would be very grateful if you helped me a bit as I'm trying to contribute to open source for over an year but every time I open a bug, I'm lost. I would be great pain but please bear with me and help me solve my first bug.

[2019-07-09 09:16] #672 closed

[2019-07-09 10:11] #677 closed

[2019-07-09 10:24] ayush-1506 commented on #433
Sure, go ahead. For this particular bug you can take inspiration from #607. You may also join the #bugbug channel on mozilla-irc to know more.

[2019-07-09 10:25] ayush-1506 commented on #433
There's actually a PR open for this. But feel free to take up any other issue. You may also join the #bugbug channel on mozilla-irc.

[2019-07-10 13:38] ayush-1506 commented on #631
Some examples of missed bugs: (bugs that are actually duplicate but aren't classified as duplicate by the model)

1. [1320978](https://bugzilla.mozilla.org/show_bug.cgi?id=1320978) and [1320006](https://bugzilla.mozilla.org/show_bug.cgi?id=1320006) Distance calculated : 0.5698

2. [1320041](https://bugzilla.mozilla.org/show_bug.cgi?id=1320041) and [1320112](https://bugzilla.mozilla.org/show_bug.cg

[2019-07-10 13:49] ayush-1506 commented on #631
4. [1320332](https://bugzilla.mozilla.org/show_bug.cgi?id=1320332) and [1336375](https://bugzilla.mozilla.org/show_bug.cgi?id=1320332) Distance calculated : 0.544

[2019-07-10 14:43] marco-c opened #685 "Add 'files' to regressor features"
I've removed it in 66c496bb25b69ca4b42333ee365755f49faf62fd so that I could enable feature importance for the model.
In order to add it back, we need to implement something similar to TfIdfVectorizer's min_df parameter and only consider files that are most often modified.

[2019-07-10 14:54] marco-c commented on #647
@trampfox if you're still interested in finishing this up, we need to make sure the scripts/commit_classifier.py script works too.

In order to test it, you need to run it setting the following environment variables:
BUGBUG_PHABRICATOR_URL=https://phabricator.services.mozilla.com/api/
BUGBUG_PHABRICATOR_TOKEN=YOUR_API_TOKEN_CREATED_ON_https://phabricator.services.mozilla.com/

Then you can run it

[2019-07-10 20:27] trampfox commented on #647
Ok, I'll take care of it.

[2019-07-10 23:39] marco-c commented on #647
@trampfox it was actually an unrelated error, so I've reverted the revert. We can call this fixed!

[2019-07-10 23:39] #647 closed

[2019-07-10 23:40] marco-c opened #688 "commit_classifier should fail more clearly when a patch fails to apply"
Here's a failure when analyzying diff 2092:
[code]

Probably the patch failed to apply and mercurial tried to run vi to let the user solve conflicts.

[2019-07-11 11:40] ayush-1506 commented on #631
Some other examples:

5.[1320500](https://bugzilla.mozilla.org/show_bug.cgi?id=1320500) and [1320485](https://bugzilla.mozilla.org/show_bug.cgi?id=1320485)

6. [1320401](https://bugzilla.mozilla.org/show_bug.cgi?id=1320401) and [1324301](https://bugzilla.mozilla.org/show_bug.cgi?id=1324301)

7. [1322357](https://bugzilla.mozilla.org/show_bug.cgi?id=1322357) and [1320048](https://bugzilla.mozilla.o

[2019-07-11 13:42] #577 closed

[2019-07-11 16:45] kanurag94 commented on #633
Hi @marco-c, I would like to work on it , can I take this up please?

[2019-07-12 08:06] marco-c opened #690 "trainer script should download bugs DB too for models which use commits and bugs"
For example, the backout model training is failing:
[code]

[2019-07-12 08:19] #690 closed

[2019-07-12 09:26] marco-c commented on #523
Some possible features:
- [ ] "same_product", which is True when the product of the two bugs is the same;
- [ ] "same_component", which is True when both the product and the component of the two bugs are the same;
- [ ] "same_platform";
- [ ] "same_os";
- [ ] "same_version";
- [ ] "same_target";
- [ ] "same_first_affected_version";
- [ ] "shared_keywords" list of keywords that are in both bugs;
-

[2019-07-12 09:54] marco-c commented on #633
@kanurag94 yes, read the contributing guidelines (CONTRIBUTING.md).

[2019-07-12 12:17] #633 closed

[2019-07-12 17:43] kanurag94 commented on #437
Hi @ayush-1506 , Can you help me with why #693 is failing?

[2019-07-13 19:02] chidauri commented on #404
when running bugtype model , this is the error i get with confusion matrix :(

Cross Validation scores:
Accuracy: f0.9721228442842706 (+/- 0.004838766883424093)
X_train: (15102, 22897), y_train: (15102, 4)
X_test: (1511, 22897), y_test: (1511, 4)
Test Set scores:
No confidence threshold - 1511 classified
Traceback (most recent call last):
  File "run.py", line 159, in <module>
    main(parse_args(

[2019-07-13 19:28] marco-c commented on #404
@chidauri could you file a new issue about this error?

[2019-07-13 19:42] chidauri opened #697 "Fix confusion matrix for multi-label models like bugtype"
**This is the error.**

File "run.py", line 159, in
main(parse_args(sys.argv[1:]))
File "run.py", line 90, in main
model.train()
File "/home/harshit/Documents/bugbug/bugbug/model.py", line 256, in train
confusion_matrix = metrics.confusion_matrix(y_test, y_pred, labels=class_names)
File "/home/harshit/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py", line 255, in confusion_mat

[2019-07-13 21:24] probaku1234 commented on #674
I'm trying to run the word2vec code, but `bugzilla.get_bugs()` in init function returns nothing and because of that error pops up.

[2019-07-13 22:03] marco-c commented on #674
You should train a model first, so that the bugs DB will be downloaded.
[code]

[2019-07-13 22:23] probaku1234 commented on #674
I downloaded db with that code but still it gets nothing.

[2019-07-13 22:30] marco-c commented on #343
Also worth investigating: https://arxiv.org/abs/1704.04368.

[2019-07-14 00:34] marco-c commented on #674
Can you post the output of `ls -al data/`?
What error pops up?

Try to give as much info as possible, otherwise it'll be hard to help you :)

[2019-07-14 01:07] probaku1234 commented on #674
This is the result of ls
[code]
This is the error traceback
[code]

[2019-07-14 07:19] kanurag94 opened #698 "Update tests/bugs.json to include test cases for Uplift model"
The current mock DB bugs_id aren't present in original bugs.json or vice versa.

[2019-07-14 09:19] marco-c commented on #698
This is part of #437.

[2019-07-14 09:19] #698 closed

[2019-07-14 10:04] ayush-1506 commented on #674
@probaku1234 Are you in the correct directory? `bugzilla.get_bugs()` works only when you are in `bugbug/`. From the root directory of this project, run `python scripts/evaluate_similarity.py --algorithm=word2vec_wmd`.

[2019-07-14 14:53] probaku1234 commented on #674
If I run `python scripts/evaluate_similarity.py --algorithm=word2vec_wmd` or `python3 scripts/evaluate_similarity.py --algorithm=word2vec_wmd`, I get the error below
[code]

[2019-07-14 16:24] ayush-1506 commented on #674
@probaku1234 Have you added bugbug to you pythonpath? If you're on linux, open the .bashrc file and add
`export PYTHONPATH=path_to_bugbug_directory`.

[2019-07-14 17:01] probaku1234 commented on #674
@ayush-1506 So....the error is gone now. But output on console shows below result and the program keep running.
[code]

[2019-07-14 17:10] ayush-1506 commented on #674
@probaku1234 Yes! That's because the vocabulary is pretty bug, so it takes time to build the word2vec model. For testing, you can use a smaller portion of the bug dataset.

[2019-07-14 17:27] probaku1234 commented on #674
@ayush-1506  Oh..I see. Then how can I set to use small portion of the dataset?

[2019-07-14 18:36] ayush-1506 commented on #674
@probaku1234 Add  `from itertools import islice`in the similarity.py file and replace https://github.com/mozilla/bugbug/blob/master/bugbug/similarity.py#L191 with `for bug in islice(bugzilla.get_bugs(), 15000)`, so this will use only the first 15000 bugs.

[2019-07-14 18:46] ayush-1506 commented on #674
(There isn't an option, you'll have to do it manually)

[2019-07-15 11:13] marco-c opened #701 "trigger_again should retrigger dependent tasks in the same group"
Instead of retriggering the whole hook, we could retrigger specific dependencies only. This could be complex if the pipeline is complex.

Follow-up to #700.

[2019-07-15 11:14] marco-c opened #702 "Spawn pipeline tasks should not spawn a pipeline if a previous one is still running"
Follow-up to #700.

[2019-07-15 12:01] #652 closed

[2019-07-15 15:30] marco-c opened #704 "Show labelled confusion matrix"
Currently the output is something like:
[code]
Instead, it would be better to use tabulate to show something like the table on this page: https://en.wikipedia.org/wiki/Confusion_matrix#Example.

[2019-07-15 15:33] marco-c opened #705 "Investigate Positive-Unlabeled learning for some models"
For example, it could help with the regression model (where we have a lot of 'regression' bugs but very few examples of 'non-regression' bugs) or with the bugtype model (where we have, for example, a lot of examples of "perf" bugs but few examples of "non-perf" bugs [we are currently considering bugs with no "perf" keyword as being non-perf, but this could be an over-simplification]).

[2019-07-15 15:35] marco-c opened #706 "Multi-instance learning for classifying individual commits as bug-fixing"
Currently, we classify bugs as defects/non-defects and all commits associated to that bug as bug-fixing or not.
In theory, there could be, for example, a refactoring commit and then a bug-fixing commit both associated to the same bug, so we should classify individual commits instead to be more precise.

Multi-instance learning can help with this, since we have a lot of labels for set of commits (b

[2019-07-15 21:29] #437 closed

[2019-07-15 22:43] marco-c commented on #705
The dev-doc-needed one is another model which could benefit from this.

[2019-07-15 23:30] marco-c commented on #631
I wouldn't have said they were duplicate :P

Indeed!

Same here...

[2019-07-16 00:28] marco-c commented on #631
These two are a bit more similar. I wonder if they are still missed if we stop cleaning URLs.

Another thing we could try is improving our stopwords (adding some custom ones, like "Firefox"), I don't know if the ones in nltk are good, but I know the ones in scikit-learn are not.

I have a few other ideas that I'll file as issues.

[2019-07-16 00:29] marco-c commented on #631
These are almost the same in terms of first comment! What was the distance between them?

[2019-07-16 00:30] marco-c commented on #631
These are quite different in wording, one is even sarcastic, so it's probably hard. What was the distance?

[2019-07-16 00:32] marco-c commented on #631
What was the distance here? This is a safer miss I think.

[2019-07-16 07:50] harsh020 commented on #704
@marco-c That would be nice enhancement. I'm a new open source contributor just want to ask few things.
1. Why don't we just create a heatmap instead of tabulating it confusion matrix, as it would be easy to implement as well as more attractive as -
![Screen Shot 2019-07-16 at 1 15 27 PM](https://user-images.githubusercontent.com/39561084/61275722-2a846f00-a7cc-11e9-9b1d-aad74fa94372.png)

2. If y

[2019-07-16 07:58] harsh020 commented on #704
@marco-c Are you looking for a terminal-integrated output (i.e the output should be displayed only within terminal) or a heatmap will suffice?
![Screen Shot 2019-07-16 at 1 15 27 PM](https://user-images.githubusercontent.com/39561084/61276406-99ae9300-a7cd-11e9-92a7-e7a5c4d18d66.png)

[2019-07-16 09:19] marco-c commented on #704
@harsh020 I'd prefer a cli output. It looks like there is already a PR for this (#707), so you could pick up some other good-first-issue.

[2019-07-16 09:40] marco-c opened #709 "Add an option not to cleanup URLs for the Duplicate model"
In the duplicate case, having two equal URL can be a strong indication that two bugs are the same.

[2019-07-16 09:42] marco-c opened #710 "Improve stopword removal in the similarity script"
We should check what stopwords nltk is using, see if some of them are actually meaningful for us, and add new ones (e.g. "Firefox" could probably be considered as a stopword for us, since it's everywhere :P).

[2019-07-16 09:42] marco-c opened #711 "Consider title and first comment separately"
Similarity between titles might be more important than similarity between first comments.

[2019-07-16 09:43] marco-c opened #712 "Try LDA as a similarity algorithm"
It might work better in our case as the first comments are often pretty long, maybe WMD doesn't work so well in those cases.

[2019-07-16 09:44] marco-c opened #713 "Use nltk tokenizer instead of manually `split()`"

[2019-07-16 09:45] marco-c opened #714 "Try initializing word2vec model with pre-trained weights"
And fine-tune it on our dataset.

[2019-07-16 09:45] marco-c opened #715 "Try using Spacy lemmatization for similarity"

[2019-07-16 09:49] marco-c opened #716 "Use some categorical features too for similarity calculation"
See also #523.

[2019-07-16 10:14] marco-c opened #717 "Calculate other metrics for the similarity models"
In the evaluation phase, we should compute:
- recall rate @ 1
- recall rate @ 5
- recall rate @ 10
- precision @ 1
- precision @ 5
- precision @ 10
- MAP

[2019-07-16 12:10] marco-c commented on #705
And the tracking model.

[2019-07-16 15:13] #685 closed

[2019-07-16 16:03] marco-c opened #720 "Use some whiteboard values as labels for the bugtype model"
E.g. `fxperf` in the whiteboard means that the bug is a performance bug.

[2019-07-16 18:33] harsh020 commented on #714
@marco-c Hey, since I can't find any other good-first issue I'm here. I'm very new to open source contribution (I know git/github) and I've been studying ML (not very long, currently I'm taking Andrew Ng' course, and have studies NN).
That being said, what you want here is to create another word2vec nn train it over our data, store the resultant weights and use those stores weights to in our word2

[2019-07-16 21:56] marco-c commented on #646
This was fixed by 830d88b1ebe96688048af3d3c654df2c8a364f21.

[2019-07-16 21:56] #646 closed

[2019-07-16 21:59] marco-c commented on #517
We have a few similarity algorithms implemented now.

[2019-07-16 21:59] #517 closed

[2019-07-16 22:04] marco-c commented on #667
This was fixed.

[2019-07-16 22:04] #667 closed

[2019-07-16 22:06] marco-c commented on #324
Waiting on https://bugzilla.mozilla.org/show_bug.cgi?id=1565503.

[2019-07-16 22:34] marco-c commented on #298
This is a good-first-bug for somebody who's really familiar with git.

[2019-07-16 22:35] marco-c commented on #258
@La0 what do you think? I think we can close this.

[2019-07-17 04:31] chidauri commented on #455
@marco-c we return bug["qa_contact"] == bug["creator"], are there more cases?

[2019-07-17 07:56] chidauri commented on #697
@marco-c fixed confusion_matrix problem by using multilabel_confusion_matrix but then imblearn doesn't support multilabel :(

[2019-07-17 08:24] Lothiraldan commented on #697
@marco-c Where did you replaced the call from `confusion_matrix` to `multilabel_confusion_matrix` and do we need to update the tracking metrics?

[2019-07-17 08:28] chidauri commented on #697
@Lothiraldan i meant i fixed it on my own clone , no change to this repo , sorry :P

[2019-07-17 09:40] marco-c commented on #455
@chidauri `qa_contact`, when not empty, is just one of the QA people, but there are many others. I'm not fully sure how to solve this yet as I don't know if we have a list of QA people somewhere...

[2019-07-17 10:40] marco-c opened #723 "Enable responses automatically for all tests"
We can use pytest-responses to do this.

[2019-07-17 10:50] marco-c opened #724 "Need a better way to handle options"
Currently whenever we add an option we need to add a new argument to run.py, add a new parameter to all model classes, etc..
We should find a better way to have complex configuration.

[2019-07-17 10:55] marco-c opened #725 "Add an option not to cleanup URLs for similarity"
In the duplicate case, having two equal URL can be a strong indication that two bugs are the same.

See also #709.

[2019-07-17 11:33] #709 closed

[2019-07-17 12:31] marco-c commented on #697
@chidauri we can skip the imblearn call when the model is multilabel

[2019-07-17 12:44] #704 closed

[2019-07-18 09:42] #608 closed

[2019-07-18 12:55] ayush-1506 opened #730 "Add tests for couple feature extractors"
Tests for all feature extractors mentioned in #523.

[2019-07-18 17:29] marco-c opened #732 "Define class names in the models so we can use them for feature importance"
Follow-up to #662.

[2019-07-18 20:21] marco-c opened #733 "In the trainer script, use db.download instead of implementing download manually"
script/trainer.py is currently implementing DB download manually, it should instead use db.download (similarly to scripts/commit_classifier.py).

[2019-07-19 10:23] marco-c opened #735 "Test switching from ProcessPoolExecutor to ThreadPoolExecutor in the repository mining script"
The work done in the workers is actually I/O bound (communication with the HG command server), so using threads might be much better than using processes.

[2019-07-19 12:58] #732 closed

[2019-07-19 13:14] kanurag94 commented on #733
Would it make sense to just use bug_retriever.retriever?

[2019-07-19 13:38] marco-c commented on #733
No, bug_retriever is the script which is generating the DB, we don't want to regenerate it again on training.

[2019-07-19 14:05] #717 closed

[2019-07-19 14:06] marco-c opened #738 "Comparison between similarity models"
We should check where we stand and compare the similarity models (with all bugs).

[2019-07-19 15:18] marco-c opened #747 "Move zstandard compression and decompression into utils module"
We want to move code such as https://github.com/mozilla/bugbug/blob/660935c0dbb4703ff71c1669767e5afd8a57f40e/scripts/trainer.py#L19-L23, which is duplicated in several places, in utils.py and use it in place of the duplicated code.

[2019-07-19 15:23] marco-c commented on #735
Partially done in https://github.com/mozilla/bugbug/pull/737, we need to check if it makes sense for the other usage too.

[2019-07-19 18:18] marco-c opened #749 "Switch to pickle DBs"
They should be faster to read and write (we need to confirm).

[2019-07-19 20:13] kanurag94 commented on #747
Only zst or the compression and decompression function? (including gzip)

[2019-07-19 23:21] dishvyas commented on #747
Can this bug be assigned to me??

[2019-07-20 06:48] chidauri commented on #747
@dishvyas Issues are considered not assigned, until there is a PR linked to them. Feel free to work on any unassigned "good-first-bug" issue.

[2019-07-20 09:53] ayush-1506 commented on #738
For comparing on all bugs, I'm trying to run the models on colab. I'll let you know when I have some results. (The colab session keeps terminating for some reason.)

[2019-07-20 10:43] dishvyas commented on #747
So do i need to just move the zstd calls from other files and create a function in utils module that can be used to carry out compression and decompression??

[2019-07-21 22:34] thedeveloperr commented on #298
Hey I would like to work on it. I am new to bugbug, would like to take a try. Can you please assign it to me ? Also if possible some guidance or tips for an absolute new contributor to bugbug like me. 😅

[2019-07-22 09:39] marco-c commented on #298
Hello @thedeveloperr, you can work on any issue that you see open, but issues are not assigned until there is a PR open to fix them (see CONTRIBUTING.md).

To fix this, https://github.com/mozilla/bugbug/blob/331aa50f1fa5e142bd0870ede25721c8bda6a54a/.taskcluster.yml#L46 needs to be done.

[2019-07-22 09:42] #733 closed

[2019-07-22 10:36] marco-c commented on #747
We want to move code such as https://github.com/mozilla/bugbug/blob/660935c0dbb4703ff71c1669767e5afd8a57f40e/scripts/trainer.py#L19-L23, which is duplicated in several places, in utils.py and use it in place of the duplicated code.

[2019-07-22 12:28] ayush-1506 commented on #738
Ok, so I was able to get the result for the LSI model (before the notebook terminated, so I've restarted it for another model now):
[code]

[2019-07-22 13:35] marco-c opened #765 "Invalidate cache when a bug changes"
Otherwise we risk making an obsolete prediction for a bug.

[2019-07-22 20:08] marco-c opened #769 "Close connections to the hg server once the process pool is terminated"
Similar to ec6ffeb38f6778f95f5a76ebc2ba331d27cf5cac, but for the process pool.

[2019-07-22 20:56] marco-c commented on #735
The other usage is faster with multiple processes, probably because we're parsing the patches.

[2019-07-22 20:56] #735 closed

[2019-07-23 09:27] #162 closed

[2019-07-23 09:47] ayush-1506 commented on #738
Got the Neighbors model results!
[code]

[2019-07-23 11:46] marco-c opened #771 "Evaluate considering backouts as bug-fixing and backed-out patches as bug-introducing"

[2019-07-23 11:47] marco-c opened #772 "Automatically evaluate SZZ results using regressed-by information"

[2019-07-23 14:58] harsh020 commented on #769
Hey, as there are no PRs open for this issue can I take it? If yes, I need a bit help as this will be my first open source contribution. (I'm reading the contribution docs). Just a question, the clear function (@ line 757), tends to open the hg server, we need to close it there?
The clone function (@ line 776), is it building the repo if not already existing, so we also need to close the hg server

[2019-07-23 15:40] harsh020 commented on #769
@marco-c Hey, as there is no PR for this issue I would like to take it.
As this is my very first open source contribution I would be very grateful if you helped me out. I went through the file repository.py but still am not clear where should I close the hg server, is it in the clear function at line 757?

[2019-07-23 22:03] marco-c commented on #769
Yes, it's 2.
In 1 we are already closing the hg server, as we are using a context manager https://github.com/mozilla/bugbug/blob/17ff6ed31569fa893e13b8a1140bd1f458765a70/bugbug/repository.py#L758.

@harsh020 note that this is a good-first-issue as it is self-contained, but it is not a good-first-issue if you don't have experience with Python and knowledge of how multiprocessing works. Feel free to

[2019-07-24 04:24] harsh020 commented on #769
@marco-c Sorry, I did not notice that.

Well, I've been working with python for about two years (yup, not too much experience) and I'll read more about multiprocessing, not a problem.

I'm not thinking to declare a global variable, but the `_init` function itself has a `global HG`, should I simply append them in a list and close all of the servers before returning the commits?

[2019-07-24 09:11] marco-c commented on #769
OK! Note: for `multiprocessing` I'm not just talking about the `multiprocessing` module, but concepts about working with multiple processes in general, if you don't know them you'll need to read about them too.

Sure, you can do that, but you need to share the list between all processes.

[2019-07-24 09:42] marco-c commented on #705
And the stepstoreproduce and the regressionrange model.

[2019-07-24 10:25] #697 closed

[2019-07-24 11:09] marco-c commented on #523
We can call this fixed, we can open new issues if we think about additional features to consider.

[2019-07-24 11:09] #523 closed

[2019-07-24 11:25] #725 closed

[2019-07-24 11:47] harsh020 commented on #769
Yes, I'm on it. Threading (drawbacks bcs of GIL) and multiprocessing.

I was thinking of creating a global list to make it accessible to all process like in the link you provided.

[2019-07-24 12:19] marco-c commented on #769
As I said earlier, a global list won't work because global variables are not shared between processes. Each process will have its own copy.

[2019-07-24 12:46] harsh020 commented on #769
@marco-c Won't just declaring the list outside the function do the job? Thats interesting.

Thanks.

[2019-07-24 17:24] marco-c opened #781 "Try different multilabel classification algorithms for the BugType model"
There are a few approaches outlined at https://towardsdatascience.com/journey-to-the-center-of-multi-label-classification-384c40229bff.

#40 is related and could also be interesting.

[2019-07-24 19:02] #627 closed

[2019-07-24 23:49] #772 closed

[2019-07-25 15:07] marco-c opened #785 "Regenerate commits DB after https://phabricator.services.mozilla.com/D39358 lands"
https://phabricator.services.mozilla.com/D39358 is fixing the detection of bugs linked to certain commits.

[2019-07-25 21:58] #785 closed

[2019-07-26 11:41] ayush-1506 commented on #631
I'm having some trouble calculating the distance. I'll try to get around this.

[2019-07-26 12:49] marco-c opened #792 "Restrict the training set of the StepsToReproduce model only to defects"
Given that STRs don't apply to enhancement or task.

[2019-07-26 12:50] marco-c opened #793 "Restrict the training set of the RegressionRange model only to regressions"

[2019-07-26 14:47] #765 closed

[2019-07-26 22:14] ayush-1506 commented on #631
@marco-c I think it's better to add a method to the Word2Vec model to get similarity distance between two bugs. It'll make it easier to test the model later. What do you reckon?

[2019-07-26 22:37] marco-c commented on #631
Sure, makes sense!

[2019-07-26 22:39] marco-c opened #797 "Failure when getting bugs last change time"
[code]

[2019-07-26 23:20] marco-c opened #799 "Try using https://github.com/src-d/wmd-relax package to calculate WMD"
It's probably faster than our custom implementation, and we can remove a lot of code.

[2019-07-26 23:20] marco-c opened #800 "Try using soft-cosine similarity instead of WMD"
We should compare it with WMD.

[2019-07-27 14:14] Lothiraldan commented on #797
That's the kind of failure we get when the query string is too big for Bugzilla. https://github.com/mozilla/bugbug/pull/794 will enforce the batch size and I will work on the best way to detect such situation.

[2019-07-27 20:56] kanurag94 commented on #292
I have done changes as per alpine requirements and they work fine on running them line by line on python-alpine.
But as soon as I try to compose docker for bugbug, service fails to build from: https://github.com/kanurag94/bugbug/blob/master/infra/dockerfile.commit_retrieval#L13

@Lothiraldan , Can you please help me figure out what's wrong here?

[2019-07-28 10:29] marco-c commented on #797
We could chunk the Bugzilla query.

[2019-07-28 16:28] Lothiraldan commented on #292
@kanurag94 Which error did you encountered?

If you encountered `/bin/sh: 1: apk: not found`, it's because docker-compose used the Debian-based bugbug-base image to build bugbug-commit-retrieval, try running the following command to solves it:

[code]

If you encountered the error:

[code]

Try splitting the command into several `CMD` line to debug it.

[2019-07-28 17:56] kanurag94 commented on #292
@Lothiraldan Thanks, there was a small extra f in rm command. I'll open a PR since this works now locally

[2019-07-29 11:22] ayush-1506 commented on #631
Some distances calculated based on latest changes:
[code]

[2019-07-29 12:13] #713 closed

[2019-07-29 12:14] marco-c commented on #769
@harsh020 I told you this requires a bit of experience with multiprocessing concepts :)

[2019-07-29 12:45] ayush-1506 opened #804 "Error running the LSI/Neighbors similarity model"
Looks like adding an abstractmethod to BaseSimilarity is causing other derived classes (that don't overwrite `get_distance`) to give an error :

[code]

[2019-07-29 13:04] ayush-1506 opened #806 "Implement get_distance method for LSI and Neighbors similarity"
They currently raise  a `NotImplementedError`.

[2019-07-29 13:07] #804 closed

[2019-07-29 13:16] marco-c commented on #631
OK, this one is almost under the cut off value.

This one is bad. Could you check exactly which words make them so different?
E.g. try calculating the difference only between the two titles, then between the two first comments. Check which one is contributing more to the difference.

[2019-07-29 16:32] marco-c commented on #626
This has been mostly done with the commits from https://github.com/mozilla/bugbug/commits/29ed2b4ed8bea4b4587617adb47f6b651c8f2199/scripts/regressor_finder.py.

[2019-07-29 17:36] dishvyas commented on #298
So i need to find a way to run pre-commit on modified files only which will require me to write a function to get the modified files only and then run the command. Am i understanding it wrong or missing something here??

[2019-07-29 17:38] marco-c commented on #298
@dishvyas there is already a PR open to fix this, #791.

[2019-07-30 07:11] snowmanstark commented on #629
hi @marco-c I would like to work on it, can i please take this up?

[2019-07-30 07:49] marco-c commented on #629
@snowmanstark sure, read CONTRIBUTING.md.

[2019-07-30 11:41] ayush-1506 commented on #769
@harsh020 Multiprocessing has `Value` and `Array` that gets shared between processes. Global variables aren't shared since each process has it's own copy.

[2019-07-30 12:18] #298 closed

[2019-07-30 13:59] #800 closed

[2019-07-31 02:09] cklyyung commented on #339
Seems like args.classify and args.generate_sheet could be split into scripts called bug_classifier.py and generate_sheet.py (or some other names along those lines). However, both of these require a trained model. Do you want these scripts to call the trainer.py script to train the models if the file can't be loaded? Or should the user be informed that the model should be trained beforehand by runn

[2019-07-31 07:59] marco-c commented on #339
This one!

[2019-07-31 11:55] villmow commented on #212
Hi, I just stumbled on your nice project and am currently trying to find myself around. I'm getting a similar error when running repository.py:

[code]

I'm using python3 on Ubuntu. I executed `hg pull central` in the mercurial-central repository, however I'm not able to execute `hg up central` (I executed the vcs-setup). The output is:
[code]

How shall I proceed from here? I can catch every exce

[2019-07-31 12:07] marco-c commented on #212
It looks like the mercurial extensions are not working (see the `failed to import extension ...` messages).
Which version of Mercurial are you using?

[2019-07-31 12:53] villmow opened #811 "Pyemd is missing in requirements"
The library pyemd is missing in the requirements (used in evaluate_similarity.py).

[2019-07-31 12:57] marco-c commented on #811
Thanks for noticing! We should add it to extra-nlp-requirements.txt.

[2019-07-31 13:29] villmow opened #812 "Questions from a newbie: How to setup project"
Hi guys, first of all nice project. I'm a researcher in nlp in the context of software engineering so this projects fits quite nicely. I'm trying to investigate if I can contribute something.

I'm currently having some issues setting up the project to be able to work on it and understanding how the components work together (I'm new to the mozilla project structure):
 1. Which mercurial version is

[2019-07-31 13:31] ayush-1506 commented on #811
(Although this won't be a requirement once #813 is merged)

[2019-07-31 13:45] ayush-1506 commented on #812
Hey. I'll try to answer as many as I can.

1 : Mercurial 4.8.2

3.1 : There are two main data files: data/bugs.json and data/commits.json, that store the bug and commit data. These are the ones used as input to the models.

3.2 : Right now we use train_test_split for randomly getting the train, test data. (See [here](https://github.com/mozilla/bugbug/blob/master/bugbug/model.py#L301))

3.3 : Once

[2019-07-31 14:02] villmow commented on #812
Hi, thanks for your answers!

So I understand that the commits.json file is generated by the repository script and you keep an updated version to download. Then I don't really need mercurial right?

Just putting it together for defects: Under `bugbug/labels/bug_nobug.csv` you have labels for some bugs. For training you're using only the bugs that have labels in that file or does any bug returned b

[2019-07-31 14:04] marco-c commented on #812
Hello, and welcome! Are you interested in something in particular?

@ayush-1506 already answered to everything, except:

You can if you want (and it can definitely help especially if you want to work on the repository mining script), but it's not required.

Regarding Mercurial, I think we support anything starting from 4.8, but I haven't tested anything newer than that (and on CI and in production

[2019-07-31 14:08] ayush-1506 commented on #812
You don't need mercurial unless you're working on functionalities in the repository script.

The labels in `bugbug/labels/bug_nobug.csv` are ones that have been manually collected. However, the data for the defect model comes from this file, along with identifying some keywords that bugzilla provides (so we iterate through our bugs DB to collect more data points too).

More on this : https://githu

[2019-07-31 17:59] harsh020 commented on #769
@marco-c Sorry for the delayed reply, I'm still studying the concepts and won't open any PR without informing you the approach.

Yup, very true.

Thanks.

[2019-07-31 18:00] harsh020 commented on #769
@ayush-1506 Yup, I read about it, thats an amazing (yet annoying ) thing.
Thanks for telling me.

[2019-07-31 23:54] cklyyung commented on #339
I think this will be easier to review if it's broken into multiple PRs. I plan to divide this into:

- [ ] generate_sheet.py

- [ ] bug_classifier.py

- [ ] add extra functionality to trainer.py

- [ ] remove run.py and update readme

I can do it in one PR if you'd prefer though.

[2019-08-01 06:47] villmow commented on #811
Maybe note that this project requires Python > 3.7. For example for the initializer kwarg on this line: https://github.com/mozilla/bugbug/blob/001fba1242f2467defcb32a2bb644c1cc385a140/bugbug/repository.py#L659

[2019-08-01 08:10] marco-c commented on #811
It's specified in setup.py, but I guess specifying it in the README also won't hurt.

[2019-08-01 08:13] marco-c commented on #812
I've pushed a few commits to clarify some of your questions in the README. I'm closing this but feel free to keep asking questions if you need.

[2019-08-01 08:13] #812 closed

[2019-08-01 08:18] marco-c commented on #339
Yeah, breaking into multiple PRs is the best option!

[2019-08-01 12:49] marco-c opened #821 "Add configuration parameters to generate_sheet script"
We should make a couple of things configurable:
- the time span (currently it's one week);
- the confidence threshold (currently it's 0.7).

[2019-08-01 12:49] marco-c opened #822 "Make generate_sheet support multiclass models"
At the moment, generate_sheet is assuming a binary model.

[2019-08-01 14:48] marco-c commented on #492
Fixed by 0e43fb69a2fe09b45531c15fad932b4d1a4fa6e1 (#737).

[2019-08-01 14:48] #492 closed

[2019-08-01 14:58] La0 commented on #258
Yes, we can.

[2019-08-01 14:58] #258 closed

[2019-08-01 15:06] #614 closed

[2019-08-01 15:06] #422 closed

[2019-08-01 15:10] WaxXwing commented on #821
Hey @marco-c!
This is my first time in open source and I would really like to contribute to this.
I guess passing the time span and threshold as arguments will do?

[2019-08-01 15:22] Lothiraldan commented on #797
It should be fixed by https://github.com/mozilla/bugbug/pull/794 at least temporarily. When the bug ids will start to reach around 1,000,000, the query string will get too big and we will need to batch the calls to Bugzilla anyway.

[2019-08-01 15:23] marco-c commented on #821
Yes!

[2019-08-01 16:13] WaxXwing commented on #821
So what next?

[2019-08-01 16:36] WaxXwing commented on #821
Hey @marco-c ,
I wanted to know what might be the range values for the time span?
Will it always be in days?

[2019-08-01 16:38] marco-c commented on #821
Yeah, I think we can make it an int which specifies the number of days.

[2019-08-01 16:54] marco-c commented on #360
For this we need:
1) Plot of the training metrics;
2) Alert when some metric is much worse compared to before.

We can do both in a script that we run in a task at the end of the pipeline.

[2019-08-01 16:55] marco-c opened #824 "Track feature importance along with training metrics"
If a feature suddenly becomes important when it was not important before, or when a feature which was important suddenly disappers, we have some important change in the dataset that we need to manually double check.

[2019-08-01 16:56] marco-c commented on #360
It should be both at per-version and per-date (especially per-date).

[2019-08-01 17:02] WaxXwing commented on #821
Sorry if this is silly, but I can't seem to push my changes to the remote repo

[2019-08-01 17:59] marco-c commented on #821
@WaxXwing you'll need to push your changes to your fork of the repo. I suggest reading a guide on how to use git.

[2019-08-01 18:05] marco-c opened #826 "Clone repositories in parallel"
In scripts/regressor_finder.py and scripts/microannotate_generator.py we could clone the various repositories in parallel using a ThreadPoolExecutor.

[2019-08-01 19:39] Patil2099 commented on #811
Can I work on this? Do I just have to add Pyemd to README File?

[2019-08-01 19:46] marco-c commented on #811
You simply need to add it to the requirements file (the nlp one).

[2019-08-01 19:58] #811 closed

[2019-08-01 20:31] #550 closed

[2019-08-01 21:01] #821 closed

[2019-08-02 08:07] marco-c opened #831 "Add a main function to all our console_scripts so they are more easily runnable"
https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html

We simply need to add:
[code]
at the end of every script.

[2019-08-02 10:06] marco-c opened #832 "Add an option to the bug_classifier script to download the model when it doesn't exist"

[2019-08-02 10:06] marco-c opened #833 "Add an option to the bug_classifier script to classify a specific bug"

[2019-08-02 10:16] marco-c opened #834 "Remove `feature_names` parameter from model.print_feature_importances"
The `print_feature_importances` function can simply access the feature names of the model directly (self.get_human_readable_feature_names()), so the `feature_names` argument is not needed.

[2019-08-02 10:29] marco-c opened #835 "When calculating and showing feature importance, also show the values of the features"
@chidauri you might be interested in this.

[2019-08-02 10:48] RishiMagudia commented on #831
see https://github.com/mozilla/bugbug/pull/837

[2019-08-02 14:39] calixteman commented on #549
Everything is fine with an up-to-date vct and mercurial 5.1.

[2019-08-02 14:41] marco-c commented on #549
We need to actually do the change in https://github.com/mozilla/bugbug/blob/5c848def12d596bd2a8a44425ff781f1d616680c/.taskcluster.yml#L91 and https://github.com/mozilla/bugbug/blob/5c848def12d596bd2a8a44425ff781f1d616680c/infra/dockerfile.commit_retrieval#L9.

[2019-08-02 15:22] #549 closed

[2019-08-02 15:32] marco-c commented on #551
@calixteman tested, and this is still not feasible as vct doesn't fully work with Python 3.

[2019-08-02 22:40] #324 closed

[2019-08-04 13:29] #747 closed

[2019-08-04 20:32] Patil2099 commented on #834
@marco-c  If this is still open can I work on it?

[2019-08-04 20:38] Patil2099 commented on #490
@marco-c  If this issue is still open. Can I work on it ?

[2019-08-05 08:00] chidauri commented on #832
@marco-c `f"https://index.taskcluster.net/v1/task/project.relman.bugbug.train_{model_name}.latest/artifacts/public/{model_file_name}.zst"` is this the right url ?

[2019-08-05 08:06] marco-c commented on #832
Yes, for example https://index.taskcluster.net/v1/task/project.relman.bugbug.train_component.latest/artifacts/public/componentmodel.zst.

[2019-08-05 08:09] chidauri commented on #832
@marco-c for some models it is working fine(`stepstoreproduce`) but for some the zstdecompression isn't working :(

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/harshit/Documents/bugbug/scripts/bug_classifier.py", line 80, in main
    classify_bugs(args.model, args.classifier)
  File "/home/harshit/Documents/bugbug/scripts/bug_classifier.py", line 35, in

[2019-08-05 08:14] marco-c commented on #834
@Patil2099 read CONTRIBUTING.md. You can work on any open issue which has no PR linked to it.

[2019-08-05 08:15] marco-c commented on #490
@Patil2099 read CONTRIBUTING.md. You can work on any open issue which has no PR linked to it.
This one doesn't have a open PR linked to it, so it's not assigned.

[2019-08-05 08:16] marco-c commented on #832
You need to check if the model is available at the URL, not all models are.

[2019-08-05 08:22] #360 closed

[2019-08-05 08:22] #641 closed

[2019-08-05 08:23] marco-c opened #851 "Tune the check for training metrics"
We currently set an arbitrary max 5% worse result, we might need to tune it

[2019-08-05 08:24] marco-c opened #852 "Check training metrics are not getting too bad over a long time"
We have a 5% threshold for each training, but what if a metric gets worse by 50% by going down 4% at a time?
We need some kind of long-term check.

[2019-08-05 08:25] marco-c opened #853 "Check training metrics are not getting too bad between versions"
We're currently checking per-date, maybe we should do between versions too? Or is it redundant?

[2019-08-05 09:49] #835 closed

[2019-08-05 12:27] #490 closed

[2019-08-05 13:39] #832 closed

[2019-08-05 23:20] #339 closed

[2019-08-06 12:11] marco-c opened #858 "Figure out why a cut-off in similarity models decreases both recall and precision"
In theory it should not decrease precision.

[2019-08-06 12:11] marco-c commented on #858
See also #813.

[2019-08-06 12:13] marco-c opened #859 "Train the best similarity model as part of the data pipeline"
Together with the other models we are already training.

[2019-08-06 12:13] marco-c opened #860 "Write a script to find the most similar bugs to an input bug"

[2019-08-06 12:15] marco-c opened #861 "Deploy similarity model in the http service"
We should have an API call in the HTTP service which, given a bug, returns the most similar bugs.

We need to figure out a few things:
1) Where do we store the corpus? How big is it?
2) How do we add new bugs to the pre-existing corpus? We'll need to do it as new bugs are filed every day.

[2019-08-06 12:57] Standard8 opened #862 "Don't update old bugs that are touched and closed straight away"
I've seen this a few times now, most recently on [bug 1362775](https://bugzilla.mozilla.org/show_bug.cgi?id=1362775):

* Bug has sat for a few years without activity.
* Someone finally triages the bug and resolves it (in this case WFM).
* A day or so later, Bugbug comes along and comments that it might be a regression.

Since the bug has been resolved, we shouldn't need to be making sure the regre

[2019-08-06 13:06] ayush-1506 commented on #859
@marco-c Does this mean training a similarity model while initializing/training the duplicate model?

[2019-08-06 13:19] marco-c commented on #859
We can train the similarity model separately (in a separate task).

[2019-08-06 13:19] #799 closed

[2019-08-06 22:55] #826 closed

[2019-08-08 15:53] marco-c commented on #419
https://github.com/slundberg/shap/issues/694

[2019-08-08 15:58] marco-c commented on #371
We now have a mirror repository with comments removed that we could use for this: https://github.com/marco-c/gecko-dev-comments-removed.

[2019-08-08 16:00] marco-c commented on #39
Maybe it could be used through https://github.com/explosion/spacy-pytorch-transformers.

[2019-08-08 17:05] #860 closed

[2019-08-08 17:15] marco-c opened #870 "Make the `similarity_query` script download a pre-trained model"
Depends on #859.

Similarly to the bug_classifier script, the similarity_query should download a pre-trained model when available (or assert that it should be trained first).

[2019-08-08 17:17] marco-c opened #871 "Figure out how to consider new bugs that don't belong to the pre-existing corpus"
We will train the similarity model once a week (or once every two weeks), but new bugs are filed every day and we need to find duplicates between those bugs too (actually, especially between those bugs).

[2019-08-08 17:17] marco-c commented on #861
The pre-requisites for this are #859, #870, #871.

[2019-08-08 18:08] Purnika41 commented on #433
@ayush-1506 I am facing this error while running the train.py script:
-c: error: the following arguments are required: model

[2019-08-08 18:48] ayush-1506 commented on #433
@Purnika41 You need to specify the model too. For example `python -c 'from scripts import trainer; trainer.main()' duplicate` to train the duplicate model.

[2019-08-08 19:33] #833 closed

[2019-08-08 20:08] Purnika41 commented on #433
@ayush-1506 thanks!

[2019-08-09 14:22] kanurag94 opened #875 "Update readme.md with current hg config extensions"
It will be better to provide link to infra/hgrc file and give one example on how to enable the extension

[2019-08-09 14:23] megha-kumarii commented on #875
I would like to work on it, can I take this up?

[2019-08-09 14:36] kanurag94 commented on #875
@megha-kumarii Yes. Let me know if you have any questions.

[2019-08-10 08:37] hesamdev opened #876 "Could not find a version that satisfies the requirement rs_parsepatch"

[2019-08-11 19:08] kanurag94 commented on #876
rs_parsepatch is shipped as manylinux wheel files. You need to enable manylinux if on linux to install rs_parsepatch.
Optionally you can remove it from requirements to complete setup.

[2019-08-15 16:55] dblohm7 opened #883 "Bugbug is confirming unconfirmed bugs"
In bug 1553775, we had an unconfirmed issue. I assigned it to somebody to see if they could reproduce.

At
https://bugzilla.mozilla.org/show_bug.cgi?id=1553775#a6783743_575867
bugbug changed the status to ASSIGNED, which causes Bugzilla to set the confirmed flag to true.

I suppose this is more an issue of policy, but personally I do not think that bugbug should be changing that status away from U

[2019-08-16 10:26] ayush-1506 commented on #871
One way could be to refresh the db every time we try to run a similarity model. Else, we could get a list of all bugs not in db that have been registered before the test bug was added (bugs registered in the past week, for instance) and add these to the list. (Although this will be slow since we'd have to make multiple requests.)

[2019-08-17 18:44] ayush-1506 commented on #876
@calixteman Any plans on having rs_parsepatch work with pip installation on mac?

[2019-08-18 07:52] ayush-1506 commented on #612
I'll try to see how this compares to other algorithms using https://pypi.org/project/rank-bm25/.

[2019-08-20 13:58] chidauri commented on #228
@marco-c i could think of two options:

1. we pass a condition and according to that we change these lines in bug_snapshot.py itself https://github.com/mozilla/bugbug/blob/e2810c24023be4d530f114118c597a93d0fafe47/bugbug/bug_snapshot.py#L840-L844

2. we can add an intermediate step in the pipeline after the BugExtractor is called but before ColumnTransformer , where we change the "comments" column

[2019-08-21 10:18] snowmanstark commented on #629
I encounter the following error while I run `python3 -c 'from scripts import trainer; trainer.main()'`

[code]
Maybe the error is caused due to mercurial version mismatch since the Docker definition at infra/dockerfile.commit_retrieval says `mercurial==5.1` but I didn't find mercurial version 5.1 for ubuntu (WSL)

[2019-08-24 09:13] ayush-1506 commented on #715
Results:

Before changes:
[code]

After changes:
[code]

[2019-08-25 13:41] ayush-1506 commented on #711
@marco-c : Results of running the word2vecwmdrelax model on only the title:
[code]

[2019-08-25 15:03] ayush-1506 commented on #711
Results on both (title + first comment):
[code]

Using only the title doesn't seem to perform very well.

[2019-08-29 10:36] Adrian-Tamas commented on #723
I assume that this would require something similar to what I have done in https://github.com/mozilla/code-review/issues/49 so I would like to help here also

[2019-08-29 14:44] Lothiraldan commented on #853
I don't think we run the training with version N-1 once we deployed version N so we should be covered by the check per-date for regressions.

But it could be helpful to see the difference, if any, between version N-1 and version N. But any change on the accuracy for example could also be due to the new data we trained the model against or the new data we used to test the model.

[2019-09-01 18:52] marco-c commented on #723
Correct! @Adrian-Tamas feel free to work on this!

[2019-09-01 19:29] #875 closed

[2019-09-01 21:55] #851 closed

[2019-09-02 07:52] Adrian-Tamas commented on #723
Hi @marco-c . I am trying to run the tests locally to ensure that everything is ok without pytest-responses and I get errors of missing modules on test collections (infra and apispec - for this there is a TODO move http_service under bugbug) so the only way I can run the tests is using: "pytest --disable-pytest-warnings --ignore http_service/tests/test_app.py --ignore tests/test_hooks.py"

Running

[2019-09-02 10:07] marco-c commented on #883
This kind of change is done by the bot without using bugbug.

[2019-09-02 10:40] marco-c commented on #629
@snowmanstark the error is simply a missing argument. You need to pass the name of the model to train. E.g. `python3 -c 'from scripts import trainer; trainer.main()' defect`.

[2019-09-02 11:03] #612 closed

[2019-09-02 12:08] marco-c commented on #871
Could you do a quick test with the current DB (train a model on the current corpus except the last 1000 bugs, then try to add the last 1000 bugs and do a query on all bugs)

[2019-09-02 12:44] #822 closed

[2019-09-02 12:54] #522 closed

[2019-09-02 12:55] #712 closed

[2019-09-02 13:27] #715 closed

[2019-09-02 14:50] marco-c commented on #711
Did you try to consider them separately? Similiarity between titles and similiarty between first comments.

[2019-09-02 21:39] marco-c commented on #723
I think you simply need to install the HTTP service requirements and they will work: `pip3 install -r http_service/requirements.txt`.

Did you setup Mercurial as specified in the README in the "Running the repository mining script" section?

[2019-09-02 22:05] marco-c commented on #228
The problem we have to solve here is this:
1) At training time, we have the bugs with their full history, so we can train on the first comment only or also train on all other comments;
2) At operation time, we have the bugs with their history up to a certain point (the rest of the history is in the future). We can use the comments which have been made so far.

If we train on all comments, the mode

[2019-09-03 12:12] marco-c opened #922 "Install Mercurial without pip"
Like we are doing in https://github.com/mozilla/code-coverage/blob/master/bot/Dockerfile, we should try changing infra/dockerfile.commit_retrieval to install Mercurial without pip.

[2019-09-04 05:32] dotslash21 commented on #922
I would like to work on this issue. I'm a beginner and this would be my first bug, so I'd very much appreciate any advice on how to get started.

[2019-09-04 07:49] marco-c commented on #922
We want to modify our Dockerfile to stop using pip to install Mercurial, and download it directly like that script does (switching to a script separate of the Dockerfile is out of scope).

[2019-09-04 12:38] #859 closed

[2019-09-04 17:02] pushpy commented on #922
@marco-c I am a total beginner and I also want to contribute to fix this bug. help me here!

[2019-09-04 17:05] pushpy commented on #834
@marco-c I am a complete beginner and I also want to fix this bug.

[2019-09-05 08:47] marco-c commented on #831
We need to do 14908e5a066966af9e2a6d76a3e29c89fcd81f78 for all scripts.

[2019-09-05 08:49] marco-c commented on #922
There is already a PR open to fix this, so the issue is taken. You can work on another good-first-issue (or come back to this if/when the PR gets closed without merging).

[2019-09-05 08:52] marco-c commented on #834
Please read the CONTRIBUTING file like I said above. This issue has a PR open linked to it, so it's taken (you can come back to it if the PR gets closed without merging). You can take any other issue which has no PR linked to it, you don't need to ask to work on an issue (you can ask if you need more information, but please specify what information you need).

[2019-09-05 09:58] marco-c opened #933 "train similarity task fails because its Docker image doesn't contain nlp dependencies"

[2019-09-05 14:34] Lothiraldan commented on #797
I can add code detecting when bugzilla is not returning JSON but what should we do in this case? Ignore the bugs change time and returns what we have in database? Returns a 500 to the caller?

Bugzilla can returns non-JSON in other cases too, it can be down for example.

[2019-09-05 19:35] marco-c opened #935 "Similarity trainer script should download the bugs DB"
Similarly to https://github.com/mozilla/bugbug/blob/6181dd11af35c406da160f7c0cfad3bac0d12f51/scripts/regressor_finder.py#L204-L206.

[2019-09-05 23:39] shishirjha commented on #831
Hi, if this is still open, can I work on this?

[2019-09-06 11:11] #935 closed

[2019-09-06 22:45] #933 closed

[2019-09-07 09:14] marco-c opened #939 "similarity task run, but didn't do anything"
https://tools.taskcluster.net/groups/EtQ7qTyZTEOtwTxBsnTA0A/tasks/SLjLm837QmeXAEQaW45-wA/runs/0/logs/public%2Flogs%2Flive.log

The artifact is not available. I think the training didn't happen at all.

@ayush-1506 you can debug this locally, just build and run the docker image.
[code]
Then in the Docker container, you can run the command from the task (https://github.com/mozilla/bugbug/blob/029d93

[2019-09-09 20:57] marco-c commented on #831
#936 missed scripts/regressor_finder.py.

[2019-09-09 21:00] #831 closed

[2019-09-10 10:32] Adrian-Tamas commented on #723
[testoutput.txt](https://github.com/mozilla/bugbug/files/3595194/testoutput.txt)
Sorry for the late reply but I managed to break my vm twice and had to rebuild everything. Btw when trying to clone mozilla-central using mercurial 5.1 I kept getting "Connection reset by peer" but it worked with the old mercurial version from apt

I have set up mercurial as in the  "Running the repository mining scri

[2019-09-10 10:39] marco-c commented on #723
I'm not sure why they are failing for you :(
Anyway, you can ignore those local failures and let CI run the mercurial tests for you.

[2019-09-10 13:02] #723 closed

[2019-09-10 14:37] marco-c commented on #797
I think we're safer if we return 500 in those cases.

[2019-09-10 16:17] #509 closed

[2019-09-12 09:35] marco-c opened #945 "For binary models, plot and check the classes separately"
For binary models, we are particularly interested in seeing the metrics per class and not only on average.

scripts/analyze_training_metrics.py is currently plotting and checking the "average", but for binary classes we want to plot and check the two classes separately.

To test the script, first run scripts/retrieve_training_metrics.py to retrieve the metrics files.

[2019-09-12 09:36] marco-c opened #946 "Stop checking standard deviation"
It changes too much. We should either have a larger threshold than 5%, or stop checking it altogether.

[2019-09-13 13:19] marco-c commented on #329
#823

[2019-09-13 13:30] Lothiraldan opened #948 "Make the integration tests passes"
The actual check of the integration test (classifying bugs by calling the http service) is failing on taskcluster but passing locally. We need to make it stable.

[2019-09-13 13:31] Lothiraldan opened #949 "Add the integration to the data pipeline"
The integration tests are currently ran only on bugbug release, we need to add it to the data pipeline as well.

[2019-09-13 13:33] Lothiraldan opened #950 "Add the integration tests as a dependency to bugbug release"
Once https://github.com/mozilla/bugbug/issues/948 is done, we need to make sure we don't release unless the tests are green.

[2019-09-13 13:36] Lothiraldan opened #951 "Make the integration tests use the Docker image"
We currently cannot use the Docker image for running the integration tests because the Docker daemon in the worker type was too old.

Reminder, we need to run the integration tests both during the data pipeline to check that retrained models are correct and before the bugbug release to check that the new code is correct.

[2019-09-13 20:21] #834 closed

[2019-09-14 03:31] aditya-hari commented on #674
@ayush-1506
I get the following error on trying to run that command -

[code]

What do I do?

[2019-09-14 05:04] ayush-1506 commented on #674
@aditya-hari Are you on master? Looks like you're a few commits behind master.

[2019-09-15 17:24] aditya-hari commented on #674
Oh whoops, sorry. Didn't notice. Will get back to you soon.

[2019-09-16 07:19] dotslash21 commented on #433
Hi! @ayush-1506, I'm new to the open-source contribution, can I give this a try?

[2019-09-16 07:23] ayush-1506 commented on #433
Sure, there isn't a PR open against this issue, so feel free to take this up. 👍

[2019-09-16 08:41] #948 closed

[2019-09-17 03:21] aditya-hari commented on #674
Has that changed now, because I can't find a run.py...

[2019-09-17 08:08] marco-c commented on #674
Yes, there is a trainer script now (see the README for updated info).

[2019-09-18 08:01] Lothiraldan commented on #797
Got it, I will return a 500

[2019-09-18 08:02] Lothiraldan commented on #946
If my understanding of statistics is correct, the smaller standard deviation we get, the better, right @calixteman?

[2019-09-18 08:05] marco-c commented on #946
Yes, I think that is the case.
The problem is that currently it changes too much between one training and another, and it can get worse by more than 5% (which is our current threshold). We should increase the threshold, and e.g. only warn if it gets worse by 10%.

[2019-09-18 22:46] marco-c opened #964 "Try using tries to store DictVectorizer and Count/TfidfVectorizer vocabularies"
This should reduce memory usage.
See also https://github.com/scikit-learn/scikit-learn/issues/2639.

[2019-09-23 10:32] marco-c opened #970 "Don't store /tmp/bugbug in Docker image"
We are copying bugbug (https://github.com/mozilla/bugbug/blob/f749fc8b95ff86238beaed502d305bb950fddaff/infra/dockerfile.base#L12) and then installing it with pip (https://github.com/mozilla/bugbug/blob/f749fc8b95ff86238beaed502d305bb950fddaff/infra/dockerfile.base#L13). In the end we end up with two copies of the bugbug source code, one in /tmp/bugbug and one in /usr/lib.

[2019-09-23 10:34] marco-c opened #971 "Move exp_queue from repository.py to utils.py"
Since it is now being used in other places too and it is not directly related to repository.py, we should move exp_queue to utils.py.

[2019-09-25 06:41] imskr commented on #970
Assign this!  I want to work on this!

[2019-09-25 08:24] marco-c commented on #970
Feel free to work on any open issue which is not assigned, issues are assigned only when there is a PR open to fix them (read CONTRIBUTING.md).

[2019-09-25 13:52] #971 closed

[2019-09-25 14:57] #730 closed

[2019-09-26 10:15] Lothiraldan commented on #950
Last integration test run was green, adding it as a dependency to the docker push

[2019-09-26 12:20] #950 closed

[2019-09-26 13:20] #949 closed

[2019-09-26 13:35] Lothiraldan commented on #946
https://github.com/mozilla/bugbug/pull/930/commits/8e437719380708116596ce84f6bb1f87373c202c disabled checking the standard deviation

[2019-09-27 09:37] marco-c opened #983 "Make test scheduling history retrieval script re-use previous DB"
Right now it's re-generating the DB all the time, which takes many hours. It should instead download the previous DB and add new pushes on top of it.

[2019-09-27 09:40] marco-c opened #984 "Investigate adding monotonic constraints to the regressor model"
This could make the model more interpretable, and maybe also improve its generalization.

[2019-09-27 10:40] #852 closed

[2019-09-27 10:46] marco-c commented on #946
Fixed by 099f9db.

[2019-09-27 10:46] #946 closed

[2019-09-27 13:31] marco-c opened #985 "Use limit in commit retriever when specified"
Otherwise the integration test will take too long when the previous DB version can't be used (e.g. when we change the version of the DB).

[2019-09-27 17:38] marco-c opened #988 "Add 'number of previous bugs in this XXX' as a feature"
Where XXX can be either component, directory, or file.

[2019-09-27 17:40] marco-c opened #989 "Add 'number of previous test failures in this XXX' as a feature"
Where XXX can be component, directory, or file.

[2019-09-28 15:19] marco-c commented on #939
Unfortunately it still happened :(

https://tools.taskcluster.net/groups/FECJFy8CTIy-ZCrAt8jgIA/tasks/fBO2GNGbRC2sSwAVcKkuOQ/runs/0/logs/public%2Flogs%2Flive.log

[2019-09-28 15:26] #870 closed

[2019-09-28 16:22] #939 closed

[2019-09-28 16:23] marco-c commented on #939
Fixed by 16e36cb54b45058352dd202daf116feb0f0d63db.

[2019-09-28 16:54] imskr commented on #806
How can I proceed with this, considering I'm a beginner

[2019-09-29 17:54] ayush-1506 commented on #806
@imskr You might need to dig into the code for `get_similar_bugs` for each of these similarities to see how we're building the map, and use this to find the distance between two bugs.

[2019-09-30 13:47] marco-c commented on #988
Note: we have the number of previous commits in XXX as a feature, but it is generic (previous commits can be either bug fixes or refactorings or new feature implementation).

[2019-09-30 16:43] marco-c opened #991 "Support other repos in script to classify commits"
And don't fail when a parent revision doesn't exist, just try to apply the patch on current tip.

[2019-09-30 22:23] marco-c commented on #419
A possible option might be to look at the `kmeans` function in shap.

[2019-10-01 11:08] alfarhanzahedi commented on #433
Hi @ayush-1506
I would like to work on this issue. I have cloned the repository and have already got a little bit of hang of the `ComponentModel`.
To start, I have successfully written a trivial test for `is_meaningful()` method. I will next  (from taking up hints from other tests) try to write tests for the remaining methods. Should I continue?

[2019-10-01 13:54] marco-c opened #997 "Put gecko-dev in a cache"
There are at least two scripts cloning this repo now (commit_classifier and regressor_finder). Putting the repo in a cache would improve performance of those tasks.

Perhaps we have to define a separate worker for these, given that `Caching is most effective when “most” of the tasks executing on a worker use the same caches` (from https://docs.taskcluster.net/docs/manual/using/caching).

[2019-10-02 10:38] marco-c opened #998 "In the commit classifier script, don't fail when a parent revision doesn't exist"
Just try to apply the patch on current tip.

[2019-10-02 10:40] #998 closed

[2019-10-05 11:29] marco-c commented on #433
Sure, why not? :P

[2019-10-06 12:10] alfarhanzahedi commented on #433
Okay! :)
As mentioned in this comment - https://github.com/mozilla/bugbug/pull/682#issuecomment-511146279, I am also getting the same error - `AssertionError: There should be at least one bug matching Core::IPC at L-166 in models/component.py` on running the following set of simple statements -
[code]
Should I modify `tests/fixtures/bugs.json` to include a bug matching `Core::IPC`? If yes, then is

[2019-10-07 04:43] Apoorv01017 commented on #292
hello, can I work on this issue?

[2019-10-07 09:21] marco-c commented on #292
Read CONTRIBUTING.md: you can work on any issue which has no open PR linked to it, so you can work on this one.

[2019-10-07 12:08] marco-c commented on #922
From #928, it looks like using pip is more space efficient, so I'll close this.

[2019-10-07 12:08] #922 closed

[2019-10-09 06:51] emceeaich opened #1013 "Identify spam/fake bugs"
We get too many spam bugs filed by students at schools with instructors telling them to learn how to use Bugzilla by filing junk bugs here.

Most of the junk bugs have been moved to the Invalid Bugs::General component.

Can we add a model we can run against incoming bugs that can mark as "potential spam" bug and divert to a moderator for review?

[2019-10-09 09:13] marco-c commented on #1013
Yes, I think it should be feasible! We have plenty of "good" bugs (we can just use past RESOLVED FIXED bugs as examples of "good" bugs), and we can get "bad" bugs by using "Invalid Bugs::General" (hoping there are enough to train the model).

[2019-10-09 11:11] Apoorv01017 commented on #292
Hello, I have learned the basics of Docker. Can you please guide me on what to do next.

[2019-10-09 11:23] marco-c commented on #292
Now that you know how to use Docker, the issue should be clear :)
You need to switch infra/dockerfile.base to use the Python Alpine image.

[2019-10-09 12:19] Apoorv01017 commented on #292
Can you please help me
I am getting an error msg
"The command '/bin/sh -c apt-get update &&                 apt-get install -y --no-install-recommends gcc g++ libgomp1 &&                 pip install --disable-pip-version-check --no-cache-dir -r /requirements.txt &&                 apt-get remove -y gcc g++ &&                 apt-get autoremove -y &&                 rm -rf /var/lib/apt/lists/*' ret

[2019-10-09 12:29] marco-c commented on #292
There's not enough info for me to be able to help you.

[2019-10-09 12:31] Apoorv01017 commented on #292
i just changed the first line of the file to FROM jfloff/alpine-python

[2019-10-09 12:46] marco-c commented on #292
So the error is pretty obvious, on Alpine you can't run apt-get...

[2019-10-09 18:28] Apoorv01017 commented on #292
sorry for asking so many times
but i am having a hard time figuring this out
"apk add libgomp1 && \  " this statement is giving an error "libgomp1 (missing):
ERROR: unsatisfiable constraints:"

[2019-10-09 18:32] kanurag94 commented on #292
@Apoorv01017 use `libgomp`

[2019-10-10 11:17] marco-c opened #1015 "Use test failure data in the regressor model"

[2019-10-10 11:18] marco-c commented on #989
Done with 0fefacba0b5ca61c2909c575f02a0eedb6fd6c4e.

[2019-10-10 11:18] #989 closed

[2019-10-10 16:10] harsh020 commented on #720
Hi @marco-c , I would very much like to work on this issue.

But don't know why I am unable to set up the repo, I have followed through the contributions but am still unable to set it up? Kindly help me with it.

Thanks.

[2019-10-10 16:15] marco-c commented on #720
Hey @harsh020, you'll need to be more specific, otherwise it's going to be impossible for me to help you :)
What problem are you hitting? Please file an issue about it and we'll discuss it there (as it's off-topic for this issue).

[2019-10-10 17:49] dotslash21 commented on #292
I'm also facing the same, after some digging I came across this article [here](https://pythonspeed.com/articles/base-image-python-docker-images/).

TL;DR

Alpine uses a different C library, musl, instead of the more common glibc. So I think the binary wheels which are not compiled for Alpine wont work. So when installing `rs_parsepatch` using `--verbose` flag you will come across this `ERROR: rs_p

[2019-10-12 12:39] marco-c opened #1017 "Data from multiple commits in the same push should be merged for test scheduling purposes"

[2019-10-12 12:40] marco-c opened #1018 "Add `arch` as a feature for test scheduling"

[2019-10-12 15:11] #520 closed

[2019-10-13 08:31] cpandya231 commented on #1018
Can you provide some description?

[2019-10-14 05:53] ayush-1506 commented on #1013
This shouldn't be very tough to implement. @marco-c Please let me know if I should go ahead with this. (I noticed the good-first-bug label, so maybe I should let someone else work on this?)

[2019-10-15 07:32] ShrikrishnaPatil commented on #232
Can You give me solution as i am facing same issue when i enter
rasa train
it gives error like above

[2019-10-15 08:44] marco-c commented on #433
You might need somehow to reduce the current checks done by the component model, otherwise you have to increase the fixture DB by a lot.

[2019-10-15 08:44] #433 closed

[2019-10-15 08:49] marco-c commented on #1018
I've updated the first comment.

[2019-10-15 15:57] m-agboola commented on #1013
@marco-c I'm interested in working on this if no one is assigned to it

[2019-10-15 21:10] marco-c commented on #1013
@ayush-1506 you can work on it, don't worry (I mark them as good-first-issues because they can be worked on in isolation, but it doesn't mean only newcomers can work on them).

@m-agboola you can work on it too, any issue is unassigned until there is a PR open to fix it. It is not the simplest issue though, you might want to start with another one.

[2019-10-16 00:07] m-agboola commented on #1013
Thanks @marco-c I understand and would give it a try!

[2019-10-16 06:05] Syn3rman commented on #1018
Hey @marco-c ,
I am a beginner to open source and I'd love to work on this issue if it's still unassigned. If so, does simply checking for 64 or 32 in the string suffice to guess the architecture? (Something along the lines "32" in test_job["name"])

[2019-10-16 12:08] marco-c opened #1023 "Switch images to Python 3.8"
Both in .taskcluster.yml and in the dockefiles under infra/.

[2019-10-16 13:59] calixteman commented on #292
It seems to be ok with:
[code]

[2019-10-17 09:35] marco-c commented on #1018
There's also at least ARM and AArch64 (the 64-bit version of ARM).
I think the best way to do this is to manually run a script like:
[code]

And then you manually validate the results.

[2019-10-18 09:56] #438 closed

[2019-10-18 12:38] #983 closed

[2019-10-19 09:30] dotslash21 commented on #1023
Hi! I'd like to work on this issue.

[2019-10-19 10:42] marco-c commented on #1023
Sure, feel free!

[2019-10-19 15:28] marco-c opened #1028 "Always use --no-cache-dir option for pip"
Whenever we are using pip in .taskcluster.yml and in docker files, we should use the options `--disable-pip-version-check`, `--no-cache-dir` and `--quiet`.

[2019-10-20 13:19] marco-c commented on #749
Since we started using orjson, this might no longer be useful. I quickly run a couple of basic benchmarks and the orjson implementation is basically on par with the pickle one, but we need to do the benchmarking a bit more seriously in order to confirm.

[2019-10-20 13:44] dotslash21 commented on #292
@marco-c, I've successfully converted the `dockerfile.base` and `dockerfile.commit_retrieval` files to use python 3.7 alpine image. But I'm stuck on `dockerfile.base-nlp` which gives this error when installing pyemd:
[code]
### dockerfile.base
[code]

### dockerfile.base-nlp
[code]

### Partial error log
[code]
I did some searching about the ld-linux-x86-64.so.2 file and came across `gcompat` pack

[2019-10-20 19:56] snowmanstark commented on #1028
@marco-c can I start working on this?

[2019-10-20 21:34] marco-c commented on #1028
Sure, feel free to work on it.

[2019-10-21 09:37] ayush-1506 commented on #1013
@marco-c Correct me if I'm wrong:
Good bugs are the ones with `STATUS` as `FIXED` or `RESOLVED`.
Bad bugs are the ones where `Invalid Bugs` was added at any time in the history, right?

If so, there aren't a lot of bad bugs. Maybe we should consider other indicative fields too?

[2019-10-21 09:54] marco-c commented on #1013
I think the problem is simply that we are not downloading the bad bugs in our DB, as "Invalid Bugs" is not in the list of considered components at https://github.com/mozilla/bugbug/blob/a36edbbe14bd1590d42ac5b171a17c894c066301/bugbug/bugzilla.py#L25.

[2019-10-21 12:16] ayush-1506 commented on #1013
@marco-c So we'd need to add it to the products, regenerate the bugs db and upload it to tc, right? Should this be a two step PR? (First one adding the label to the products and the second one implementing the model)

[2019-10-21 12:48] marco-c commented on #1013
It can be a two step PR or a single PR with two separate commits.
Note: you can add new bugs to the DB locally, by simply running the bug_retriever script, so you can start working on the model directly without waiting on the next release for TC to do it.

[2019-10-21 16:42] #1028 closed

[2019-10-22 18:02] marco-c opened #1034 "Try using shelve for the repository commit experiences calculation too"
We did it in 6f145cfcb3c350e6753e27b5f016152910a9e8f9 for the calculating past test failures, we could do it for commit experiences too.
We need to check the difference in time and memory usage.

[2019-10-23 11:03] marco-c opened #1035 "Use a LDBM-based shelve"
Right now we are using the shelve from the standard library, with dbm.gdbm from the standard library.
We should test if LMDB is faster.

[2019-10-23 11:03] marco-c opened #1036 "Use NDBM instead of GDBM as db for shelve"
Right now we are using the shelve from the standard library, with dbm.gdbm from the standard library.
On my machine, ndbm is faster and uses less memory than gdbm.

[2019-10-23 11:05] marco-c opened #1037 "Implement a more efficient pickling strategy for ExpQueue"
Pickling a deque generates a big buffer.
We could instead transform the deque into a 50 int32 numpy array.

[2019-10-23 11:24] marco-c opened #1038 "Try using sqlite instead of shelve"
Since we have more than one key (and we're building one key by joining with `$`), a sqlite DB might make sense.

[2019-10-23 20:15] #626 closed

[2019-10-24 13:40] dotslash21 commented on #292
@marco-c it seems that switching to alpine based docker image is not straightforward and needs some essential pip packages to be rebuilt to run with MUSL. I can theoretically make the switch with successful build but the build time takes a huge hit, for instance numpy on the base image needs to be built from source for pyemd to work on the base-nlp image ([error report](https://github.com/mozilla/

[2019-10-24 14:40] marco-c commented on #292
What is the size of the resulting image?
If the difference is big, it might be worth the complexity and longer build time. If the difference is not so big, maybe it's better not to do this at all.

[2019-10-24 18:09] #329 closed

[2019-10-24 18:31] BBloggsbott commented on #1018
@marco-c I'd like to take a shot at this. I'm new to bugbug. Just to make sure I understand the issue right, you need a method that can get you the `arch` of a test from the test data?

[2019-10-24 18:54] peterchou3788 commented on #383
Hello Marco,
If this bug is still open and unassigned, mind if I attempt it?

[2019-10-25 07:07] marco-c commented on #332
Also, in the touched files / directories.

[2019-10-25 07:19] marco-c opened #1043 "If the reviewer is not specified by the developer, add "r=" using reviewer info from Phabricator"
For example, https://phabricator.services.mozilla.com/D50537.

[2019-10-25 07:21] marco-c opened #1044 "Make feature names more readable"
E.g. `Total size of files` instead of `File size (sum)` or `Recent reviewer experience` instead of `Reviewer experience (min 90 days)` or `# of times these files were recently modified` instead of `# of times the files were touched before (sum 90 days)`.

[2019-10-25 07:22] marco-c opened #1045 "For calculating file size, ignore configuration files"
Configuration files are usually big but not complex, so we shouldn't consider their size when calculating the "file size" feature.
This is not easy to achieve though, how do we know what is a configuration file?

[2019-10-25 07:23] marco-c opened #1046 "Add feature importance for the method-level results"
Just like for the patch-level result, with the only difference that we'd write just the top reason.

[2019-10-25 21:08] dotslash21 commented on #292
@marco-c, here are the size of the respective images,
[code]

[2019-10-27 17:37] marco-c commented on #383
Yes, of course, no need to ask!

[2019-10-27 17:42] marco-c commented on #292
OK, so the size difference is not that big, I think a faster build time is preferable in this case.

[2019-10-27 17:42] #292 closed

[2019-10-28 13:33] ayush-1506 opened #1048 "Error while using rollback for certain bugs"
Looks like we missed an edge case. For a few bugs, `bugs["comments"] = []`, hence https://github.com/mozilla/bugbug/blob/master/bugbug/bug_snapshot.py#L837 gives an error. I'm wondering why we're handling the error later, in [line 861](https://github.com/mozilla/bugbug/blob/master/bugbug/bug_snapshot.py#L861), maybe this should be shifted up or we should add a new condition to handle these special

[2019-10-28 16:37] marco-c commented on #1048
Yeah, I think you can just shift that part up.

[2019-10-29 21:45] #1043 closed

[2019-10-29 21:45] marco-c commented on #1045
Also, documentation files should be considered separately.

[2019-10-29 21:46] marco-c commented on #1045
This should be a nice improvement to reduce false positives.

[2019-10-29 21:51] marco-c opened #1055 "For calculating file size and # of lines added, consider documentation files separately"
For example, https://phabricator.services.mozilla.com/D50638 is considered risky simply because it's adding a lot of docs.

[2019-10-29 21:52] marco-c commented on #1045
I filed #1055 about this.

[2019-10-30 11:30] marco-c opened #1057 "Figure out what to do when the result is "risky" but all risky features are not easily explainable"
E.g.: ![features](https://user-images.githubusercontent.com/1616846/67854620-ef0a7800-fb10-11e9-9b63-04cb84b24886.png)

On https://phabricator.services.mozilla.com/D51052.

Similarly on https://phabricator.services.mozilla.com/D50536.

[2019-10-30 11:49] marco-c opened #1058 "Merge explanations for common features"
E.g. if the important features are "Maximum reviewer experience" and "Maximum recent reviewer experience", we could somehow merge them into a "Reviewer experience" feature.

[2019-10-30 13:16] #1044 closed

[2019-10-30 13:44] marco-c commented on #1045
Forgot to mention, we can't simply detect configuration files from their extension, e.g. there are many configuration files that are `.js` (e.g. Firefox prefs).

[2019-10-30 14:09] marco-c opened #1059 "Use bugzilla ID from the revision"
Similarly to what Lando does in https://github.com/mozilla-conduit/lando-api/blob/4b583f9d773dfc8c3e8c39e3d3b7385568d744df/landoapi/commit_message.py, we should prefer the data in the Phabricator revision rather than the data in the commit message.
We can simply rewrite the commit message with the Phabricator revision data (just like Lando does).

[2019-10-30 15:33] marco-c commented on #1058
E.g. on https://phabricator.services.mozilla.com/D48305 and https://phabricator.services.mozilla.com/D50638.

[2019-11-02 11:38] marco-c commented on #383
@peterchou3788 can you post a log of the command you are running and the result of the command?

[2019-11-02 11:38] marco-c commented on #383
Open an issue in the rs-parsepatch repo (https://github.com/mozilla/pyo3-parsepatch) though, as this is not the right place to discuss that.

[2019-11-02 15:43] #1055 closed

[2019-11-02 15:43] #1058 closed

[2019-11-03 12:54] HackyRoot commented on #1038
Hey @marco-c,
I'd like to pick this issue.

[2019-11-03 14:18] marco-c opened #1070 "Support multiclass classifiers in bug_classifier script"
The bug_classifier script at scripts/bug_classifier.py currently assumes the model is a binary model. We need to make it work for multiclass models too (e.g. defectenhancementtask).

In particular, https://github.com/mozilla/bugbug/blob/65bf1b4604ca55a67490d27adc99c6441bad38c8/scripts/bug_classifier.py#L75-L78 needs to be changed.

To test your changes, simply run `python3 -m scripts.bug_classifie

[2019-11-03 16:46] marco-c commented on #1038
Sure, go ahead, no need to ask ;)
You can work on any issue that is unassigned, and issues are unassigned until there is a PR to fix them.

[2019-11-03 17:28] ashutosh-b-b commented on #1070
Hi , I am new here. I would like to work on this. Can anyone guide me through?

[2019-11-03 18:16] marco-c commented on #1070
I've expanded the description in the first comment.

[2019-11-04 12:13] ashutosh-b-b commented on #1070
Hi @marco-c , When I was installing the requirements in requirements.txt I get an error for rs_parsepatch. I am currently on Mac OS.X . Does parsepatch support OSX?

[2019-11-04 12:24] marco-c commented on #1070
No: https://github.com/mozilla/pyo3-parsepatch/issues/4.
You don't need it though to fix this issue.

[2019-11-04 13:33] gilltan97 commented on #1070
Hi @marco-c, I am interested in this bug. Can you guide me to get started on the fix?

[2019-11-05 14:26] marco-c opened #1077 "Don't run CI on PR closure"
See also marco-c/taskcluster_yml_validator#31.

[2019-11-05 17:10] marco-c commented on #1057
Or the other way around, like on https://phabricator.services.mozilla.com/D50638.

[2019-11-05 23:12] marco-c commented on #1013
@ayush-1506 still working on this?

[2019-11-05 23:45] emceeaich commented on #1013
Just to clarify, a bad bug would be anything in the Invalid Bugs product, or any bug that is resolved as INVALID.

[2019-11-06 07:17] ayush-1506 commented on #1013
@marco-c I think this issue can be closed, right? Both the points mentioned in the above comment have been added. Should I open a new issue to address the other parts (adding number of words as a feature)?

[2019-11-06 09:59] marco-c commented on #1013
@ayush-1506 I'd prefer to keep this open until we have a working model, the current one doesn't have any feature which is specific for it and so it's results are not good IIRC.

[2019-11-06 15:28] marco-c opened #1080 "Add number of words in comments as a feature for the spambug model"

[2019-11-06 15:29] marco-c opened #1081 "Train the spambug model automatically on Taskcluster"
We need to add it to data-pipeline.yml

[2019-11-06 15:34] marco-c opened #1082 "Add a few more features to the spambug model"
There are a few features that might make sense, we should try to add them one by one and see if they improve results:
- [ ] keywords;
- [ ] number_of_bug_dependencies;
- [ ] blocked_bugs_number;
- [ ] product;
- [ ] component;
- [x] is_mozillian;
- ...

[2019-11-06 15:35] marco-c commented on #1080
The feature is already available (`comment_length`), we just need to add it to the model and see if it improves results.

[2019-11-06 15:38] marco-c commented on #1013
We have a feature specific for this model now (thanks @ayush-1506!), and I created a project to track further improvements and work needed for this: https://github.com/mozilla/bugbug/projects/9.

[2019-11-06 15:38] #1013 closed

[2019-11-06 17:42] marco-c opened #1084 "Add a method to overwrite spambug's model decisions"
If the reporter has a @mozilla email address, it's certainly not spam.

[2019-11-06 17:43] marco-c commented on #1082
Actually for this one it might be better to just overwrite the decision (#1084).

[2019-11-06 23:56] marco-c opened #1086 "Make deployment support generic and configurable"
- Create an abstract Deployment class;
- Create a TaskclusterDeployment class, extending Deployment;
- Make all usage of Taskcluster under scripts/, bugbug/ and http_service/ (mainly index and secrets service) be generic (use a Deployment object, creating a concrete object by looking at some configuration file);
- infra/ will probably always be Taskcluster-specific, as it's basically Mozilla's usa

[2019-11-07 00:37] marco-c opened #1087 "Integration test should use latest bugbug-commit-retrieval image"
Right now, in .taskcluster.yml, the integration test task is running before the docker push task. The integrationt test task is using "mozilla/bugbug-commit-retrieval:latest" as image, but this is the image corresponding to the previous release (as it is pushed by the docker push task, which runs only after the integration test task).
We should make the integration test task use the image just bui

[2019-11-08 13:04] Sujay-Tandel commented on #383
Can I work on this fix?

[2019-11-08 13:07] Sujay-Tandel commented on #383
Hello Marco,
If this bug is not assigned, can I attempt it as my first bug?

[2019-11-08 13:10] Sujay-Tandel commented on #268
Hello Marco,
If this bug is still open, can I attempt this as my first bug?

[2019-11-08 14:26] marco-c commented on #268
@Sujay-Tandel no need to ask, you can work on any issue which is open and has no open PR linked to it.

[2019-11-09 08:47] trulyness commented on #383
Is this issue still open? If yes, then can I work on this?

[2019-11-09 09:35] trulyness commented on #1070
Can I work on this?

[2019-11-09 09:59] marco-c commented on #383
No need to ask, you can work on any issue that has no open PR linked to it.

[2019-11-09 10:01] marco-c commented on #1070
No need to ask, you can work on any issue that has no open PR linked to it!
The description of what needs to be done is in the first comment. The first step is to set-up the repository as described in README, then try to run `python3 -m scripts.bug_classifier defectenhancementtask`. It will output "Positive" or "Negative" according to the prediction made by the model, it should instead output the

[2019-11-09 10:07] marco-c opened #1092 "Guidance for first contributors"
The first step is to read CONTRIBUTING.md.

Then, run the setup steps described in the README.

Then, you can pick up a good-first-issue to work on. As stated in CONTRIBUTING.md, **please don't ask to be assigned to an issue or if you can work on an issue**, you can work on it without asking, as long as there is no open PR linked to it.

If you need more help, feel free to ask in the issue, but ma

[2019-11-09 12:11] HackyRoot commented on #1070
Hello @marco-c ,
I followed the instruction to setup the project and after running `python3 -m scripts.bug_classifier defectenhancementtask` command, it not displaying any output. Any suggestion?

![IMG_20191109_173833](https://user-images.githubusercontent.com/18494493/68528381-ef2c2400-0317-11ea-94cc-783e84bc6efb.png)

[2019-11-09 12:29] marco-c commented on #1070
It shouldn't happen, but please file a separate issue about this problem.

[2019-11-09 12:43] HackyRoot opened #1093 "No output from bug_classifier"
I followed the instruction to setup the project and after running `python3 -m scripts.bug_classifier defectenhancementtask` command, it not displaying any output. Any suggestion?

![IMG_20191109_173833](https://user-images.githubusercontent.com/18494493/68528633-66af8280-031b-11ea-980d-a30156f4b937.png)

[2019-11-09 15:20] marco-c commented on #1093
Add some logging to the scripts you're trying to run and see where exactly it stops.

[2019-11-09 15:21] arjun-krishna commented on #1093
You might have to run bug_retriever script to populate data/bugs.json ?

[2019-11-09 16:40] HackyRoot commented on #1093
@arjun-krishna sorry I didn't see any steps regarding the same in setup instruction or issue description (I was working on another issue when I got this error). Can you please help me with this?

[2019-11-09 17:06] marco-c commented on #1093
@HackyRoot you can download the bugs DB simply by running this code:
[code]

[2019-11-09 17:06] #1093 closed

[2019-11-10 17:17] #1070 closed

[2019-11-10 19:12] Iantonga commented on #384
hello I would like to work on this issue, could you give me some pointers on where to get started? Thanks!

[2019-11-10 19:46] marco-c commented on #384
@lantonga we need to add tests for the _transform function of the repository module.

[2019-11-18 14:26] #1035 closed

[2019-11-19 18:34] marco-c opened #1108 "Remove DBs when the schema of the downloaded DB is older than the current schema"
In the download method, https://github.com/mozilla/bugbug/blob/d1016a351603d948230188fa3f370a057a1a8127/bugbug/db.py#L89, we should handle the case where the DB is already downloaded but is using an older schema version than the current one.

[2019-11-19 18:35] marco-c opened #1109 "Make the bug_classifier script automatically download the required DB"
The bug_classifier script is using the bugs DB (https://github.com/mozilla/bugbug/blob/d1016a351603d948230188fa3f370a057a1a8127/scripts/bug_classifier.py#L54), but the bugs DB might not be available yet at this point.
So, we should make the bug_classifier script download the bugs DB before trying to use it.

[2019-11-19 18:36] marco-c commented on #1108
It's possible that this is already kind of supported, as we check the ETag and the ETag changes when the schema version changes. We need to add a test to confirm.

[2019-11-20 09:48] marco-c opened #1112 "Make utils.download_check_etag automatically detect the file name from the URL"
And then we should update the usages of the function, e.g. https://github.com/mozilla/bugbug/blob/aaad3298d88153e06841fb13c2ffb4ba1eb64a72/scripts/test_scheduling_history_retriever.py#L99
would become just `download_check_etag(PUSH_DATA_URL)`.

[2019-11-20 12:45] #1109 closed

[2019-11-20 18:22] vishal3410 commented on #1112
@marco-c can i take up this issue ?

[2019-11-20 18:28] marco-c commented on #1112
Sure, no need to ask. Did you read "Guidance for first contributors" or CONTRIBUTING.md?

[2019-11-20 23:39] marco-c opened #1113 "Don't consider .eslint.js as source files"

[2019-11-21 03:52] vishal3410 commented on #1112
Yes :)

[2019-11-21 05:02] abhaykatheria commented on #1112
@marco-c  path = url.split('/')[-1] will this work ..?

[2019-11-21 09:52] marco-c commented on #1112
So, if you did read them, it is clearly specified not to ask if you can be assigned to issues. Why did you ask anyway? (I'm not angry, I just need to know what I can do to make it more clear for new contributors).

[2019-11-21 11:14] marco-c opened #1115 "Add tokens/functions used in a commit"
We can add 1) the type of tokens used; 2) the function calls used (or even the tokens themselves, not just their type).
E.g. possibly patches with branches and loops are more risky than patches without them.
Also, the usage of some specific functions might be riskier (e.g. functions related to threads).

We likely need to restrict them to the most used functions, otherwise we risk generating too l

[2019-11-21 11:55] #1113 closed

[2019-11-21 14:19] #1017 closed

[2019-11-21 14:21] marco-c opened #1116 "Consider using push data from mozilla-central too"
We're currently getting it from autoland only.

The mozilla-central data is more curated by sheriffs, but pushes contain a lot of commits.

[2019-11-21 14:23] marco-c opened #1117 "Figure out how to select platforms to run test jobs on"
It might be preferable to choose a single platform (e.g. linux64-opt) and run all suites only on that platform, to avoid making separate builds.

The only problem is that right now the model is trained using whole jobs (platform + suite chunk), because the historical data we have contains whole jobs, and there's no 1:1 mapping between suite chunk on a platform and suite chunk on another platform (

[2019-11-21 14:24] marco-c opened #1118 "Make test-select hook check if the patch is prone to backout first"
We can:
1) Check if the patch is prone to back-out;
2) If it is, select tests to run.

[2019-11-21 14:25] marco-c commented on #1117
If this wasn't the case, we could have trained the model using just the suite chunk names rather than the full job name.

[2019-11-21 14:27] marco-c opened #1119 "Add past failures in suite features"
Right now, we are considering past failures with the task in the past. It might be worth considering past failures in the suite in the past (to mitigate the fact that chunks are not always the same).

See also #1117.

[2019-11-21 14:28] marco-c commented on #1117
This problem would be solved if we switch to manifest-level rather than job-level.

[2019-11-21 16:39] marco-c opened #1121 "Give more importance to recent samples in the TestSelect model"
We should try using `sample_weight` XGBoost parameter to give more importance to recent samples in the TestSelect model.

[2019-11-21 16:39] marco-c opened #1122 "Train on the entire dataset after evaluation"

[2019-11-21 16:46] marco-c opened #1123 "Create a model to tell whether a patch is likely to fail tests"
To replace the backout model in #1118.

[2019-11-21 17:05] marco-c opened #1124 "Add number of tests in a job as a feature"
A big job is more likely to fail.

[2019-11-21 17:06] marco-c opened #1125 "Create a manifest-level TestSelect model"
Once we have manifest-level data from ci-recipes (https://github.com/mozilla/ci-recipes/issues/4).

[2019-11-21 17:09] marco-c commented on #1124
Maybe the average duration too?

[2019-11-21 17:10] marco-c commented on #1124
We could also decide to penalize big/long jobs, to reduce resource consumption.

[2019-11-21 17:13] marco-c opened #1126 "Use manifest-level information in the job-level TestSelect model"
This way, we can correlate the files modified by a patch with the tests run in a given job.

[2019-11-21 18:03] marco-c opened #1127 "Use the TestFailure model instead of the Backout model in the test select hook"
Replacing the backout model in #1118 with the testfailure model from #1123.

[2019-11-21 18:06] marco-c opened #1128 "Investigate gating the test selection on the number of tests which might fail"
Instead of doing the test selection only for patches which are likely to be backed out (#1118) or which are likely to fail tests (#1127), we could do it for patches for which we would schedule many tests.
This way we spend time to make the build, but we use it for many tests.

[2019-11-21 18:12] marco-c opened #1129 "Add number of previous test failures with the same components, directories, files as features of the TestFailure model"
Could be useful for the TestFailure model (and maybe for the Regressor model too, as files with high chance of failing tests might also be files with high chance of regressions).

[2019-11-21 19:37] #1122 closed

[2019-11-21 22:09] #1118 closed

[2019-11-21 22:11] marco-c commented on #1117
SETA doesn't care and just runs the high value jobs, no matter what, as the builds are always run anyway. We can definitely do the same on autoland, and for try we can choose a specific platform.

[2019-11-21 22:15] marco-c commented on #1123
Fixed by a350e6c16a5506563a14e08a5968aaaf56765704 and c50ba94fb247485c40fd3785685fa600f5c46797.

[2019-11-21 22:15] #1123 closed

[2019-11-21 22:48] marco-c opened #1131 "Don't fail when a DB is present and has the right schema"
STR:
1) Bump the commits DB version:
2) Run the commit retriever script;
3) Run the bug retriever script.

The bug retriever script fails as the commits DB is not yet available on Taskcluster.

When we fix this, we can remove the workaround from 54f9d3ae8c2de90e84310d3ad2ad3fb18686b7f1.

[2019-11-21 23:26] marco-c commented on #1057
I think I'm going to show all features, and explain them with plots (added in ec4d232175c9b349068439472611e2d1f92135b6).

[2019-11-22 13:27] marco-c opened #1133 "Show recent past bugs in the same methods for risk analysis"
This way developers and (mainly) reviewers can be reminded of past mistakes and have an idea of the bugs that happen when people touch the methods touched by a patch.

[2019-11-22 13:28] marco-c opened #1134 "Add percentages of past bug types to touched files/method for risk analysis"
Similar to #1133, we can show, for risky patches or methods, which kinds of bugs are usually introduced when touching the same files or methods.

For example, a message could be "Past bugs in this method were in 70% of the cases performance regressions, in 30% of the cases crashes".

[2019-11-23 21:11] Nathan-Wisner opened #1139 "Operating System requirement"
When trying to install the application on Windows with the `pip install -r requirements.txt` command greets me with plenty of errors around rs_parsepatch and cannot seem to build despite having only python 3.8 installed. Is there something I am missing? Am I supposed to be on Linux or should this work on Windows?

I have followed the instructions for installing several times with no avail.

[2019-11-24 23:43] marco-c commented on #1139
I have never tested on Windows, so it's likely that something might be broken. rs_parsepatch can't be installed on Mac either (https://github.com/mozilla/pyo3-parsepatch/issues/4). You can open an issue on that repo with more details about the error.

So, in summary, the easiest thing to do is using Linux, either via a VM or WSL or (better) a bare metal installation.

[2019-11-25 10:38] marco-c commented on #1057
Done with https://github.com/marco-c/risk-analysis-addon/commit/4dd709c9d4c4b74707e1273080dd27b67adc7c53 and https://github.com/marco-c/risk-analysis-addon/commit/4195df07e0df03db0b0d0be94e85f020906ce1b0.

[2019-11-25 10:38] #1057 closed

[2019-11-25 10:47] marco-c opened #1141 "Remove y-label from feature plots"
Since we know to which feature they refer to, the y-label is redundant:
![risk_analysis_screenshot](https://user-images.githubusercontent.com/1616846/69534048-559c7d80-0f79-11ea-8444-d6465089392f.png)

[2019-11-26 22:54] #1112 closed

[2019-11-27 19:57] #1141 closed

[2019-11-28 09:32] abhaykatheria commented on #1139
[code]

this is the error i get when i try it installing on windows

[2019-11-28 09:43] marco-c commented on #1139
It seems like an error while installing orjson, you should file an issue on the orjson repo.

[2019-11-28 18:12] srimani-programmer commented on #720
Hello, @marco-c  I want to work on this issue. But I didn't understand the issue properly. Can you please explain clearly. I want to work on it to solve the issue.

[2019-11-28 18:23] marco-c commented on #720
This issue requires some investigation, maybe it's better if I remove the good-first-issue label.

[2019-11-29 23:34] Nathan-Wisner commented on #1139
When running `python3 -m pip install -r requirements.txt` on Linux, it collects the packages correctly, however, when installing the collected packages it labels a 'Segmentation fault (core dumped)'

I attempted to ignore this, however, when running `python3 -m scripts.trainer`, it gives an error about a lack of arguments. I attempted to fill this with `python3 -m scripts.trainer bug` there is the

[2019-11-30 00:09] marco-c commented on #1139
Could you try `python3 -m scripts.trainer defect` instead? `bug` is not supposed to be trainable (the fact that it is accepted as an argument to trainer is a bug).

[2019-11-30 00:12] Nathan-Wisner commented on #1139
It gives an error `json.decoder.JSONDecodeError: EOF while parsing a string at line 1 column 4101 line 1 column 1 (char 0)`

[2019-11-30 00:15] marco-c commented on #1139
Could you paste the full stack trace?

[2019-11-30 00:23] Nathan-Wisner commented on #1139
`python3 -m scripts.trainer defect
/home/nathan/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-se

[2019-11-30 00:44] marco-c commented on #1139
Aaargh, my eyes, you copied the whole thing without newlines :package:

Anyway, it seems like your bugs DB was not correctly downloaded. Try removing it (rm data/bugs.json*) and re-running the command.

[2019-11-30 04:08] Nathan-Wisner commented on #1139
After removing it and reinstalling both of the files i get results that seem to get farther, i've posted the error below

[code]

[2019-11-30 04:56] Nathan-Wisner commented on #1139
I think i fixed the problems with it as long as I don't let my virtual machine fall asleep.

I'll update another thread if there are problems from this point on but from now on we could maybe specify that Mac and Windows don't work as of now.

[2019-11-30 04:56] #1139 closed

[2019-11-30 05:21] Nathan-Wisner commented on #1108
For this, would we want to update and download a newer version or just exit the function with false like
[code]

[2019-11-30 05:46] Nathan-Wisner commented on #384
Can someone more intimate with the _transform function either add comments or give us pseudocode / an oversimplification so we can start understanding it?

[2019-12-01 11:47] marco-c commented on #1108
We should try to download a new version.

[2019-12-01 11:48] marco-c commented on #384
The function is analyzing a commit and gathering a few metrics from it. What parts of the function are not clear? If you have specific doubts I can help clarifying them.

[2019-12-01 13:35] mohanish2504 commented on #1108
Hi,
I want to contribute and I am a beginner, I wanted to know is the issue resolved? I am stuck here

'if is_old_schema(path): return False'

what to do if it is an old schema?

[2019-12-01 13:35] mohanish2504 commented on #1108
Hi,
I want to contribute and I am a beginner, I wanted to know is the issue resolved? I am stuck here

`if is_old_schema(path): return False`

what to do if it is an old schema?

[2019-12-02 13:14] Luis-gd commented on #1108
Can i take this work?

[2019-12-02 13:59] marco-c commented on #1108
No, the issue is still here. If you look at the code, you'll see that `is_old_schema` is not checking the schema version of the downloaded DB, but the schema version of the remote DB.

Please read all the comments, it is explained above.

[2019-12-02 14:00] marco-c commented on #1108
You can work on any issue which is open and has no PR linked to it.
Did you read https://github.com/mozilla/bugbug/issues/1092 or CONTRIBUTING.md?

[2019-12-03 18:31] marco-c commented on #1133
Depends on https://github.com/mozilla/rust-code-analysis/issues/19.

[2019-12-06 22:59] matstiv opened #1157 "The Firefox Bookmarks Menu slide up problem when enter full screen mode, sometimes freezes and cant save bookmark"
They sent me here, I have a problem. Please help, how did nobody notice this?

https://bugzilla.mozilla.org/show_bug.cgi?id=1601706

[2019-12-08 11:15] marco-c commented on #1157
Bugzilla is the right place to report the bug. This project is just powering the bot which assigns the right component to filed bugs on Bugzilla.

[2019-12-08 11:15] #1157 closed

[2019-12-10 10:58] #1127 closed

[2019-12-10 11:45] marco-c commented on #186
Closing this as each needed test has been filed as a separate issue.

[2019-12-10 11:45] #186 closed

[2019-12-10 11:45] marco-c opened #1163 "Add tests for repository.get_touched_functions"
The function was introduced by #1161.

[2019-12-10 19:06] jtlz2 commented on #292
@dotslash21 Did you manage to find a way round the backtrace?

[2019-12-11 14:35] marco-c opened #1168 "Update hooks after the data pipeline is done"
Similarly to deploying the HTTP service, the hooks (at least the ones using models) should only be updated when the training pipeline ends.

[2019-12-11 15:15] marco-c opened #1169 "Hooks should download the model corresponding to their tag"
This way if we rollback, we use models from the old version rather than the new.

[2019-12-11 15:44] #1084 closed

[2019-12-11 18:25] marco-c opened #1170 "Make check pipeline tagged"
So we can rollback it if necessary.

[2019-12-11 19:29] marco-c commented on #1170
It already is.

[2019-12-11 19:29] #1170 closed

[2019-12-11 20:41] #1168 closed

[2019-12-11 20:41] #1169 closed

[2019-12-15 09:49] ayush-1506 opened #1176 "Add spambug model to the list of available models"
Looks like we forgot to add it to https://github.com/mozilla/bugbug/blob/master/bugbug/models/__init__.py (needed for running the trainer script)

[2019-12-15 09:51] ayush-1506 opened #1177 "Handle cases where bug has no comments"
While training the spambug model, I came across a few bugs that don't have any comments, hence https://github.com/mozilla/bugbug/blob/master/bugbug/bug_features.py#L652 gives an error. We need to handle this corner case.

[2019-12-16 09:12] #1080 closed

[2019-12-16 10:27] #1133 closed

[2019-12-17 08:47] #1177 closed

[2019-12-17 09:10] #1163 closed

[2019-12-17 14:30] marco-c commented on #551
I think this would be feasible now, we need to test.

[2019-12-17 16:41] marco-c commented on #551
The mozext extension still doesn't support Python 3, so I've had to revert it:
[code]

[2019-12-17 16:47] marco-c commented on #551
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1604536.

[2019-12-17 16:59] marco-c commented on #551
https://bugzilla.mozilla.org/show_bug.cgi?id=1604536 has been fixed, 1564cd00a749893627028c9343ec63e850c0ba14 is fixing this again. Let's hope it sticks.

[2019-12-17 22:51] marco-c commented on #551
Reverted again (with 1361684814165e217b82ac55fc751f5a6032457c) as robustcheckout is failing, and filed https://bugzilla.mozilla.org/show_bug.cgi?id=1604652.

[2019-12-17 23:54] #1176 closed

[2019-12-18 15:42] marco-c opened #1184 "Stop using sklearn.metrics.classification module"
`The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.`

[2019-12-19 10:37] #1184 closed

[2019-12-19 16:48] marco-c opened #1190 "Add diff in complexity metrics to the features"
We have added complexity metrics *after* the patch. It might be useful to also have the diff of complexity metrics, to check e.g. if the cognitive complexity increased with the patch, or if we have more function parameters than before, etc., etc..

See also #1159 and #1314.

[2019-12-20 09:49] marco-c opened #1193 "Use bugs filed by @mozilla reporters as non-spam examples of the SpamBug model"
We will have *a lot* of non-spam examples if we do this.

[2019-12-20 15:43] marco-c opened #1194 "Add "task was scheduled/passing/failing in the previous push" as a feature"
If we run a task in a given push, it is less valuable to run it in the next. Maybe the ML model will be able to learn this by itself if we add a new feature which says whether a given task was run, whether it was successful or failed.

[2019-12-20 17:20] marco-c opened #1195 "Add the SpamBug model to the HTTP service"
We need the HTTP service to support the SpamBug model too (it should just be a matter of adding the trainining task as a dependency of the http service task, and add the spambug model to the http service models in https://github.com/mozilla/bugbug/blob/75939c52a010666a776a9d1c4f41e01397c9918e/http_service/models.py#L23).

This is the last step required before being able to put the model in product

[2019-12-21 00:11] marco-c opened #1197 "Add coverage data as feature for regressor/test selection models"

[2019-12-21 00:12] marco-c opened #1198 "Add static analysis issues as feature for the regressor model"

[2019-12-21 00:15] marco-c opened #1199 "Fill .mailmap in mozilla-central and use it"
https://searchfox.org/mozilla-central/rev/ac43d7e69a435ede789827f20ab309da6f04c09b/.mailmap

[2019-12-21 11:01] #1081 closed

[2019-12-21 11:02] marco-c commented on #1082
@ayush-1506 do you want to look into this too?

[2019-12-21 14:47] dotslash21 commented on #292
@jtlz2 Yes I did, see [this](https://github.com/mozilla/bugbug/issues/292#issuecomment-545923161).

[2019-12-21 15:07] marco-c opened #1200 "Training of the SpamBug model failed on Taskcluster"
See https://community-tc.services.mozilla.com/tasks/WqBnMthmQJ22x-RmDZo-pQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FWqBnMthmQJ22x-RmDZo-pQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log.

[code]

Probably we just need to disable feature importance.

[2019-12-22 07:34] avijit1258 commented on #1108
Hello @marco-c ,

I am thinking to implement a new function download_check_version() similar to download_check_etag() in the bugbug/utils.py which will be called after downloading the current DB. Then return false if that is the case. Am I going to the right direction?

Avijit

[2019-12-22 23:33] ayush-1506 commented on #1082
Ok!

[2019-12-22 23:33] ayush-1506 commented on #1082
Sure!

[2019-12-23 00:23] marco-c commented on #1108
@avijit1258 the goal is to remove a DB when its schema version is old compared to the current schema. I'm not sure how what you proposed is going to do this, but I'm not sure exactly what you mean. Proposing a PR is the best way to show what you mean ;)

[2019-12-23 00:24] ayush-1506 commented on #1082
Results:

Before any additions:
[code]

After adding `keywords()`:
[code]

[2019-12-23 10:07] marco-c opened #1201 "Log number of spam/non-spam bugs in SpamBug get_labels"

[2019-12-23 10:08] marco-c commented on #1082
Thanks for the investigation, so it looks like the increase is minimal for all. I guess the metrics are already too high :)

I'd add keywords, product and component anyway. They would probably be useful if we had more examples of spam bugs.

[2019-12-23 10:09] marco-c commented on #1193
Maybe useless, we already have a lot of non-spam examples (like 70x more than the spam examples...).

[2019-12-23 10:09] #1193 closed

[2019-12-23 10:34] avijit1258 commented on #1108
@marco-c  How can I reproduce the situation you are telling? Can you give any url to try or way to figure out this?
thanks

[2019-12-24 00:21] marco-c commented on #1108
@avijit1258 the first step is to look at the code I linked at in the first comment, and take a look at all the functions it calls and figure out how it works.

[2019-12-24 10:11] #1082 closed

[2019-12-25 08:17] sd1998 commented on #674
@marco-c I would like to work on this.

[2019-12-26 13:53] avijit1258 commented on #1108
@marco-c  As you suggested I have gone through download(), is_old_schema(), download_check_etag() and extract_file(). I need some clarification. After calling the download_check_etag() function, download() function calls  extract_file(). I am wondering where download() downloaded the DB.

In the first comment of download function, it says

Here current means new or latest? or existing?

Another qu

[2019-12-29 00:38] avijit1258 commented on #1108
@marco-c I have added a PR with my proposed solution. #1206

[2019-12-29 00:40] ayush-1506 commented on #1195
@marco-c Where is the http-service task defined? I can't find it in infra/data-pipeline.yml .

[2019-12-30 04:56] Pranay144 commented on #1201
#1208
@marco-c Please guide me if any changes needed.

[2020-01-02 10:05] marco-c opened #1211 "Make sure features are not used twice"
This is a minor enhancement, the BugExtractor and CommitExtractor classes should make sure there are no duplicate feature_extractors (and cleanup_functions).

[2020-01-02 10:20] marco-c opened #1212 "Tracking model is missing bugs which were filed with the tracking flags right away"
As we are only checking the history, we miss bugs which were filed right from the start with the tracking flags set (they are probably fewer, but still...).

https://github.com/mozilla/bugbug/blob/99cd7d4088859f8af4eb5d9ccecf956517fde2c8/bugbug/models/tracking.py#L93-L117

The same might apply to other models, we need to check.

[2020-01-02 10:37] marco-c commented on #674
@sd1998 feel free to work on any open issue (following the rules in CONTRIBUTING.md), no need to ask.

[2020-01-02 10:38] marco-c commented on #1195
@ayush-1506 it's this task: https://github.com/mozilla/bugbug/blob/1d4f0dada360641fb9406dbcfd43199a35068be1/infra/data-pipeline.yml#L983.

[2020-01-03 15:30] #1195 closed

[2020-01-03 15:47] marco-c commented on #1108
No, the purpose is to avoid using an already downloaded DB if its schema is not the current schema. The schema of the downloaded DB can be read from the ".version" file, its current schema can be read from the DATABASES dict.
Thinking about this more, I think this is basically already covered by the etag check. So we just need to write a test.

[2020-01-03 16:45] #1201 closed

[2020-01-03 17:09] kushagra414 commented on #1212
@marco-c `True` and `False` are flags that were filed from the start?

[2020-01-03 17:15] marco-c commented on #1212
Not sure what you mean.

[2020-01-03 17:17] kushagra414 commented on #1212
Can you give an example of the kind of bug you are talking about?

[2020-01-03 17:31] marco-c commented on #1212
Finding the examples is part of fixing this. You'll need to find bugs where a cf_tracking_firefox* flag was there from the beginning, rather than just looking at the history.

[2020-01-04 07:10] kushagra414 commented on #1212
Could you verify.If this example is correct?
https://gist.github.com/kushagra414/3080414168d23e61a07bca69d28cbe8c#file-track_bug-json-L12

[2020-01-04 09:04] kushagra414 commented on #1212
Please Review.

[2020-01-04 15:42] marco-c commented on #1212
It isn't correct, this is an example of what we are already handling (bug filed with no tracking flags, tracking flags added later).

[2020-01-04 19:08] kushagra414 commented on #1212
In Previous PR,I did not run pre- commit hence the lint task failed.
That's why I created this new PR.
Please review.

[2020-01-05 00:44] avijit1258 commented on #1108
@marco-c Thanks for the clarification. Things are becoming more clear now. By saying test, do you mean checking it in the download function or writing a test case for download function in test file?

[2020-01-05 02:41] marco-c commented on #1212
There is no need to create a new PR for every change you make, you can simply update an already existing PR.

[2020-01-05 02:51] marco-c commented on #1108
The second: writing a test case.

[2020-01-05 06:23] amit6663 commented on #1015
can i work on this issue? @marco-c

[2020-01-05 11:35] kushagra414 commented on #1212
I updated the existing PR. Please Review

[2020-01-05 13:02] marco-c opened #1218 "Check if there are other models relying on the history and not the initial state"
We could increase the number of labels for some models.

Similar to #1212.

[2020-01-05 13:03] #1212 closed

[2020-01-05 13:04] marco-c commented on #1015
You can work on any issue you want which is not assigned, see CONTRIBUTING.md.
This one is not so simple though, you might want to try something else.

[2020-01-05 18:32] marco-c opened #1220 "Use versioned DBs"
Like we do for models [1], we should download the DB corresponding to the version of bugbug we are running.

[1]: https://github.com/mozilla/bugbug/blob/abf47d3b1c69e782450a57918d5950b2bec22cb4/bugbug/utils.py#L184-L194

[2020-01-05 18:40] marco-c opened #1221 "Consider .mm separately than .c, .cpp, etc."
It could be useful for test selection (if we select the platform too), as .mm files can only affect Mac.

[2020-01-05 18:41] marco-c opened #1222 "Try increasing the test selection history retrieved for training"
https://github.com/mozilla/bugbug/blob/abf47d3b1c69e782450a57918d5950b2bec22cb4/scripts/test_scheduling_history_retriever.py#L37

[2020-01-06 02:18] ayush-1506 commented on #1195
@marco-c Could you let me know the final steps to implement in relman-auto-nag?

[2020-01-06 09:54] marco-c commented on #1195
@ayush-1506 first of all, we need to fix https://github.com/mozilla/bugbug/issues/1200, otherwise the model fails during training.

Then, in relman-auto-nag, we need something like https://github.com/mozilla/relman-auto-nag/blob/master/auto_nag/scripts/stepstoreproduce.py and https://github.com/mozilla/relman-auto-nag/blob/57fae814cb1d5c56cbb4e808784b3a21031aff28/auto_nag/scripts/configs/tools.jso

[2020-01-06 09:55] marco-c opened #1223 "Add SpamBug model to relman-auto-nag"
First of all, we need to fix #1200, otherwise the model fails during training.

Then, in relman-auto-nag, we need something like https://github.com/mozilla/relman-auto-nag/blob/master/auto_nag/scripts/stepstoreproduce.py and https://github.com/mozilla/relman-auto-nag/blob/57fae814cb1d5c56cbb4e808784b3a21031aff28/auto_nag/scripts/configs/tools.json#L580-L603.
Assuming you will name the script "spam

[2020-01-06 10:22] ayush-1506 commented on #1200
@marco-c Does this mean it is running out of memory? Training the model locally works just fine for me.

[2020-01-06 10:38] marco-c commented on #1200
Yep!
Do you have up-to-date dependencies (pip3 install -r requirements.txt)? Maybe a new version of a dependency is using more memory than before?
How much RAM do you have? We can also just increase the RAM available for the job.

[2020-01-07 15:38] #551 closed

[2020-01-07 22:32] marco-c opened #1234 "Use tenacity (or similar) instead of re-implementing a retry function"
We are currently implementing https://github.com/mozilla/bugbug/blob/c84c38f964aef514171adac10d54f4a33f3477e9/bugbug/utils.py#L202-L211 and using it in a few places.
We should instead use a library (e.g. tenacity) and remove this custom retry function.

[2020-01-08 03:47] ayush-1506 commented on #1223
@marco-c I'm trying to run `python -m auto_nag.scripts.stepstoreproduce --dryrun` and I get an error: `FileNotFoundError: [Errno 2] No such file or directory: './auto_nag/scripts/configs/config.json'`

[2020-01-08 09:34] marco-c commented on #1223
Create that file and put something like this in it:
[code]

I don't remember if you already have a Bugzilla token. If you don't, you can get one by registering on https://bugzilla.mozilla.org/ and going to https://bugzilla.mozilla.org/userprefs.cgi?tab=apikey.

[2020-01-08 13:04] Pranay144 commented on #1234
[code]
@marco-c This is example code from 'commit_classifier.py line 191' with 'retry' function removed and implemented 'tenacity'.
I want to ask if this code is right? so i can replace retry function from other places.

[2020-01-08 13:53] marco-c commented on #1234
@Pranay144 it's easier for me to review your code if you simply submit a PR. Don't worry if it's not perfect right from the start, you can make updates to the PR!
From a quick glance, it seems more or less correct (but we don't want to add the max_attempt parameter to clone_git_repo, and "stop" must be an argument of tenacity.retry not subprocess.run).

[2020-01-09 05:59] amit6663 commented on #1234
can i work on this issue? @marco-c

[2020-01-09 09:29] marco-c commented on #1234
Anyone can work on any issue, read the guidance for first contributors, unless there is already a PR open to fix an issue.
@Pranay144 hasn't opened a PR yet, but it's almost as if he did, so he would have priority.

[2020-01-09 22:37] ahal opened #1236 "Commit classifier should accept push rev or id in addition to phabricator diff"
The current entry point requires a phabricator ID:
https://github.com/mozilla/bugbug/blob/master/scripts/commit_classifier.py#L545

But when running from the taskgraph, we'll be passing in a revision instead. We should accept both.

[2020-01-10 06:49] ayush-1506 commented on #1200
Ah, I just realized it crashes for me too. I wasn't patient enough to wait for the entire training period, hence after seeing the initial metrics I figured the rest might also be working fine for me.

I'm on 16 gigs of RAM and this is failing for me. @marco-c I think the only option here is increasing the ram be have for this job?

[2020-01-10 09:32] marco-c commented on #1200
@ayush-1506 or we can disable feature importance, that should fix it too.

[2020-01-10 18:25] ahal opened #1237 "Consider using `mozversioncontrol` in repository.py"
There's a library we use in mozilla-central that abstracts between hg and git repos:
https://searchfox.org/mozilla-central/source/python/mozversioncontrol/mozversioncontrol/__init__.py

I noticed a fair bit of logic in bugbug to do similar things. Though `mozversioncontrol` doesn't handle cloning (it could be subclassed and added in here). Anyway, if this were desirable we could either publish `mo

[2020-01-10 20:17] #1211 closed

[2020-01-10 20:24] marco-c commented on #1237
There are also a few other utility functions that we are using in other projects (code-coverage and code-review) which we could move in that library. E.g. https://github.com/mozilla/libmozevent/blob/627f64788076edd6499d8b434e895da8b671c676/libmozevent/utils.py#L103 and https://github.com/mozilla/libmozevent/blob/627f64788076edd6499d8b434e895da8b671c676/libmozevent/utils.py#L141.

[2020-01-11 10:19] #1200 closed

[2020-01-12 10:23] abhaykatheria commented on #1108
Can I just simply assert that new db is not downloaded
assert updated '' new db not downloaded"
And then in test I can write case where the current dB is older but newer can't be downloaded.

[2020-01-12 12:49] marco-c commented on #1234
Reopening as the PR is being reverted (as it breaks things).

[2020-01-12 13:32] marco-c opened #1242 "Use utils.download_model for downloading models in the HTTP service"
This would also re-introduce https://github.com/mozilla/bugbug/commit/8fc95985191ad28b76d4329562133a1d7ea585de, which was inadvertently reverted by https://github.com/mozilla/bugbug/commit/a8faa48d8a14c3f100c0d7b90744790712cb25fe, and is needed for #340.

[2020-01-14 12:10] kushagra414 commented on #1218
I think these models need to be changed.
https://github.com/mozilla/bugbug/blob/e9a35eb01f6977f46e31f4f8d072b65c977a5fbf/bugbug/models/devdocneeded.py#L84-L112
https://github.com/mozilla/bugbug/blob/e9a35eb01f6977f46e31f4f8d072b65c977a5fbf/bugbug/models/regression.py#L16-L36
https://github.com/mozilla/bugbug/blob/e9a35eb01f6977f46e31f4f8d072b65c977a5fbf/bugbug/models/qaneeded.py#L76-L92

[2020-01-14 13:07] Divya063 commented on #674
@sd1998  Are you still working on the issue?

[2020-01-14 14:02] kushagra414 commented on #1218
@marco-c could you please confirm?

[2020-01-14 17:55] marco-c opened #1246 "Cache git repositories too"

[2020-01-14 18:33] kushagra414 commented on #1218
Please Review #1247

[2020-01-14 23:44] marco-c opened #1249 "Set label as 0 in the QANeeded model when one of the qa flags are removed"

[2020-01-14 23:45] marco-c commented on #1218
About qaneeded and devdocneeded, yes.
About regression, no.

Did you check the other models too?

[2020-01-14 23:52] marco-c commented on #674
@Divya063 all issues are unassigned until there is a PR open to fix them, so feel free to work on this if it's interesting for you.

[2020-01-15 03:33] kushagra414 commented on #1218
Yes I checked all other models.
Regression does not need to be changed, I realised it later.

[2020-01-15 11:28] #1218 closed

[2020-01-15 22:05] dotslash21 commented on #1249
Hey @marco-c, after exploring `bugbug/models/qaneeded.py` I came across this method `get_labels()` which I think needs the required modification. So, If I add a check for one of the QA flags in the `removed` field of a change and set the label accordingly then that should do it.

Can you please confirm that am I on the right track, and also If I'm missing something? That would really help me, than

[2020-01-24 07:02] chidauri commented on #1131
@marco-c If i understood it correctly, commit retriever mines commits and saves in the db(new version), so bug retriever should use that db if the new version isn't found on taskcluster, right?

[2020-01-28 04:00] joshz123 commented on #1249
Is this issue still open? I am new to open source but if it is available would like to work on it

[2020-01-28 14:05] marco-c commented on #1249
Sorry @dotslash21 and @joshz123, but there already is a PR to fix this, so it is assigned for now (unless @abhaykatheria abandons their PR).

[2020-01-29 14:05] srajgure commented on #674
@marco-c  I would like to work on this problem. Can you please provide some details on how to approach it? I'm new to open source contribution.

[2020-01-30 13:41] #1249 closed

[2020-01-31 12:35] marco-c opened #1257 "Use exponential backoff when retrying with tenacity"
After switching to tenacity (#1234), we should start using exponential backoff instead of normal retries.

[2020-02-01 10:01] aditya-hari commented on #1257
Where will this change have to be made?

[2020-02-02 09:02] NitishNaineni commented on #1234
@marco-c  i would like to work on this issue. Seems this issue was already fixed but is being reverted, what seems to be the issue here?

[2020-02-02 17:48] menarulalam commented on #1257
Can I work on this? I would like to contribute to the open source community.

[2020-02-03 21:22] marco-c commented on #674
@srajgure there is quite a few info in this issue report, just read through the comments.

[2020-02-03 22:46] marco-c commented on #1234
@NitishNaineni usage of tenacity was not implemented correctly.

[2020-02-03 22:47] marco-c commented on #1257
This requires #1234 to be done first.

[2020-02-03 23:52] marco-c commented on #1131
@chidauri yes, the problem is that db.py is checking if there is a new version of the DB on Taskcluster, but the new version is not available yet on Taskcluster if we've just bumped the version.

[2020-02-04 06:58] aditya-hari commented on #1234
@marco-c Would how it is implemented in mozilla/code-convergence#366 work?

[2020-02-04 09:17] marco-c commented on #1234
Yes

[2020-02-04 13:05] marco-c opened #1265 "Return 404 when a model which doesn't exist is requested"
The HTTP service APIs (http_service/bugbug_http/app.py) should return 404 when the requested model is not supported (that is, not in the list at https://github.com/mozilla/bugbug/blob/e2a54a04ab69efd91c74a67805271009afb714a5/http_service/bugbug_http/models.py#L23).

[2020-02-04 21:20] sakshamb2113 commented on #1108
@marco-c can i work on this issue?I am new to open source and want to contribute.

[2020-02-04 23:13] marco-c commented on #1108
Yes, please read CONTRIBUTING.md and https://github.com/mozilla/bugbug/issues/1092 for the contributing rules.

[2020-02-05 17:30] marco-c opened #1267 "Create a model to detect inactive bugs"
This is not so easy, as it first requires to have a clear definition of what an inactive bug is.

[2020-02-05 17:45] marco-c opened #1268 "Make the commit classifier script apply the Phabricator patch as its first step"
Most failures happen when applying patches, so that should be the first step (right after cloning). This way, we don't waste time doing other things if the patch fails to apply.

[2020-02-05 17:52] chidauri commented on #1131
@marco-c Is it a good idea to create a new `...version.local` file to differentiate that the db has been created on that system and so not available on taskcluster.

[2020-02-05 18:20] marco-c commented on #1131
We could probably just use the current `XXX.version` file, as it's not really being used.

[2020-02-08 19:49] marco-c opened #1273 "Split regressor-finder task in three separate tasks"
Currently in the regressor-finder task we:
- find commits to ignore;
- classify bugs in defect/enhancement;
- find regressors.

We could make these three separate tasks.

[2020-02-08 19:50] marco-c opened #1274 "Make the past bugs by function task depend on the task to classify bugs"
Depends on #1273.

Currently the past bugs by function task depends on the regressor finder task, but it only uses the bug-fixing commits DB.

[2020-02-10 06:48] ayush-1506 commented on #1267
By definition, aren't stale bugs the ones where there hasn't been any activity for a while? Or can new bugs also be classified as stale?

[2020-02-10 10:04] marco-c commented on #1267
Not exactly, what we want is bugs where there hasn't been activity for a while (but we need to define what "a while" is exactly) and that aren't real bugs just waiting for somebody to jump in and fix them.
Basically, we want to detect bugs where there is not enough information to proceed and the reporter has been asked to provide, but has not provided for a long time, the required information to p

[2020-02-10 10:06] #1234 closed

[2020-02-10 10:07] marco-c opened #1275 "Try using "learning to rank" with Elasticsearch duplicate detection"

[2020-02-11 07:41] ayush-1506 commented on #1223
This can be closed now.

[2020-02-11 09:32] marco-c commented on #1223
It was fixed by https://github.com/mozilla/relman-auto-nag/pull/881.

[2020-02-11 09:32] #1223 closed

[2020-02-11 09:38] marco-c opened #1279 "Use `rca` from the whiteboard as a bug type"
Example in https://bugzilla.mozilla.org/show_bug.cgi?id=1556911.

[2020-02-11 10:33] kushagra414 commented on #1222
How many months should be considered for training?

[2020-02-11 10:36] marco-c commented on #1222
We need to test, if I had known the exact number I would have used it already :P

[2020-02-11 15:32] marco-c commented on #1194
Or, the numer of pushes since the last run of the task/manifest.

[2020-02-11 18:25] marco-c opened #1281 "Add a feature to identify files/directories which were changed together with a manifest (or test directory)"
We could add the number of patches in which a manifest has been changed together with a given source file / source directory as a feature.

Indeed, if there is a patch where a source file is modified together with a test, it's very likely that the test is exercising that source file.

[2020-02-12 11:03] marco-c opened #1282 "Make spawn_pipeline not depend on the order of tasks in the yaml file"
Currently, if a task is defined in the yaml file before its dependencies, the spawn_pipeline script fails with:
[code]

So things like https://github.com/mozilla/bugbug/commit/aaa67b3b0a1db7530cbf88df644aff076fcd2e4e are needed.

We should make the spawn_pipeline script not depend on the order of definition of tasks in the yaml file.

[2020-02-18 12:49] marco-c opened #1289 "Investigate bad SpamBug classifications"
E.g. https://bugzilla.mozilla.org/show_bug.cgi?id=1615701 was classified as spam with high confidence, but it isn't spam.
The first step is to check the feature importances for this classification, so we can see why the model chose the way it did.

[2020-02-19 11:28] #1273 closed

[2020-02-19 11:28] #1274 closed

[2020-02-20 11:59] marco-c opened #1290 "Consider using push data from try too"
We're currently getting it from autoland only.

The try data is less curated by sheriffs, but pushes contain few commits and more likely contain failures.

[2020-02-20 16:07] marco-c opened #1291 "Add a feature with the path distance between the source files modified in a push and the manifest"

[2020-02-20 16:11] marco-c opened #1292 "Add a task to train a manifest-level TestSelect model"
Depends on #1125.

[2020-02-20 16:11] marco-c opened #1293 "Use both the label-level and the manifest-level TestSelect models in the commit classifier"
Related to https://github.com/mozilla/mozci/issues/49.

[2020-02-20 16:28] marco-c opened #1294 "Add a feature with the common path components between a manifest and the source files modified by a push"
Possibly skipping components such as `test`, `tests`, `src`.

[2020-02-20 16:28] #1125 closed

[2020-02-20 16:28] #1291 closed

[2020-02-20 16:29] marco-c opened #1295 "Consider skipping meaningless components when calculating path distance"
E.g. `test`, `src`, `tests`.

[2020-02-20 16:30] marco-c opened #1296 "Consider skipping meaningless components when calculating the number of common components between manifest paths and source file paths"
See also #1295.

[2020-02-20 16:54] #1294 closed

[2020-02-20 16:56] marco-c opened #1297 "Instead of raw number of previous failures, consider using the rate of previous failures"
Since we don't run all manifests all the time, the raw number of previous failures can be misleading (e.g. if we run a manifest only once and it failed once, it's the same as a manifest which was run three times and failed three times).

[2020-02-20 18:19] dholbert opened #1298 "release-mgmt-account-bot (bugbug) pinged the same bug two days in a row"
release-mgmt-account-bot is trending towards adding spam to [bug 1613347](https://bugzilla.mozilla.org/show_bug.cgi?id=1613347), and needs to be tuned to stop doing so on that bug & other similar bugs.

Here's what happened:
1) It [needinfo'd our triage sheriff](https://bugzilla.mozilla.org/show_bug.cgi?id=1613347#c5) (who is TYLin, aka @Aethanyc, this week) yesterday. This was a reasonable thing

[2020-02-20 18:45] marco-c commented on #1298
bugbug is not involved here

[2020-02-20 19:16] marco-c opened #1420 "Cache pushes for 1-2 months instead of forever"
We re-run the script to gather push data every 2 weeks, so 1-2 months should be enough. We'd need to refresh the last access time whenever we read from the cache though.

https://github.com/mozilla/ci-recipes/blob/b52a3a88bdde6dc2686dc65822f3066dce091fd3/recipes/push_data.py#L63

[2020-02-20 23:00] marco-c commented on #1236
This was fixed by https://github.com/mozilla/bugbug/commit/936f2ccb3c6440875009c7f8f31825c7a772fe1d.

[2020-02-20 23:00] #1236 closed

[2020-02-20 23:02] marco-c commented on #1290
Depends on https://github.com/mozilla/mozci/issues/58.

[2020-02-21 10:16] #1292 closed

[2020-02-21 10:25] marco-c opened #1299 "Add a setup step to the http service to setup the environment for classifying commits"
This is partly similar to the what we are doing in the code-review backend.
We need to do:
- Clone mozilla-central;
- Download the test scheduling DB (https://github.com/mozilla/bugbug/blob/cb51deac6235477e7f2dbc13352a2627d129451c/scripts/commit_classifier.py#L179-L183);
- Update the commits DB (https://github.com/mozilla/bugbug/blob/cb51deac6235477e7f2dbc13352a2627d129451c/scripts/commit_classifi

[2020-02-21 10:32] marco-c commented on #1299
Note: this should happen in the worker dynos.

[2020-02-21 10:34] marco-c opened #1300 "Add the scaffolding needed to add an API call to select tests"
This issue is just about adding an API call (with a hardcoded result) to the http service, preparing the ground for the actual API.

It should be similar to the bug classification API call (`model_prediction`), but its input will be a repository and a commit hash.

As part of this issue, we should:
- add the API definition (in http_service/app.py);
- the implementation of queuing the classificatio

[2020-02-21 10:37] marco-c opened #1301 "In the API to select tests, apply the requested patch"
Depends on #1299 and #1300.

This is quite similar to what we're doing in the code-review bot, with the difference that we're not getting patches from Phabricator but from hgmo.

In the worker, we should retrieve the patch from the specified repository and at the specified revisions (with its non public parents) and apply it to the locally cloned mozilla-central repository.

Blocks #632.

[2020-02-21 10:40] marco-c opened #1302 "In the API to select tests, apply the model to select tests"
Depends on #1301.

We should:
1) Analyze the patches relevant for the try push (the non public ones? or the ones coming from json-automationrelevance?), as https://github.com/mozilla/bugbug/blob/cb51deac6235477e7f2dbc13352a2627d129451c/scripts/commit_classifier.py#L575-L580;
2) Apply the model to select tests, as https://github.com/mozilla/bugbug/blob/cb51deac6235477e7f2dbc13352a2627d129451c/scrip

[2020-02-21 12:00] BBloggsbott commented on #1295
Can you point me to the files that calculate the number of common components? I'd like to take up this issue but I want to understand it first.

[2020-02-21 12:50] marco-c commented on #1295
@BBloggsbott there are a few dependencies for this issue, so it can't be worked on yet.

[2020-02-21 16:13] BBloggsbott commented on #1295
@marco-c  Oh. Okay. What are the dependencies?

[2020-02-21 16:38] marco-c commented on #1295
There are quite a few, this part of the project is very much a work in progress.

[2020-02-22 17:42] BBloggsbott commented on #1295
Ah. Okay. Is there any way I can contribute to it?

[2020-02-24 13:19] marco-c commented on #1295
To this part of the project, not yet. To bugbug in general, sure! Yon can pick up any good first issue (https://github.com/mozilla/bugbug/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-bug), but please follow https://github.com/mozilla/bugbug/issues/1092 first.

[2020-02-24 19:40] ahal commented on #1300
@La0 would it help if I took a look at this issue while you worked on #1299 ? Or do you think you would have this finished in a couple days anyway?

[2020-02-24 21:31] La0 commented on #1300
I'm on PTO tommorow, will start looking into these issues on Wednesday.
I *should* have something by the end of the week, if that's too slow, feel free to re-assign the issues.

[2020-02-25 16:59] marco-c opened #1314 "Add function-level complexity metrics"
Similar to what was done in #1159, but at the level of modified functions.

[2020-02-25 17:00] marco-c opened #1315 "Add number of tokens to the complexity metrics"
See also #372.

[2020-02-25 17:00] marco-c opened #1316 "Add parameter count of functions to the complexity metrics"
See also #372.

[2020-02-25 17:01] marco-c opened #1317 "Add number of exit points of functions to the complexity metrics"
See also #372.

[2020-02-25 17:02] marco-c opened #1318 "Add dependency count to the complexity metrics"
See also #372.

[2020-02-25 17:07] #372 closed

[2020-02-25 17:07] marco-c commented on #372
I've closed this as we're done with the first iteration, and filed a few issues to track further additions.

[2020-02-25 17:07] marco-c commented on #372
I've closed this as we're done with the first iteration, and filed a few issues to track further additions.

[2020-02-25 17:17] ahal commented on #1300
Ok I don't have permission to re-assign, but I'm going to take a look at getting a head start here. If I'm not done by the time you're ready to work on it.. I can upload what I have and you can take over again if you like.

[2020-02-26 16:50] Luis-gd commented on #1257
I am new in open source contributions and I want to work on this issue, where I can start?

[2020-02-27 00:10] marco-c commented on #1257
@Luis-gd the first step is reading the documentation of the tenacity library to figure out how to use exponential backoff, then find all usages of tenacity in bugbug and apply the necessary changes.

[2020-02-27 10:52] La0 commented on #1299
I'm starting to work on that issue.

[2020-02-27 18:17] marco-c opened #1328 "Generate the test scheduling DB directly while getting data using mozci"
Currently the two things are split in two separate tasks:
1) The first task downloads the data from AD and generates a summary artifact;
2) The second task retrieves the summary artifact and generates the test scheduling DB.

Instead, we could generate the test scheduling DB directly while we're getting data from AD.

We are currently using LMDB and the memory usage is quite high with the current

[2020-02-27 18:20] marco-c commented on #1036
We are using LMDB now as the backend for shelve.

[2020-02-27 18:20] #1036 closed

[2020-02-27 18:20] marco-c commented on #1036
Since 50e86b38f0da15cc4154366f0f4c462906efe689.

[2020-02-27 23:25] marco-c commented on #1037
I've tried:
[code]

It didn't help. Infact, the result with deque seems smaller (probably because many numbers are small).

[2020-02-28 10:39] Luis-gd commented on #1257
All right, I am working on this.

[2020-02-28 11:11] #1299 closed

[2020-02-28 11:15] marco-c opened #1330 "Download test scheduling models in the HTTP service"
We should:
- Add the test scheduling models to https://github.com/mozilla/bugbug/blob/cfd82a8ad3635ab0214818c461b5220dccf76aa8/http_service/bugbug_http/models.py#L23-L29;
- Make sure the Docker build task https://github.com/mozilla/bugbug/blob/cfd82a8ad3635ab0214818c461b5220dccf76aa8/infra/data-pipeline.yml#L1124 depends on the tasks to train the test selection models;
- Remove the dependency on `

[2020-02-28 11:17] marco-c opened #1331 "Perform HTTP service's workers setup steps in parallel"
We currently clone mozilla-central and download one DB after the other, we can probably parallelize some of these steps to make the setup faster (see also https://github.com/mozilla/bugbug/pull/1320#discussion_r385211797).

[2020-02-28 13:18] marco-c commented on #1257
Note that there are already two PRs open to fix this, the first opened PR has the priority.

[2020-02-28 16:30] marco-c opened #1333 "Assert the DBs can be downloaded when booting the HTTP service workers"
At production time, we can assert.
During the integration test, the DB might be not available yet, so we need to allow the assertion to fail (similarly to what we do with ALLOW_MISSING_MODELS, perhaps we can change it to be called ALLOW_MISSING_MODELS_AND_DBS).

[2020-02-28 16:31] marco-c opened #1334 "In the integration test, reuse the already existing clone"
bugbug-data-commits is cloning mozilla-central, then we are cloning it again in the script to boot the workers.
We should allow the boot script to re-use an already existing clone.

[2020-02-28 16:32] marco-c opened #1335 "Drop MODELS_DIR environment variable"
It was added in #1332, but it can probably be dropped.

Maybe we can do this and #1242 at the same time.

[2020-02-28 17:54] marco-c opened #1337 "Don't rebuild bugbug-base when making changes to the http_service"
Otherwise, working on the http service becomes painful as we need to rebuild the docker image all the time.

This is a regression from https://github.com/mozilla/bugbug/commit/0eb7f91a232857eef8a6b578024ede569dfe85f1#diff-f7c5b4068637e2def526f9bbc7200c4eL100.

[2020-02-28 17:57] marco-c commented on #1337
I think we can actually revert that part of the change: @La0 added it at first in #1327 when he was moving the HTTP service Dockerfiles under infra/, but after review we didn't do that anymore so we should be able to just bring that line back.

[2020-02-28 18:21] #1337 closed

[2020-02-28 18:53] marco-c opened #1339 "Don't install dependencies twice in the background worker image"
https://github.com/mozilla/bugbug/blob/58bd8445533793eb1ab218b9bb77bcbc900e7846/http_service/Dockerfile.bg_worker#L7

https://github.com/mozilla/bugbug/blob/58bd8445533793eb1ab218b9bb77bcbc900e7846/http_service/Dockerfile.bg_worker#L11

We should remove the second line.

Regression from 0eb7f91a232857eef8a6b578024ede569dfe85f1

[2020-02-28 19:12] marco-c opened #1340 "Don't fill queue with requests while the worker is booting"
Here's an example failure of the integration test:
[live_backing.txt](https://github.com/mozilla/bugbug/files/4268644/live_backing.txt)

I think what's happening is that we enqueue a lot of requests while the workers are starting, and so we spend a lot of time doing them all.

We should queue jobs only once while the workers are not running.

[2020-02-28 19:17] marco-c commented on #1340
It should in theory already be working with the `is_running` check, but apparently it isn't (or at least I think it isn't, let's see what happens with https://community-tc.services.mozilla.com/tasks/FdozjNfCRRCy_Gtk5qEFqg).

[2020-02-28 21:04] marco-c commented on #1335
Done.

[2020-02-28 21:04] #1335 closed

[2020-02-28 21:15] ahal commented on #1340
I ran into this too, I fixed it by returning true if status is "queued":
https://github.com/mozilla/bugbug/pull/1319/commits/7262584827fa94041adec7cfa24f14d04b711063#diff-596c6d06758c5d9b7ca20ffba2196bb2R197

I'll roll that change out into a separate PR that fixes this issue when I get a chance.

[2020-02-28 22:08] marco-c commented on #1334
We should define an env variable, so even us for development can use an already existing clone.

[2020-02-29 11:33] marco-c opened #1341 "`hg: unknown command 'robustcheckout'\n(did you mean checkout?)` on Heroku"
[code]

[2020-02-29 11:44] marco-c opened #1342 "Make the models cache an actual cache"
Right now, it's a simple dict. We preload all models and keep them in memory forever.
We should instead only preload the ones we use often, and unload models from the cache when they haven't been used for a while.

[2020-02-29 11:50] marco-c commented on #1341
The hgrc is probably not being picked up, it's strange though as it works normally with other tasks based on the bugbug-commit-retrieval image.

[2020-02-29 11:54] marco-c commented on #1339
Actually, the second line is installing the package, so it's needed.

[2020-02-29 11:54] #1339 closed

[2020-02-29 12:06] marco-c commented on #1342
Also, not cache the seldomly requested ones.

[2020-02-29 12:08] imskr commented on #1330
Can i work on this issue ? @marco-c

[2020-02-29 12:12] marco-c commented on #1342
So we could do the following:
- cache a model only if it was loaded at least X times in two hours (maybe starting with a low value, like X = 2);
- set a TTL of two hours for cache entries;
- preload only the component model, which is used hourly by relman-auto-nag (and in the future the test selection models).

[2020-02-29 13:23] #1333 closed

[2020-02-29 14:40] #1334 closed

[2020-02-29 14:41] marco-c commented on #1340
As part of this, we should also move https://github.com/mozilla/bugbug/commit/791c16ebe0f8a607ab194d477ce602d8ecd7d80b#diff-aec5ad9e6cf04fcf90061c24d3443d57R26 and https://github.com/mozilla/bugbug/commit/791c16ebe0f8a607ab194d477ce602d8ecd7d80b#diff-aec5ad9e6cf04fcf90061c24d3443d57R49 back to 1 second.

[2020-03-01 03:20] mvkski commented on #1342
I'm interested in working on this, and curious as to the motivation for this enhancement. Are there any specific operational issues the service is currently experiencing, or that you foresee it experiencing, if this enhancement is not implemented and the service keeps loading all models into a dict?

[2020-03-01 16:46] marco-c commented on #1342
@mvkski better to start with an issue with the good-first-bug label: https://github.com/mozilla/bugbug/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-bug.
You can still work on this if you want of course, but it might not be as easy as those.
NOTE: The only thing missing here is removing items from the cache after two hours.

The reason behind this change is reducing memory usage of the HTTP ser

[2020-03-01 16:48] marco-c commented on #1330
@imskr better to start with an issue with the good-first-bug label: https://github.com/mozilla/bugbug/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-bug.
You can still work on this if you want of course, but it might not be as easy as those.

[2020-03-01 17:00] marco-c commented on #1116
See also #1290.

[2020-03-01 17:02] marco-c commented on #1087
This was fixed by bbae361d04450cc8281be8b2b459e2c677650b54.

[2020-03-01 17:02] #1087 closed

[2020-03-01 17:07] marco-c commented on #1023
The Docker images were switched with https://github.com/mozilla/bugbug/commit/1142f8a1bea791d78fa8d15c66f7d0aed549a4de.

[2020-03-01 17:10] marco-c commented on #1246
Duplicate of #997.

[2020-03-01 17:10] #1246 closed

[2020-03-01 17:18] marco-c commented on #613
Since b568a2d8d552f4bce0ce444a9768e3250e7e382e, we are doing a few more checks, so I think we can consider this done.

[2020-03-01 17:18] #613 closed

[2020-03-01 17:19] marco-c commented on #664
If we find a way to do this without applying the patch, we could even avoid having a local repository for the evaluation phase.

[2020-03-01 17:23] marco-c opened #1343 "Add a test performing a request with no API key"
In http_service/tests/test_app.py. The request should fail because of the missing API key.

[2020-03-01 17:56] imskr commented on #1343
I would like to work on this!

[2020-03-01 18:06] marco-c commented on #1343
Sure, no need to ask or to make statements, you can work on any issue for which there is no PR open :D (see the Guidance for first contributors).

[2020-03-01 19:14] #1330 closed

[2020-03-01 22:54] #1242 closed

[2020-03-02 03:22] mvkski commented on #1342
@marco-c Thanks for the suggestion! This issue looked like it might be a good fit for me because the enhancement seems straightforward (if I'm not missing anything) and I am interested in caching technologies, but I may pick up a good-first-bug issue seeing as you recommend doing so. Plan of action for this issue would be something like:

Replace the object at this line of code https://github.com/

[2020-03-02 06:23] mvkski commented on #1342
@marco-c Thanks! If you don't mind, I'd like to take a crack at this task for now. I think I have a pretty good handle on what needs to be done here, and have done similar things before.

 If I understand correctly, the following line:
https://github.com/mozilla/bugbug/blob/master/http_service/bugbug_http/models.py#L41
Needs to be switched out from a dict to a cache supporting a TTL. Currently I t

[2020-03-02 09:46] marco-c commented on #1342
I've looked at cachetools, but it looks like the cache is only cleaned up when you actually access it, so it doesn't help a lot by itself in reducing memory usage. We could set up a background thread which periodically performs the cleanup.

Simply: running out of available memory :)
On a Heroku `Standard 2x` worker we only have 1 GB available, so we have to use it carefully.

[2020-03-02 09:48] marco-c opened #1344 "Download required DBs directly in the HTTP service worker Docker image"
This would make worker startup super quick, at the expense of a large Docker image.

[2020-03-02 10:18] La0 commented on #1341
Maybe the new image was not properly built, i get errors due to `defectenhancementtaskmodel` being missing.

[2020-03-02 10:22] mvkski commented on #1342
Thanks for catching that! If we have a cleanup thread run only once every two hours it seems to me like it would solve the problem.  If I understand correctly, the problematic nature of the [global interpreter lock](https://wiki.python.org/moin/GlobalInterpreterLock) applies to this situation, but since the cleanup thread would only need to run very infrequently negative performance effects on inf

[2020-03-02 10:22] marco-c commented on #1341
This is due to a more recent change, 3eee2f8c7a567ff39972fb5d07a051562a9c9d84.

[2020-03-02 10:24] marco-c commented on #1342
Indeed!

[2020-03-02 10:40] mvkski commented on #1342
Also, If we're going to be writing our own cleanup thread, it seems like we may as well go the distance and implement our own TTL cache from scratch rather than take on an external dependancy with more features than we need.

It shouldn't be too much extra code to do so (I'm estimating 20-50 lines?). Having a small amount of extra code in the project seems to me like a fair price to pay for the co

[2020-03-02 10:44] marco-c commented on #1342
It sounds good to me, we already partially have it now (see https://github.com/mozilla/bugbug/blob/b72e96b269478cdce2b6aceef4beb190238c0eea/http_service/bugbug_http/models.py#L40 and https://github.com/mozilla/bugbug/blob/b72e96b269478cdce2b6aceef4beb190238c0eea/http_service/bugbug_http/models.py#L67-L71), so we just need the cleanup thread to go through the entries and remove stale ones.

[2020-03-02 13:23] #1341 closed

[2020-03-02 15:51] La0 commented on #1300
@ahal I've assigned the issue to you, as I see some commits from your fork linked to this issue.

[2020-03-02 18:56] Sanjuhub commented on #1265
Hey, I want to work on this issue. Can you please elaborate this issue please and where do I need to do changes?

[2020-03-02 20:31] #1340 closed

[2020-03-02 23:44] marco-c commented on #1265
I've updated the first comment to explain the issue in more detail.

[2020-03-03 15:40] marco-c opened #1356 "Use writemap option for LMDB"
It improves performance, but it generates a large sparse file and Python's tarfile doesn't support sparse files.
In order to do this, we need to somehow support sparse files in tar.

[2020-03-03 15:41] kaushiksk opened #1357 "'dict' object has no attribute 'data' while accessing error message from UnauthorizedError().dump({})"
The following line throws a 'dict' object has no attribute 'data'
https://github.com/mozilla/bugbug/blob/1fb819b1317f15ac883c337d4313c955db9b4eeb/http_service/bugbug_http/app.py#L261

This is because the UnauthorizedError schema defines a field named  "message" and not "data"
https://github.com/mozilla/bugbug/blob/1fb819b1317f15ac883c337d4313c955db9b4eeb/http_service/bugbug_http/app.py#L84-L85

Fo

[2020-03-03 15:42] marco-c commented on #1357
Thanks for the report! @ahal is fixing this in #1319.

[2020-03-03 15:48] kaushiksk commented on #1357
Awesome! This means that  I can work on #1343 only once this fix is issued right?
Please let me know in this thread once it's fixed. I'll  raise the PR for the test case accordingly.

[2020-03-03 16:16] marco-c commented on #1357
Feel free to submit a PR to fix just the `.data` issue, and @ahal will rebase his PR on top of yours.

[2020-03-03 16:53] kaushiksk commented on #1265
@marco-c I've raised a PR for this. Kindly review.

[2020-03-03 17:11] kaushiksk commented on #1357
@marco-c  I've raised a PR for this. Kindly review.

[2020-03-03 17:29] ahal opened #1361 "Add better tests for the '/<model>/predict' http_service endpoints"
PR https://github.com/mozilla/bugbug/pull/1319 adds some fixtures that allow us to mock out redis and rq. We should move these to the `conftest.py` and write some better tests for the bug classification endpoint.

[2020-03-03 17:32] ahal opened #1362 "Re-organize `JobInfo` handling in the http_service"
PR https://github.com/mozilla/bugbug/pull/1319 creates a `JobInfo` class that is needed in both `app.py` and `models.py`. But this created a circular import and so `models.py` needs to import it down in the function below.

Maybe we should move this class to a utility file or something. We could also consider moving more of the logic from `app.py` into it. E.g, instead of `get_result(job)` => `job

[2020-03-03 17:33] #1357 closed

[2020-03-03 17:33] #1343 closed

[2020-03-03 19:06] ahal commented on #1361
This is likely a bit trickier than a good first bug. I'm halfway through and there's some tricky pytest scope stuff to work through.

[2020-03-03 19:18] #1300 closed

[2020-03-03 19:19] #1265 closed

[2020-03-03 19:32] ahal opened #1363 "`/push/<branch>/<rev>/schedules` endpoint should return 404 when branch/rev don't exist"
Currently the `schedule_tests` function returns "NOK" when this happens here:
https://github.com/mozilla/bugbug/blob/bb9c2fbf71752206e03420ef6f20e64f70057f72/http_service/bugbug_http/models.py#L156

I did this because that's also what the `classify_bug` function returns on failure. But then I don't know how to capture this value over in `app.py` and properly surface a 404.

[2020-03-04 00:16] #1361 closed

[2020-03-04 05:13] InfTkm commented on #1023
Is this issue closed now?

[2020-03-04 06:53] kaushiksk commented on #945
Can you elaborate a bit on this, and direct me towards which files I need to be looking into?

[2020-03-04 10:01] marco-c commented on #1023
No, we still need to update .taskcluster.yml.

[2020-03-04 12:49] gabbyprecious commented on #1289
Can I work on this?

[2020-03-04 14:32] marco-c commented on #1034
This will greatly speed-up (and reduce memory usage while) classifying commits, as the current pickle file containing the experiences is pretty big.

[2020-03-04 14:33] marco-c commented on #1034
(it takes ~30 seconds just to load it!)

[2020-03-04 14:42] #1034 closed

[2020-03-04 17:03] marco-c opened #1365 "Same request is handled multiple times without ever returning 200"
Extract from the log:
[code]

[2020-03-04 17:04] marco-c commented on #1365
Probably a regression from bb9c2fbf71752206e03420ef6f20e64f70057f72.

[2020-03-04 17:10] marco-c opened #1366 "Consider defining multiple workers"
One for bug classification and one for commit classification.

This would reduce memory usage in the worker, allowing us to use 2 Standard 2x instead of 1 Performance M.

[2020-03-04 17:27] ahal commented on #1365
Looks like it schedules a new job, so there's probably some difference in the keys being generated for redis between the two.

I assume that "Memory quota exceeded" is unrelated?

[2020-03-04 20:30] marco-c commented on #1365
Yep, that's fine for now, but we'll have to fix it somehow at some point if we want to use smaller dyno types (#1366 would probably be enough).

[2020-03-04 20:44] marco-c commented on #486
@La0 maybe you could work on a script to do what I said above: take the latest run of the HTTP build task (e.g. https://community-tc.services.mozilla.com/tasks/NINALdhXTkK553pDPGgl-g), edit it to use the latest released version of bugbug, run it in the same task group, then do the same for the HTTP push and HTTP service deploy tasks (e.g. https://community-tc.services.mozilla.com/tasks/W6lZgT5OS1u

[2020-03-04 20:46] marco-c opened #1368 "Add a test for the HTTP service bug classification with missing bugs"
A test for https://github.com/mozilla/bugbug/issues/1365, to be added in https://github.com/mozilla/bugbug/blob/master/http_service/tests/test_bug_classification.py.

The test should cover the case where the HTTP service requests some bugs to Bugzilla, and Bugzilla replies with a subset of the bugs (so we get in this code path: https://github.com/mozilla/bugbug/pull/1367/files#diff-69bcb3f0fdd5bbb

[2020-03-04 20:47] #1365 closed

[2020-03-04 23:33] InfTkm commented on #1023
Hi, I would like to work on this issue as my first contribution. Thank you!

[2020-03-05 06:59] InfTkm commented on #1023
I have read the Taskcluster log of the previous PR in this issue, and the reason it failed the tests was the incompatibility between python:3.8 and Scipy library back then. It is no longer an issue now. I have successfully installed Scipy on my local container running python:3.8.
However, Tensorflow is incompatible with Python 3.8 right now, [issue](https://github.com/tensorflow/tensorflow/issues/

[2020-03-05 08:14] La0 commented on #486
Sure ! We'll have to discuss the workflow details, but i'll work on that next week.

[2020-03-05 10:48] marco-c commented on #1023
Thanks for testing it! So we have to wait a bit more in order to update.

[2020-03-05 10:51] marco-c commented on #1289
Sure, feel free.
@ayush-1506 might be interested to investigate too in order to complete the spambug-related project, but this issue can easily be worked on by multiple people since it's an investigation issue.

[2020-03-05 11:10] marco-c opened #1370 "Filter out suites which don't cover files modified by a patch"
If the model selects a suite which doesn't cover any of the files modified by the patch, we can filter it out.

[2020-03-05 11:13] ayush-1506 commented on #1289
I tried generating the confidence scores this weekend but the terminal crashes with `Killed: 9`. (Which seems to be oom error). I then tried reducing the size of the dataset, but turns out the reduced dataset had only one label every time I tried, so that couldn't work too. Will look into the alternatives.

[2020-03-05 12:06] marco-c commented on #1289
Probably best to reduce the features considered by the model (the best bet is using a `min_df` for text_vectorizer like we do in other models, you can try with a few different values to see which one doesn't decrease accuracy).

[2020-03-05 13:57] marco-c opened #1371 "Try to apply patches without pulling first"
In most cases, we'd be able to apply patches without pulling first, so we should:
- If the parent is available, checkout to the parent
- If the parent is not available, checkout to "tip"
- Try to apply the patch
- If the patch fails to apply and we had updated to "tip", pull from the remote repo and restart from the first step (if the parent still doesn't exist, we can directly raise an exception)

[2020-03-05 13:58] marco-c commented on #1371
As part of this, we should add the test suggested at https://github.com/mozilla/bugbug/pull/1369/files#r388303811.

[2020-03-05 14:10] #1301 closed

[2020-03-05 15:51] marco-c commented on #1117
We could train a model to choose on which platforms to run a given manifest.

We could use past failures data, just as we do for choosing manifests.

The main problem is that we don't run tests on all platforms normally. So, if we have a push where we run a test only on a given platform, how do we know if it was a platform-specific failure or if it just happened to run only on that platform? Idea

[2020-03-06 01:55] ayush-1506 opened #1373 "Fix confusion matrix for multilabel classification."
Error seems to be coming from https://github.com/mozilla/bugbug/blob/master/bugbug/model.py#L504 . Stack trace while running the bugtype model:

[code]