[2018-11-22 17:30] marco-c opened #3 "Support using a Bugzilla token"

[2018-11-22 17:30] marco-c opened #4 "Add an option to control whether to download security bugs"
It should be False by default.

[2018-11-22 17:31] marco-c opened #5 "Create a module to retrieve a snapshot of a bug at a given time"
We'll need this for training classifier on some specific problems. E.g. for triaging, we can only use the information about a bug at the time the bug was triaged, we can't use the information that is added after that.

[2018-11-22 17:32] marco-c opened #6 "Cleanup bug_features and bug_rules"
They are relics of a previous version of the tool that was based on handwritten rules. We should clean them up and merge them.

[2018-11-23 15:01] marco-c opened #8 "Try using spaCy text classifier"
We could try using the text classifier available in spaCy instead of gradient boosting and see how it behaves.

[2018-11-23 15:03] marco-c opened #9 "Perform text cleanup"
We are not cleaning up the text from title or comments at all, we should:
- [x] replace crash stats references (bp-XXXX, example in https://bugzilla.mozilla.org/show_bug.cgi?id=1376831#c0) with one or more tokens (e.g. "\_\_\_CRASH_STATS_LINK\_\_\_")
- [x] replace file references with one or more tokens (e.g. "\_\_\_FILE_REFERENCE\_\_\_") - #36.
- [x] replace URLs with one or more tokens (e.g. "\_

[2018-11-23 15:11] marco-c opened #10 "Create some new features from status flags"
The status flags can be particularly useful for detecting e.g. regressions.

Some features I can think of:
- "ever-affected", **true** if the status has ever been set to 'affected' (while some developers use 'affected' also for features, many use it only for bugs);
- "unaffected-then-affected", **true** if the status for a given version is `unaffected` and for a following version is `affected`.

[2018-11-23 15:13] marco-c opened #11 "Use basic rules before actually using the classifier"
We don't use `regression` in the training phase to avoid skewing results. In the evaluation phase we should use it though as its presence is a clear indication of a bug/regression, and if it is not present resort to the classifier.

[2018-12-05 15:32] marco-c opened #17 "Try using different textual features"
Right now we are using `TfidfVectorizer` with its default options (basically word 1-gram). We should try a few different options and see how the accuracy changes:
- [ ] word 1-gram
- [ ] word 2-gram
- [ ] word 3-gram
- [ ] char 1-gram
- [ ] char 2-gram
- [ ] char 3-gram
- [ ] word2vec
- [ ] doc2vec
- [ ] 1d-cnn (with pre-trained word embeddings)
- [ ] 1d-cnn (without pre-trained word embeddings)

[2018-12-05 15:36] marco-c opened #18 "Create a classifier to detect regression bugs that have no regression range"
Needed for https://github.com/mozilla/relman-auto-nag/issues/221.

To do this, we'll need to collect some labels.
We can automatically create positive labels by getting bugs that have the `regression` keyword and the `regression-wanted` keyword.
We can't automatically create negative labels because we can't be sure that the regression range is available, when we have the `regression` keyword but n

[2018-12-05 15:40] marco-c opened #19 "Create a classifier to detect bugs that have no steps to reproduce"
Needed for https://github.com/mozilla/relman-auto-nag/issues/222 and https://github.com/mozilla/relman-auto-nag/issues/400.

To do this, we'll need to collect some labels.
We can automatically create some positive labels by getting bugs that have the `stepswanted` keyword.
We can't automatically create negative labels because we can't be sure that STR are available, when we don't have the `stepswa

[2018-12-05 15:58] marco-c opened #20 "Create a classifier to detect the type of bug"
Needed for https://github.com/mozilla/relman-auto-nag/issues/223.

To do this, we'll need to collect some labels.
We can automatically create some by using the `perf` and `memory` keywords.

There are other types that we could try to classify other than perf and memory:
- Security - Security vulnerability.
- Crash - Program unexpectedly stops running.
- Hang - Program keeps running but without res

[2018-12-05 15:59] marco-c opened #21 "Create a classifier to detect bugs that need QA"
Needed for https://github.com/mozilla/relman-auto-nag/issues/227.

To do this, we'll need to collect some labels.
We can automatically create some positive labels by getting bugs that have the `qawanted` keyword or that have `qe-verify` flag.
We can't automatically create negative labels because we can't be sure that QA was not needed when the keyword/flag was not set.

[2018-12-05 16:05] marco-c commented on #19
Actually, we could create some negative labels too, by looking for bugs which had `stepswanted` at some point and then the keyword got removed.

Nevertheless, some manual labeling is still needed.

[2018-12-06 11:41] ayush1999 commented on #21
@marco-c The function for generating labels will return `True` if `qawanted` is a label and `False` otherwise, right?

[2018-12-06 16:51] marco-c opened #23 "Use the "experience" of the bug opener as a feature"
Where the "experience" of the bug opener is the number of bugs opened so far by the bug opener.

This can be useful for the detection of missing STR (hopefully an experienced bug opener will know that STRs are needed).

[2018-12-06 16:53] marco-c opened #24 "Consider the first comment separately than the rest"
The first comment might be more important than others for some classifiers (e.g. missing STR), so we should try to consider it separately than the rest of the comments.

[2018-12-06 16:54] marco-c opened #25 "Create a DUPLICATE detector"

[2018-12-06 16:54] marco-c opened #26 "Create a "similar bug" recommender"
"similar" not in terms of duplicate bug, but in terms of features. E.g. two bugs that are completely unrelated from each other, but that are of the same type and have similarly sized patches.

[2018-12-07 16:06] marco-c commented on #21
#22 was the first step here, adding a function to create the labels. Now we need to add some code to run.py to use it.

[2018-12-08 08:12] ayush1999 commented on #21
@marco-c  The `args.goal` in run.py would need to have a new QA option right? Also, are there some models present at the moment to test these changes?

[2018-12-09 06:08] marco-c commented on #21
@ayush1999 yes, there should be a new `qaneeded` option. There isn't a model present yet, since you're just adding the code to train now :smile:

[2018-12-09 22:57] marco-c commented on #21
#27 added the code to train.

The result seems too good to be true though, so we need to figure out if there is some feature that should be not considered in the 'qaneeded' case.

[2018-12-10 16:40] ayush1999 commented on #21
@marco-c Currently we are considering labels that have `qawanted` or `qe-verify` keyword. What should we be experimenting with to check the validity of the model? Should we be checking for a specific keyword that might cause the condition to be false? (So we'd have to remove that condition too)

[2018-12-10 16:43] marco-c commented on #21
It's possible that we are using those keywords as features, which clearly would make the problem too easy :smile:
We have to remove these keywords from the training for this 'qaneeded' case. Currently it's not easy to do it, so this will have to wait for the refactoring from https://github.com/marco-c/bugbug/issues/6.

[2018-12-10 16:52] ayush1999 commented on #8
@marco-c What's the priority of this issue? Is it worth trying out the spacy model at this stage?

[2018-12-10 17:00] marco-c commented on #8
Yes, definitely. It would require a bit of juggling around with the code, but it'd be useful to try.

[2018-12-12 09:46] marco-c commented on #6
9cd3378 removed bug_rules.py.

[2018-12-12 09:48] ayush1999 commented on #9
@marco-c We could add a check for removing the text inside `<>`, which are generally emails (in the commits.json file), since they aren't of any use. This shouldn't be hard to do, a simple filter and lambda function should be enough to do this. Need your go-ahead on this.

[2018-12-12 10:45] #6 closed

[2018-12-12 15:41] marco-c opened #29 "Extract feature importances for a classification"
When making a classification, we should also return the features that were most important for the decision.

[2018-12-12 15:43] marco-c commented on #21
#6 is done, and c95a6f809d45991489591066ebf5ff0b86ff4d2f made it possible to make the feature extractors configurable.
For the QA wanted case, we should clearly remove `qawanted` from the keywords extractor.

[2018-12-12 16:12] marco-c commented on #21
Here's an example for the regression model: https://github.com/marco-c/bugbug/commit/e9d291aaae297c885688db7583a4bfc6200ede8f#diff-5f2351779b955b08e775eb4234c3f2ebR28.

We should do something similar for the qaneeded model, with the only difference being that in that case we want to ignore the `qawanted` keyword.

[2018-12-12 16:14] marco-c commented on #9
I'd focus mostly on the bug data (title and comments), as that where most of the cleanup should be done first.
The emails in commits.json should be pretty rare.

[2018-12-12 16:39] marco-c opened #30 "'Is reporter a Mozillian' as a feature"
The first implementation will simply check if an email contains "@mozilla.com" or "@mozilla.org".

[2018-12-12 17:54] marco-c commented on #21
Actually, we still need to make use of #5 when that's ready.

[2018-12-12 18:16] marco-c opened #32 "Take into account that some words are synonymous"
E.g. STR == 'Steps to Reproduce' or 'UAF' == 'use after free' == 'use-after-free' and so on.

This is kind of part of #9.

[2018-12-12 18:47] marco-c commented on #32
Also 'safe mode' and 'safemode'

[2018-12-15 00:42] marco-c opened #35 "Labels tests are failing because they are using bugs that are not in the database"
We should just hardcode the data of those bugs.

[2018-12-15 00:51] #35 closed

[2018-12-16 22:34] marco-c opened #37 "Use 'product' and 'component' features in the models"
b7369ea8bf282941ce4b378ad5ad3c832db20668 introduced the features, but we are still not using them.

[2018-12-16 22:36] marco-c opened #38 "Add some timing-related information about patches to the bug features"
These might be useful for the uplift model:
- [x] #3118
- [x] Time delta between uplift request and merge day (we can approximate it with the release date of the next version at the time the uplift was requested) #97

[2018-12-16 23:18] marco-c opened #39 "Try using BERT"
See also #8.

[2018-12-16 23:23] marco-c opened #40 "Try using multitask classification"
See also #8 and #39.

Some of our classifiers are operating on the same data, it might make sense to use multitask classification.

[2018-12-17 10:23] marco-c opened #41 "Add tests for bug feature extractors"

[2018-12-17 10:24] marco-c opened #42 "Add tests for text cleanup functions"

[2018-12-17 15:00] #42 closed

[2018-12-17 16:51] ayush1999 commented on #9
@marco-c What kind of checks should be done for URLs that aren't in the regular form? (Such as hg.mozilla.org, or searchfox.org, as you mentioned?) (URLs that haven't been written starting with `http`)

[2018-12-17 17:13] marco-c commented on #9
I meant that for those URLs (http{s}://hg.mozilla.org, http{s}://searchfox) we might want to try to assing a separate token (not URL, but something like CODE_REFERENCE_URL).

[2018-12-17 18:37] marco-c opened #44 "Try using skope-rules"
https://github.com/scikit-learn-contrib/skope-rules

skope-rules is supposed to return highly-interpretable results, which can be really useful for some of our goals.

See also #8, #39 and #40.

[2018-12-18 15:20] #11 closed

[2018-12-21 13:23] marco-c opened #48 "Find a way to avoid the spacy `en` installation step"

[2018-12-21 13:45] #48 closed

[2018-12-22 18:45] marco-c opened #49 "Show model's most important features at the end of training"

[2018-12-22 19:48] #49 closed

[2018-12-24 07:41] ayush1999 commented on #9
@marco-c How can stack traces be identified? (I'm guessing they might be enclosed in some special character?)

[2018-12-24 16:08] marco-c commented on #9
Here are two examples https://bugzilla.mozilla.org/show_bug.cgi?id=1376831#c0 and https://bugzilla.mozilla.org/show_bug.cgi?id=1515375#c0, but it isn't so easy, maybe it's better not to do it or to try it after we're done with the others.

[2019-01-02 13:54] marco-c opened #51 "Add DB versioning"
When a new DB is available, it should automatically be downloaded.

[2019-01-02 15:03] marco-c commented on #32
I've added a function with 859cd9fd8b59979f0dfa7d56a543322c19c3b503, for now it only cleans up `safe mode`.

[2019-01-02 17:13] marco-c commented on #32
Added more synonyms with b4dd6acb7511e7f3b4195c3489067b95f6b7ca14.

[2019-01-02 17:44] marco-c commented on #32
Added one more with 11941c00c865d977b99ab8f3270ffa074a0589c2.

We can add more if we think of more, but for now I call this fixed.

[2019-01-02 17:44] #32 closed

[2019-01-07 11:16] ayush1999 commented on #9
@marco-c For replacing the crash stats, would a check for all words starting with `bp-` suffice?

[2019-01-07 11:19] marco-c commented on #9
I think it'd be better to have a more precise regex, we can probably find it somewhere as Bugzilla is using it to detect the links (indeed if you open one of those bugs, you can see that bp-XXX is a link).

[2019-01-07 12:03] ayush1999 commented on #9
Oh, also, could you point me to a bug example that uses hex numbers in the text?

[2019-01-07 14:00] marco-c commented on #9
Sure, here's an example: https://bugzilla.mozilla.org/show_bug.cgi?id=1489041.

[2019-01-07 14:47] calixteman opened #54 "requirements.txt should use '>=' instead of '=='"
I need to update libmozdata to 0.1.45 in auto_nag and your requirement is incompatible (==0.1.44)

[2019-01-07 14:58] #54 closed

[2019-01-08 10:50] ayush1999 commented on #9
If I'm not wrong, the hex numbers in the issue are already in `>`, so they get eliminated by #52 . Do we still need a check for substituting these numbers? (Maybe because #52 hasn't been merged yet?)

[2019-01-08 17:14] marco-c commented on #9
Only some are in `>`, but not all. For example see the title of the bug (it contains scdetour.dll@0x2dd77), or the first comment.

[2019-01-10 09:22] #5 closed

[2019-01-10 09:23] marco-c commented on #21
We now have #5, so we can finish this up by making use of it.
I'll use #5 in the components model, so you can see an example of how to use it.

[2019-01-10 09:24] marco-c opened #58 "Use the bug snapshot transform in the "tracking" model"
Depends on #5.

[2019-01-10 09:24] marco-c opened #59 "Use the bug snapshot transform in the "components" model"
Depends on #5.

[2019-01-10 09:25] marco-c opened #60 "Use the bug snapshot transform in the "uplift" model"
Depends on #5.

[2019-01-10 10:29] #58 closed, assigned to marco-c

[2019-01-10 10:32] marco-c commented on #21
I started with the `tracking` model, here's an example: 97d3bc2c41172b3cac54b0593787e329e2a1574e.

[2019-01-10 12:38] marco-c opened #61 "Create a classifier to suggest an assignee for a bug"
A new classifier, similar to the ones already present under bugbug/models/, should be created to predict the assignee of a bug.
This will be similar to the component model, except the label will be the assignee instead of the product/component.

[2019-01-10 12:38] marco-c opened #62 "Create a classifier to suggest a reviewer for a bug/patch"

[2019-01-14 22:39] marco-c opened #67 "Only show "meaningful enough" feature importances"
Right now I handpicked the number of most important features to show (the top 20).

We should use an algorithm to select what to show. The simplest two alternatives are:
1. Show all the contributing features that are at least X% of the sum of the contributions.
2. Show the top contributing feature, and all other contributing features that are at least X% of the top one.

[2019-01-14 22:48] #29 closed

[2019-01-16 17:25] marco-c opened #69 "Use bug reporter as a feature"

[2019-01-16 21:43] marco-c opened #71 "Try mean encoding for the labels"
It's supposed to be particularly effective for gradient boosted trees, which we are using.

[2019-01-16 21:45] marco-c opened #72 "Use ColumnTransformer to simplify feature extraction pipeline"
https://github.com/scikit-learn-contrib/sklearn-pandas

It will ease having multiple pipelines. E.g. if you have two classifiers who are working on two different features, and at the end a voting between them. The sklearn basic FeatureUnion is not a great fit for this use case.

[2019-01-16 22:21] marco-c opened #73 "Try other techniques to handle imbalanced datasets"
For now we're simply randomly under-sampling the majority classes.

[2019-01-17 19:04] marco-c commented on #72
Actually, we can use the new `ColumnTransformer` that was recently introduced with https://github.com/scikit-learn/scikit-learn/pull/9012.

[2019-01-17 20:52] #72 closed

[2019-01-17 21:16] manddy commented on #69
@marco-c I want to work on this issue but i am confused about the details about this project.Can you please guide me by giving an overall idea on this project.

[2019-01-17 21:30] marco-c commented on #69
The bugbug/bug_features.py file contains functions that extract features from bugs. A new function should be added to extract the bug reporter (which is a categorical feature).

I suggest you read the code of bugbug/bug.py, bugbug/model.py and bugbug/bug_features.py to understand the whole project better.

[2019-01-18 12:14] ayush1999 commented on #9
@marco-c Regarding cleanup for crash references, should I replace only the bp-XXXX part or the entire crash stat? Plus the bugs.json data doesn't have any indication to check if a certain text is a hyperlink or not.

[2019-01-18 13:34] marco-c commented on #9
I'd say only the bp-XXXX part.

What do you mean?

[2019-01-18 13:42] ayush1999 commented on #9
You mentioned in an earlier comment that we'd need to have a regex that checks for all `bp-XXX` words that are also links. Right?

[2019-01-18 13:45] marco-c commented on #9
Sorry, I wasn't clear enough. We need to replace the bp-XXX words only. I only meant that there must be a regex somewhere already, as Bugzilla itself is detecting the bp-XXX words and turning them into links (in its interface, not in its DB, that's why our bugs.json only contains the bp-XXX words and not the link).

[2019-01-18 16:45] ayush1999 commented on #9
Oh, I see. I guess I misunderstood. I just skimmed through the bugzilla repo, but was unable to find the matching regex. A regex such as `bp-\w+-\w+-\w+-\w+-\w+` should work, right?

[2019-01-18 17:47] marco-c commented on #9
Here it is, found it in the Socorro repo: https://github.com/mozilla-services/socorro/blob/fc00cb6a9321b33c2971a2c14c7d916638e33a14/socorro/lib/ooid.py#L68-L88.

[2019-01-18 18:45] ayush1999 commented on #9
Ah, thanks a lot.

[2019-01-19 10:00] ayush1999 commented on #41
@marco-c This refers to adding tests for classes in `bug_features.py`, right? (`has_str`, `has_regression_range` and so on)

[2019-01-19 13:42] Elchi3 opened #79 "Detect bugs that impact MDN Web Docs aka "dev-doc-needed""
For the last decade or so, the MDN Web Docs team relies on people adding "dev-doc-needed" to Bugzilla bugs, so that we can document if Firefox implemented a new Web platform feature or if changes to Web platform features happened in Firefox.

It would be amazing if we wouldn't have to rely so much on humans adding this keyword anymore.
I don't know if this project can help with this, but filing th

[2019-01-19 15:56] marco-c commented on #79
The "positive" training data for this can be past bugs where somebody set "dev-doc-needed", and the "negative" training data can be past bugs where "dev-doc-needed" was never set. The "positive" training data should be pretty good, the "negative" one not so much (there could be bugs where documentation was needed, but for some reason nobody ever set "dev-doc-needed").
We can definitely try, buildi

[2019-01-19 17:54] marco-c commented on #41
Correct!

[2019-01-20 12:54] marco-c opened #81 "Use f-strings everywhere"
Instead of .format.

[2019-01-20 12:56] marco-c opened #82 "Create constant sets directly instead of converting lists into sets"
Instead of doing something like `set(['val1', 'val2'])`, we should do `{'val1', 'val2'}`.

[2019-01-20 17:30] Jeetu95 commented on #81
Okay fine, then I am working on this. Thank you sir

[2019-01-20 17:31] #41 closed

[2019-01-20 17:53] ayush1999 commented on #82
@Jeetu95 are you working on this? This involves a few subtle changes, so if you're not, I'll open a quick PR.

[2019-01-20 18:01] marco-c opened #83 "'Is reporter a developer' as a feature"
Similar to #30.

This feature is going to be a boolean saying whether the reporter of the bug is a developer. As a first implementation, we can check if there is any commit where they are authors.

[2019-01-20 18:02] Jeetu95 commented on #82
Yes @ayush1999, I am working on this

[2019-01-20 18:05] marco-c commented on #82
I'm adding some rules to the README.md to avoid conflicts. PRs with `reserved-for-beginners` label will be reserved to people who have never committed in the project before. Every issue is to be considered as being unassigned until there is a PR linked to it.

[2019-01-20 21:30] #81 closed

[2019-01-20 23:56] marco-c commented on #30
1. You'll need to add an additional feature extractor in bugbug/bug_features.py.
2. No, I don't think so. Most of them should be automated accounts. Could you list here all the emails that end with "@mozilla.bugs"?

[2019-01-21 00:18] poojan124 commented on #30
` 'wptsync@mozilla.bugs'
 'omphalos@mozilla.bugs'
 'intermittent-bug-filer@mozilla.bugs' `
This are 3 emails that ends with "@mozilla.bugs".

[2019-01-21 00:35] marco-c commented on #30
Yes we can ignore them.

[2019-01-21 05:50] saurabhdaalia commented on #69
@marco-c Can you help me understand why bug reporter should be treated as a categorical feature?

[2019-01-21 10:00] marco-c commented on #69
@saurabhdaalia it has all the properties of a categorical feature. Do you think it could be another kind of feature?

[2019-01-21 10:04] marco-c commented on #60
To fix this issue, we'll need to do something similar to 2a440299d66d5a039bd683a353b80326dd5751df, but for the `uplift` model. We'd need to rollback to the time the uplift request was accepted or rejected.

[2019-01-21 10:04] marco-c commented on #67
There is already a PR that is attempting to fix this, so this issue is already assigned.

[2019-01-21 12:43] marco-c commented on #9
The text on Bugzilla comments is free text, so there isn't a rule that specifies stack traces to always start with `>`. Some people use `>` before stack traces, some people don't. Same with code snippets and so on.

Anyway, I guess cleaning up stack traces is not so easy, so I'd say we can ignore it for now.

[2019-01-21 12:44] marco-c opened #87 "Clean up stack traces"
Follow-up of #9.

We should replace stack traces with one or more tokens (e.g. "___STACK_TRACE___"). Unfortunately it's not so easy to do it (see the discussion in #9).

[2019-01-21 12:45] #9 closed

[2019-01-21 12:46] marco-c opened #88 "When cleaning up DLL names, differentiate between third-party DLLs and Firefox ones"
We're currently replacing all DLL names with a _DLL_NAME_ token, but we should differentiate between third-party DLLs and Firefox DLLs (XUL.dll, and so on).

[2019-01-21 12:47] marco-c opened #89 ".so and .dylib should be cleaned up to as DLLs"
.so and .dylib are DLLs on Linux and Mac. We should replace them with _DLL_NAME_ as we do for .dll files.

[2019-01-21 13:12] marco-c opened #91 "Fix bug snapshot code to account for change from 'Mac OS X' platform to 'macOS'"

[2019-01-21 13:13] #30 closed

[2019-01-21 13:34] #91 closed

[2019-01-21 17:56] marco-c commented on #38
The uplift request time can be retrieved from `when` inside `history`.

The landing of the patch in Nightly can be obtained by retrieving the date from Mercurial commits, or the date of the landing comments (https://github.com/mozilla/libmozdata/blob/0574613cc701eb10adff9ac3fcd422bc6efdd914/libmozdata/bugzilla.py#L313). This one is not so easy.

Merge day can be obtained by looking at the release

[2019-01-21 19:16] marco-c opened #93 "Unnecessary string formatting when saving the model"
https://github.com/mozilla/bugbug/blob/ab007344c5c799c08739b2d56f334afcaf242919/bugbug/model.py#L111 is not needed, we can use the variable directly.

[2019-01-21 20:20] shankarj67 commented on #93
Hi @marco-c

I am working on it.

[2019-01-22 10:52] pradeepgangwar commented on #37
@marco-c I will try this up. :)

[2019-01-22 14:06] marco-c commented on #37
@pradeepgangwar cool, thanks! I would do one PR at a time, one per model. When you make the PR, please write down both the results before adding the features and the results after adding the features.

[2019-01-22 15:14] marco-c commented on #79
The results are not too bad. The model has quite a bit of false positives (but this is partly to be expected, given that there could be bugs in the dataset which we should have documented but didn't), but it almost doesn't miss any bug.

If we set a confidence threshold to limit the false positives, out of 1933 bugs, 63 are suggested for dev-doc-needed (16 are actually dev-doc-needed), 1870 are no

[2019-01-22 16:12] Elchi3 commented on #79
Yes, this sounds super useful! Weekly would be fine, I'm already getting component watching summary emails weekly.

[2019-01-22 18:53] a2sheppy commented on #79
Other factors that could be considered:

* Bugs that get dev-doc-needed removed from them at some point after it's been added (this suggests a false positive among human-analyzed bugs)
* Bugs that go from dev-doc-needed to dev-doc-complete are guaranteed to be good
* Bugs that go from not having dev-doc-needed to having dev-doc-complete are bugs that were missed by previous scans through content b

[2019-01-22 18:54] a2sheppy commented on #79
I'd like this too.

[2019-01-23 00:38] #93 closed

[2019-01-23 14:23] marco-c opened #101 "In the DevDocNeeded model, consider bugs for which the dev-doc-needed keyword was removed as negative examples"
See also #79.

[2019-01-23 15:17] #79 closed

[2019-01-23 17:37] poojan124 commented on #83
I have a couple of questions about this.
1. This feature will be true if reporter of a bug made a commit for the same bug? So `bug_id` should match in both bugs and commit right?
2. And to check both are the same author ( for bug and commit) we need to check their `email`. Or there is other way to do it ?

[2019-01-23 18:50] marco-c opened #103 "Add 'priority' feature"
In bugbug/bug_features.py

[2019-01-23 18:51] marco-c opened #104 "Extend the whiteboard feature to consider all possible whiteboard words"
https://github.com/mozilla/bugbug/blob/1784a10346d9dedcb2e18e076f3d482e39be93a1/bugbug/bug_features.py#L83

[2019-01-23 18:52] marco-c commented on #104
Right now it's only looking for `whiteboard` or `[ux]`. It should instead get all possible whiteboard words.

[2019-01-23 18:54] marco-c opened #105 "Add `author experience` as feature"

[2019-01-23 18:55] marco-c commented on #89
Fixed by #96.

[2019-01-23 18:55] #89 closed

[2019-01-23 19:05] marco-c opened #106 "Add the number of negatively reviewed patches as a feature"

[2019-01-23 19:05] marco-c opened #107 "Add number and length of comments as a feature"

[2019-01-23 19:06] marco-c opened #108 "Add number of blocked bugs as a feature"

[2019-01-23 19:06] marco-c opened #109 "Add number of bug dependencies as a feature"

[2019-01-23 19:07] marco-c opened #110 "Add number of backouts as a feature"

[2019-01-23 19:08] marco-c opened #111 "Split commit changes-related features into real code changes and test code changes"
Right now we have single `added`, `deleted` and `types` values: https://github.com/mozilla/bugbug/blob/1784a10346d9dedcb2e18e076f3d482e39be93a1/bugbug/repository.py#L48.

We should have a `added` and `test_added`, `deleted` and `test_deleted`, and so on.

[2019-01-23 19:08] marco-c opened #112 "Add number of previous commits touching the same files as a feature"

[2019-01-23 19:09] marco-c opened #113 "Add number of previous commits touching the same modules as a feature"
This is similar to https://github.com/mozilla/bugbug/commit/a002e0ce53080699a78cada08a95fd2355953c42#diff-fd96da16451dabb38a55be1721e8be9e, but for components.

It's a little harder than author or reviewer experience, as we need to parse the patch in order to get the components, and we're currently parsing the patches in multiple processes.

[2019-01-23 19:09] marco-c opened #114 "Add modules touched as a feature"

[2019-01-23 19:09] marco-c opened #115 "Add components touched and number of components touched as features"

[2019-01-23 19:09] marco-c opened #116 "Add number of touched files as a feature"

[2019-01-23 19:45] saurabhdaalia commented on #69
@marco-c  yes, my bad. bug reporter qualifies as a categorical feature only.
To clarify, do I need to only create a  new function in bug_features.py to extract the name of bug reporter only? or do I have to incorporate that as a feature as well?

[2019-01-23 21:58] marco-c commented on #69
We should try to add it to the models and see if any model improves by adding the feature.
When you submit the PR, please make note of the results before/after adding the feature, and then we can decide for which models we should add it.

[2019-01-23 22:01] marco-c commented on #83
1. If the reporter of the bug made a commit for any bug. In theory we should only check commits before the bug opening time, but for simplicity we will consider all commits.
2. It is not completely precise, but yes for now we will use the email.

[2019-01-24 08:45] ayush1999 commented on #104
@marco-c It's currently looking for `memshrink` or `[ux]` right?. (You mentioned `whiteboard`) above.

[2019-01-24 09:39] marco-c commented on #104
Yes, see the comment above :smile:

[2019-01-24 11:17] marco-c commented on #38
One option is to use the `get_landing_comments` method, the other is to use the date of the commit. I guess they are equivalent.

[2019-01-24 16:05] poojan124 commented on #83
* For this, I am thinking to store all `mail` id from commit data in a set.
* And for each bug check whether or `creator_email` is present in that set or not. (Or is there any better way than this.)

* And to achive this with `mail_id` we can also store their oldest commit date( i am not sure where this information is ). From that we can check whether reporter have made any commits previously.
* F

[2019-01-24 17:57] marco-c commented on #83
Sounds good, it should work. You'll need to make this smarter:
https://github.com/mozilla/bugbug/blob/master/bugbug/bug_features.py#L235

You can check the number of arguments to the function, and if the number of arguments is only 1 you only pass the bug, otherwise, you pass an object containing some data (for now, only the developers).

[2019-01-24 18:07] marco-c commented on #83
Good idea!

[2019-01-24 20:20] sbeesm commented on #103
I need to implement a feature extractor class `priority` to extract bug priorities right?

[2019-01-24 21:14] marco-c commented on #103
Correct!

[2019-01-25 11:21] ayush1999 commented on #104
I found a list of commonly used whiteboard words here: https://wiki.mozilla.org/ReleaseEngineering/Bugzilla/Whiteboard . Should I add these?

[2019-01-25 11:22] marco-c commented on #104
No, unfortunately they are bound to change and there's no complete reference.
We should just use all whiteboard items we find in the whiteboard. The model will automatically discard the ones which are not meaningful.

[2019-01-25 12:20] ayush1999 commented on #104
Oh, I see. Please correct me if I'm wrong: I'll have to implement an regex that finds all text between `[` and `]` in the whiteboard, extracts only the tags from each (`[memshrink:XXX]` becomes only `memshrink`), and appends it to the returned list. Right?

[2019-01-25 13:33] marco-c commented on #104
Correct!

[2019-01-25 15:22] sbeesm commented on #103
I'm not able to run the project locally. I've installed all the requirements but it shows an error:
[code]

Please help.

[2019-01-25 15:24] marco-c commented on #103
@sbeesm please open a separate issue, as your problem is unrelated to this issue.

[2019-01-25 17:20] saurabhdaalia commented on #69
@marco-c is there any specific IRC or communication channel for this specific project, where we can have discussions?

[2019-01-25 17:24] marco-c commented on #69
#bugbug on irc.mozilla.org

[2019-01-25 17:52] sbeesm opened #120 "Add scikit-image==0.14.2 as requirement"
scikit-image<=0.14.1 is incompatible with numpy>=1.16.0.

`_validate_lengths` was removed in numpy 1.16.0. To handle deprecation scikit-image 0.14.2 should be used.

Using numpy<1.16.0 is also not an option as `_multiarray_umath` is new to numpy 1.16.0 and not there in previous versions.

[2019-01-25 17:56] sbeesm commented on #103
The error was due to the incompatible versions of scikit-image and numpy.
I've opened an issue #120 related to this.

[2019-01-25 18:07] marco-c commented on #120
I can't reproduce this locally, and it can't be reproduced on Travis. Maybe it was a problem with your local environment?

[2019-01-25 18:21] sbeesm commented on #120
Initially I was using scikit-image 0.14.1, so when I ran the `run.py` script, this error occured:

`ImportError: cannot import name '_validate_lengths'`

But the problem is solved after updating it to 0.14.2.

[2019-01-25 18:33] marco-c commented on #120
So it was a problem in your local configuration.

[2019-01-25 18:33] #120 closed

[2019-01-28 06:37] rhcu commented on #108
Hi Marco! May I clarify whether I understand right: should I add a new class in `bug_features.py` that will have a `__call__` method returning the size of `blocks` array that is in Bug info (https://bmo.readthedocs.io/en/latest/api/core/v1/bug.html#get-bug)?

[2019-01-28 09:35] marco-c commented on #108
Correct!

[2019-01-28 14:16] sbeesm commented on #116
Could the number of files touched be the length of `types` attribute list in commits data?

`"types": ["JavaScript", ".ini", ".build"]`

[2019-01-28 14:34] marco-c commented on #116
No, the types are only the types. If you have ten JavaScript files the length of types will be 1, but we want 10.

[2019-01-28 19:38] ayush1999 opened #126 "Clean the test data for cleanup functions"
The test data for cleanup functions (https://github.com/mozilla/bugbug/tree/master/tests/fixtures/bug_features) has a lot of redundant fields. Essentially, we'd need only the field that is being tested. For example, it'd be easier if each test element in `has_str.json` had only the `has_str` key. (And so on for other test files).

[2019-01-28 20:04] #104 closed

[2019-01-28 20:37] sbeesm commented on #116
As of now, we are just downloading commits data and not parsing it like in `repository.py`, right?

So do we somehow need to parse the bug id related commit data from bugzilla? Something like extracting info from attachments diff?

[2019-01-28 21:08] marco-c commented on #116
We can simply change `repository.py` to add the required info.

[2019-01-28 21:27] marco-c opened #127 "Add bug alias as a feature"
Not the alias by itself, but something like True if `CVE` is in bug['alias'], False otherwise.

[2019-01-29 09:05] #108 closed

[2019-01-29 11:25] ayush1999 commented on #116
@marco-c This means that the bug data will now contain a new field called `desc` right? (Obtained from commits.json for each bug element)

[2019-01-29 12:30] ayush1999 commented on #116
Will the `number of touched files` feature be extracted from the comments in the bug `bug['comments']`? Or would this data need to be extracted from commits.json file?

[2019-01-29 12:39] marco-c commented on #116
We can't extract it from the comments, as they don't contain this information.

It would need to be extracted in `repository.py`, and stored in `commits.json`.

[2019-01-29 12:54] ayush1999 commented on #116
Oh, I see. So the number of touched files will be sum of added and deleted, if I'm not wrong?

[2019-01-29 15:31] poojan124 commented on #83
* As you suggested this idea. I have come up with couple of implementaiton but dont know which will be suited.
1. Using list of the class which requires more than 1 argument.
[code]
* But in this case we need to maintain list manually.
2. Using `inspect` module `signature` method
- using signature method we can get number of paramter function takes.
[code]
- This implementation looks good and we d

[2019-01-29 15:40] marco-c commented on #83
I prefer the more generic solution

[2019-01-29 15:52] marco-c commented on #17
Regarding fastText, see https://github.com/RaRe-Technologies/gensim-data/issues/26#issuecomment-408814033.

[2019-01-29 16:56] sbeesm commented on #115
By modules, you mean the sub-directories touched, right? Like files in how many directories got changed?

[2019-01-29 17:09] marco-c commented on #115
I meant modules, which are described at XXX.
But actually, let's use components instead, as they're easier to retrieve, see https://mozilla-version-control-tools.readthedocs.io/en/latest/hgmo/mozbuildinfo.html.

Unfortunately, they are not as easy to retrieve as I was expecting, so I'll remove the `good first issue` label from this.

[2019-01-29 17:12] marco-c commented on #114
See also #115.

[2019-01-29 17:12] marco-c commented on #115
The info can be retrieved by using mach, e.g. `./mach file-info bugzilla-component toolkit/components/telemetry/`.

[2019-01-29 19:21] puneet29 commented on #107
Hey, @marco-c !
Can you please clear it out whether it's a single feature for both or two seperate features. Also, how are we supposed to find the length of multiple comments for a single bug?

[2019-01-29 19:44] marco-c commented on #107
Two features, one being the number of comments, and the other being the sum of the lengths of the comments.

[2019-01-29 20:35] marco-c commented on #115
Yes, we can use the `subprocess` library to execute mach.
The `file-info` command also has a `--format` option to return a json instead of plain text, which might be better.
Moreover, you can pass a list of files, you don't need to pass one at a time.

[2019-01-29 20:37] marco-c commented on #115
Actually, even better, by running `./mach file-info bugzilla-component **/* --format json` you should get info on all files in the repository. So you'd just need to run mach once.

[2019-01-29 20:38] marco-c commented on #115
N.B.: In theory, we should run mach after checking out to the required commit, as files can be removed/renamed, or components can change, but as an approximation we can start by running `mach` in the repository at the "current state" (which is the latest commit).

[2019-01-29 21:38] puneet29 commented on #107
Thank you for replying, @marco-c
One more question. Do I need to add these features to the feature_extractors?

#### Before adding the features:
Accuracy: f0.9324602812039998 (+/- 0.018969080793911693)
Precision: f0.9497134915934188 (+/- 0.01657777606969935)
Recall: f0.9133191208568092 (+/- 0.0320320984075)

#### After adding the features:
Accuracy: f0.931457794020608 (+/- 0.013929651276067727)
Pr

[2019-01-29 22:19] marco-c commented on #107
No, for now let's just add the function in bug_features.py, but let's not use it yet in any model.

[2019-01-29 23:59] marco-c opened #132 "Print progress while generating commits data"
In `repository.py`, the script takes many hours. It'd be nice to know the progress while you're running it.

[2019-01-30 01:20] #132 closed

[2019-01-30 01:21] marco-c opened #134 "Print progress bar while downloading bugs"
Similar to what we're doing for commits data: 28b83c12c29185c52afb58d94a533a9448969a8a.

[2019-01-30 03:05] EternalLearner42 commented on #134
Sounds interesting. I am a bit of a newbie, if you could give me some advice on how to do this, I'd be happy to try 👍

[2019-01-30 07:16] sbeesm commented on #115
But we need the components touched by a specific commit in our data right?

Wouldn't `./mach file-info bugzilla-component **/* --format json` give the info for all files in the repository irrespective of the fact that they were changed by a commit or not?

[2019-01-30 09:20] marco-c commented on #134
You have an example in the first comment :)
You can just do something similar in the function to download bugs in bugbug/bugzilla.py.

[2019-01-30 09:34] marco-c commented on #115
You can run that script, put the result in a map, then for each commit you get the list of modified files and you go into that map to get the components.

[2019-01-30 09:35] marco-c commented on #115
(BTW `**/*` only gives first-level files, we'll need another way to get all files)

[2019-01-30 09:38] marco-c opened #136 "Fix linting issue preventing us from updating to flake8 4.7.1"
https://github.com/mozilla/bugbug/pull/135 is failing because:

We should fix it, and then we can merge https://github.com/mozilla/bugbug/pull/135.

[2019-01-30 10:42] marco-c commented on #110
No, all changesets have a parent, even those which were never backed out.

For example, take a look at https://hg.mozilla.org/mozilla-central/rev/758c71218a1f. It has one parent, and it has not been backed out.

https://hg.mozilla.org/mozilla-central/rev/7065c7171760 has one parent too, and it has been backed out by https://hg.mozilla.org/mozilla-central/rev/2b73321e629d.

There are a few possible

[2019-01-30 10:53] marco-c opened #137 "Stop parsing bug ID manually and use a hg.log template"
We can use the {bugs} template (https://github.com/mozilla/version-control-tools/blob/d5db0980ab004b3aada29afdcf798a8a95520240/hgext/mozext/__init__.py#L137) at https://github.com/mozilla/bugbug/blob/5da534ecc95b375de2e5b4e8262253115725bce1/bugbug/repository.py#L86 and stop parsing the bug ID manually at https://github.com/mozilla/bugbug/blob/5da534ecc95b375de2e5b4e8262253115725bce1/bugbug/reposit

[2019-01-30 13:31] akashgosai commented on #134
@marco-c are these changes enough?

[2019-01-30 13:44] akashgosai commented on #137
I am a newbie here, can you suggest a bit about how are we supposed to parse manually?

[2019-01-30 13:44] #116 closed

[2019-01-30 13:46] #136 closed

[2019-01-30 13:49] marco-c commented on #134
@akashgosai sorry, the issue is reserved for new contributors (people who haven't done any commit to the project yet).

[2019-01-30 13:54] akashgosai commented on #134
Okay.

[2019-01-30 14:02] marco-c commented on #137
We *are* parsing manually, and we should stop doing it. The first step would be to clone mozilla-central and then read docs about hg log (the template parameter) and try to use it from the cmd line.

[2019-01-30 14:44] #127 closed

[2019-01-30 14:45] sbeesm commented on #115
The script doesn't seem to work, it returns an empty dict:
[code]

[2019-01-30 15:31] marco-c commented on #115
Try running "./mach" without python. If it doesn't work still, try running "./mach bootstrap" first.

[2019-01-30 16:01] marco-c commented on #110
We will be able to do 1 when https://bugzilla.mozilla.org/show_bug.cgi?id=1523961 is fixed.

[2019-01-30 16:45] rhcu commented on #110
Thanks! Will have a look on it later then. :)

[2019-01-30 17:06] marco-c commented on #110
I've added you to the CC list of the bug on Bugzilla, so you get notified when it is fixed.

[2019-01-30 17:47] saurabhdaalia commented on #71
@marco-c , to clarify, currently we are using Labels as 1 or 0 only.
Lets say for bug model, if the class is True we encode it as 1 else 0.

Mean Encoding for Label A = [Number of True targets for Class A]/[Total Values for Class A]
Is this the right way to go?

[2019-01-30 17:49] #69 closed

[2019-01-30 23:59] #134 closed

[2019-01-31 11:46] ayush1999 commented on #105
@marco-c From where should this data be extracted? (Any specific field that should be used?)

[2019-01-31 12:59] marco-c commented on #105
The data should be extracted from commits, using a template when calling hg.log.

[2019-01-31 13:07] marco-c commented on #105
I think the first step would be to try to add the `template` parameter to the `hg.log` call and adjust the rest of the code.

E.g. template='{author}|{node}\n'
will give you something like:
[code]

[2019-01-31 14:42] akashgosai commented on #137
do I have to clone mozilla-gecko-dev ?

[2019-01-31 16:31] ayush1999 commented on #105
I just dug a bit into the hglib code, looks like using `hg.log()` returns commit in `'{rev}\\0{node}\\0{tags}\\0{branch}\\0{author}\\0{desc}\\0{date}\\0'` format. Can't we use this directly? `commit.author` and `commit.node` attributes can be used to extract the corresponding values.

[2019-01-31 18:58] marco-c commented on #105
We can use it for the author, we can't use it for the reviewer.

[2019-01-31 20:30] marco-c commented on #71
Not exactly, what we need to try is mean encoding the categorical features, using the labels data.

https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv (or you can find other resources online) could help understand more.

[2019-01-31 20:31] marco-c commented on #137
You'll have to clone mozilla-central, which is a Mercurial repository, see https://github.com/mozilla/bugbug#running-the-repository-mining-script.

[2019-02-01 06:35] pramud commented on #126
@marco-c, @ayush1999  I would like to work on this issue could you help me with initial steps

[2019-02-01 08:07] ayush1999 commented on #126
Hey @pramud The test data in the `test/fixtures/bug_features` directory is really messy. We'd like to remove all redundant keys from each test element in all test files and keep on the element being tested. So each line ion `has_str.json` will be a dict containing only `has_str` key, for example.

[2019-02-01 11:32] ayush1999 commented on #105
@marco-c I'm trying to do something like:
[code]

`hg` in this case doesn't have a kwarg called template, according to the docs. What am I doing wrong? (Is there some problem in installing the extension?)

[2019-02-01 12:00] marco-c commented on #105
Ahhh, that's a pity. I thought there was a `template` parameter for log.

OK, so it looks like you'll have to write a custom log function, you can take inspiration from https://www.mercurial-scm.org/repo/python-hglib/file/tip/hglib/client.py#l1095.

[2019-02-01 12:03] marco-c commented on #105
(you don't need to support all the options, just template)

[2019-02-01 12:36] ayush1999 commented on #105
The default template is defined in `templates.changeset`, equal to `'{rev}\\0{node}\\0{tags}\\0{branch}\\0{author}\\0{desc}\\0{date}\\0'`, so if I try to change that, I get an empty list in the result, so maybe the template `{author}|{node}\n` isn't right?
[code]

[2019-02-01 12:50] marco-c commented on #105
You can test it from the command line, `hg log --template '{author}|{node}\n'`.

[2019-02-01 13:08] ayush1999 commented on #105
Hm, that's weird. I'm not sure why it behaves differently in both cases.

[2019-02-01 14:43] calixteman commented on #105
For example:
[code]

is working for me.

[2019-02-01 17:30] ayir commented on #137
@marco-c I managed to get the bug ids from the cmd line using "hg log --template '{bug}\n'" command but I am stuck as how to put the template argument in the hglog python command?

[2019-02-01 18:48] marco-c commented on #137
@ayir @ayush1999 is working on that in #148, once that is landed you'll be able to use the function he wrote.

[2019-02-01 18:52] ayir commented on #137
Ohh alright thanks !

[2019-02-03 11:50] #82 closed

[2019-02-04 11:00] marco-c commented on #110
https://bugzilla.mozilla.org/show_bug.cgi?id=1523961 has been fixed, so this is now feasible.

[2019-02-04 18:54] ayush1999 commented on #105
@marco-c Now that the first step is complete (template for log function), how should the experience of the author be determined? (Probably depends on the number of commits made?)

[2019-02-04 19:30] marco-c opened #152 "Add 'reviewer experience' as feature"

[2019-02-04 19:31] marco-c commented on #105
I've split the issue in two, this one is about the author, #152 is about the reviewer.

[2019-02-05 11:32] marco-c commented on #83
@poojan124 are you working on this?

[2019-02-05 13:02] ayush1999 commented on #105
Sure, so we can have a global variable such as `num_commits = {}` that maps author names to the number of commits made by them, and then writes it out to the json file?

[2019-02-05 13:15] marco-c commented on #105
We'll add the information directly in commits.json (each commit will have `author_experience` and `author_experience_past_3_months`).

[2019-02-05 13:39] poojan124 commented on #83
No as of now I am not working on this. Was stuck on how to send extra data to required features.

[2019-02-05 16:07] #23 closed

[2019-02-05 16:09] marco-c commented on #83
You have an example at https://github.com/mozilla/bugbug/blob/f0d591ad3700d94d7d4786daf8edb343beeb6035/bugbug/bug_features.py#L212, called like this https://github.com/mozilla/bugbug/blob/f0d591ad3700d94d7d4786daf8edb343beeb6035/bugbug/bug_features.py#L289.

[2019-02-05 17:19] marco-c commented on #10
`ever-affected` has been added in eca4e1a.

[2019-02-05 18:01] poojan124 commented on #83
@marco-c thanks . now since we have added `**kwargs` to all features i can `is_developer`  feature.

[2019-02-05 23:34] Varezki opened #155 "repository.py is not working"
I keep getting this error each time I run 'python repository.py <path>'. I'm using python3.6.8

`Traceback (most recent call last):
  File "repository.py", line 144, in <module>
    download_commits(args.repository_dir)
  File "repository.py", line 116, in download_commits
    with concurrent.futures.ProcessPoolExecutor(initializer=_init, initargs=(repo_dir,)) as executor:
TypeError: __init__() go

[2019-02-06 01:43] emceeaich opened #156 "extend classifiers to distinguish between defect, feature, and task"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1522340

[2019-02-06 02:57] dbxnr commented on #83
heyq

On Tue, 5 Feb 2019, 18:01 poojan124 <notifications@github.com wrote:

[2019-02-06 10:35] ayush1999 commented on #155
@Varezki This was updated in Python 3.7, I'd recommend you to use that.

[2019-02-07 06:24] Varezki commented on #155
@ayush1999 I installed Python3.7 and it worked, but now run.py is giving this error
`urllib.error.URLError: <urlopen error [Errno -2] Name or service not known>
`
I think this has something to do with the dropbox url in the repository.py file but I'm not sure
Any suggestions?

[2019-02-07 07:16] ayush1999 commented on #155
The link is correct; you can visit the link to verify this. How are you running the run.py script? Also, you need to have an internet connection the first time you run the script (for downloading the data).

[2019-02-07 08:51] Varezki commented on #155
`python run.py --train`
I run this command and the internet connection is fine but I still get the error.
I tried now to download the data manually from the browser using the link, but dropbox says "There was an error downloading your file". I think the link needs to be updated.

[2019-02-07 08:52] marco-c commented on #155
The link works for me.

[2019-02-07 09:09] marco-c commented on #156
This can be done pretty easily, the most time consuming part that I would need help on is collecting a few examples of bugs that are `feature` and `task`.

Two ways we can do this:
1) I can create a spreadsheet where we list bugs and we can write down the labels for them;
2) We could use a WebExtension that adds a form to Bugzilla pages to collect this info.

[2019-02-07 09:40] marco-c commented on #106
Correct!

[2019-02-07 09:41] marco-c commented on #106
This is not so easy though because we are using multiple review systems, so I'll remove the `good first issue` label.
You're still welcome to work on it, but I can tell you it's not going to be so easy.

[2019-02-07 09:50] saurabhdaalia commented on #106
I see, thank you for the suggestion.
Still, to get into the issue, what can be the starting point to get to know about the issue, where can this data be accessed from?

[2019-02-07 10:17] marco-c commented on #106
The data is scattered between Bugzilla and Phabricator.
On Bugzilla it is easy, you just need to count the number of patches which had review-.
On Phabricator, it needs some investigation.

[2019-02-07 15:10] marco-c commented on #155
Please reopen in case you still can't download those files.

[2019-02-07 15:10] #155 closed

[2019-02-07 18:02] sbeesm opened #158 "change hg.log to hglib.util.cmdbuilder in readme.md"
Now that `repository.py` uses a templated log function instead of `hg.log`, to limit the number of analysed commits while testing the script, `limit=1024` should be added to `hglib.util.cmdbuilder`.

[2019-02-08 09:29] marco-c opened #160 "Use commit count instead of the date to insert empty comments"
https://github.com/mozilla/bugbug/blob/b2ffd010a4d7771f5090cf54a67a2eb36a664eb4/bugbug/bug_snapshot.py#L288

[2019-02-08 09:29] marco-c commented on #160
Need to wait for the next DB dump, as the current one doesn't contain the commit count (it was added by 34846c08720c70ecfa1f12879b023021ecdc29a4).

[2019-02-08 09:38] marco-c commented on #105
Total author experience has been added with #154.

Now we need to add author experience in previos 3 months.

[2019-02-08 09:39] #59 closed

[2019-02-08 10:00] ayush1999 commented on #105
@marco-c We need the number of commits in previous 3 months from the day the commit was made or from `datetime.now()`?

[2019-02-08 10:06] marco-c commented on #105
From the day the commit was made

[2019-02-08 14:40] marco-c opened #162 "Make get_feature_importances work for multiclass problems"
Right now `get_feature_importances` fail for multiclass problems (e.g. component).

[2019-02-08 14:41] marco-c commented on #162
@yatinmaan you might be interested in this, since you fixed #67.

[2019-02-08 15:38] yatinmaan commented on #162
I am.
I'll open an PR as soon as possible.

[2019-02-08 15:45] #137 closed

[2019-02-08 15:55] #158 closed

[2019-02-08 21:29] emceeaich commented on #156
How many bugs would you need for training? If it's not a large number we could use a sheet.

[2019-02-10 00:36] #160 closed

[2019-02-10 00:58] marco-c commented on #156
I think a couple hundred would be enough. We have already a lot of `defect` labels, so we mainly need `feature` and `task`.

I've created a sheet, you can copy it and fill as much as you can, then send it to me:
https://docs.google.com/spreadsheets/d/1xWLpllN36KmF0_44XSxrBQi0cUuV_zF10S2KlR8u4vQ/edit#gid=1115488857

(I'll do the same with my own copy, so we can compare the results to fix possible w

[2019-02-10 01:23] marco-c opened #166 "Don't collect metrics for backouts"
This is an optimization. First of all, we need to count how many backouts we have to make sure this is worth it.

[2019-02-10 01:24] marco-c opened #167 "In some features related to commits, ignore commits that have been backed out"
For example, to count the number of lines modified by the commits of a bug, we only want to sum the lines of non-backed out commits.

[2019-02-11 00:56] #110 closed

[2019-02-11 01:03] ayir commented on #167
@marco-c for which all features we have to implement this?

[2019-02-11 04:58] emceeaich commented on #156
I'll go through this spreadsheet Monday.

On Sat, Feb 9, 2019 at 4:58 PM Marco <notifications@github.com> wrote:

[2019-02-11 09:20] marco-c commented on #167
All of the commit features

[2019-02-11 09:20] marco-c commented on #166
We could also avoid collecting metrics for backed out commits.

[2019-02-11 11:27] marco-c commented on #10
`unaffected-then-affected` has been added in 9a0eae81297b85cc1a4510531b2d43572ecb32c0.

[2019-02-11 11:27] #10 closed

[2019-02-11 21:07] emceeaich commented on #156
I'm also going to ask some other teams to review this list so we can reduce bias.

[2019-02-12 09:02] #115 closed

[2019-02-12 16:44] poojan124 commented on #83
Sorry for the late reply. I need clarification on a couple of things.
First, we are going to identify bug author made any commits. To do this i need to get list of all authors from commits data.
In `commits.json` data author is stored in one of the formats of `name <email>` .
Some of the emails are in weird formats also
1. 'Daniel Veditz <dveditz@mozilla.com> / Reed Loden <reed@mozilla.com>', 7275

[2019-02-12 17:36] sbeesm commented on #51
We also need to add last-modified field to the dropbox link headers, right?

Then maybe we can compare timestamps of the existing DB in the file directory and the one on the server?

[2019-02-12 23:34] marco-c commented on #51
We can just add a file containing the version alongside the DB files, that's the easiest solution.

[2019-02-13 04:45] sbeesm commented on #51
But this would always require to download the DB (along with the version file) first and then check with the existing version.

[2019-02-13 09:24] marco-c commented on #51
Not really, it would just require downloading the version file.

Anyway, I've noticed that Dropbox returns an ETag in the headers, so we could just check the ETag before downloading (if it's the same as the previous one, we don't download, if it is different, then we download).

Thinking about it though, I prefer to avoid any kind of connection on every run. So I'd just add a version file for each

[2019-02-13 12:52] sangimanishrao commented on #166
Could you elaborate on this a little more?

[2019-02-13 12:54] marco-c commented on #166
In the repository mining script, we need to skip collecting metrics for any commit which is a backout or which has been backed out.

[2019-02-13 14:24] sbeesm commented on #51
So in `db.download()`, we can add a version file along with the database in the repository and then in `run.py`, we can check the version and download the DB if necessary?

[2019-02-13 14:30] marco-c commented on #51
Yes

[2019-02-13 14:32] marco-c commented on #51
Basically:
- we'd have a VERSION file for each DB in the repo;
- when downloading a DB, we save the current version in another file locally;
- when we run, we check that the VERSION from the repository is the same as the local version file.

[2019-02-13 18:24] #73 closed

[2019-02-13 23:10] poojan124 commented on #83
@marco-c  Please review and comment whether this is a correct implementation of the feature or i need to change?

[2019-02-13 23:24] marco-c commented on #83
Yes, for now we can use this solution. We can improve on it later by using information from https://hg.mozilla.org/mozilla-central/file/tip/.mailmap, and by trying to match the full name from the commit with the full name from Bugzilla.

Could you regenerate the list, putting the commit hash alongside the invalid emails? I want to take a look at a few of the commits with invalid authors.

[2019-02-14 02:25] poojan124 commented on #83
Can you give me a reference from where can I get this commit hash?

[2019-02-14 03:08] poojan124 commented on #83
I hope this is ok: https://pastebin.com/raw/mgu3vRzv. Since I don't know where to get those commit hash i have created this file from `commits.json.`

[2019-02-14 08:57] marco-c commented on #83
Yeah that is fine too, from the bug ID I can retrieve the commit.

[2019-02-14 13:12] marco-c commented on #105
Total experience added with a002e0ce53080699a78cada08a95fd2355953c42, previous 90 days experience added with 936509ba3aa695b5e43fa6d086a2c58a295f85ef.

[2019-02-14 13:12] #105 closed

[2019-02-14 15:31] #167 closed

[2019-02-14 17:02] marco-c commented on #162
My suggestion would be to sort the features by "sum of importance", and then show the importance for each feature and each class side by side in a table.

(a bit like the picture at the bottom of https://github.com/slundberg/shap/blob/35e20d11e58218c25c8f2c3c0662aa706716243b/notebooks/tree_explainer/XGBoost%20Multi-class%20Example.ipynb, but as a ASCII table instead of an image)

[2019-02-14 17:45] marco-c commented on #166
`hg log --template '{backedoutby}\n' | wc -l` shows that we have ~34000 commits that were backed out. If we assume that each commit backed out only one commit, by doing this we could skip ~68000 commits (in practice the number will be lower, as one commit often backs out more than one commit).

[2019-02-14 18:16] ayush1999 commented on #152
@marco-c Can I work on this? If yes, could you tell me where are the reviewer details found?

[2019-02-14 18:37] marco-c commented on #152
Sure! This will be similar to the `author experience`.

The reviewer info can be found in the commit message, but you can simply use the `reviewers` template parameter.

[2019-02-14 19:05] ayush1999 commented on #152
The template does not seem to have a `reviewers` option, as I read here : http://hgbook.red-bean.com/read/customizing-the-output-of-mercurial.html (and I also keep getting empty results when I add `reviewers` to the template). The `desc` for each commit contains `r=some_name`, so this is the reviewer detail, if I'm not wrong?

[2019-02-14 20:00] marco-c commented on #152
You will need to enable the mozext mercurial extension in order to have that (same for backedoutby, which should be empty for you now).

After running `./mach vcs-setup` in the directory where you cloned mozilla-central, add:
hgmo = PATH/TO/VERSION-CONTROL-TOOLS/hgext/hgmo
mozext = PATH/TO/VERSION-CONTROL-TOOLS/hgext/mozext
to the extensions section of your hgrc file.

[2019-02-14 23:29] poojan124 commented on #83
@marco-c  so are we going with this implementation or need to change anything?

[2019-02-15 00:22] marco-c commented on #83
Yes, it's OK as a first implementation.

[2019-02-15 00:27] poojan124 commented on #83
@marco-c Ok then i will make PR.
And i will work on this you mentioned before.

And will also look into better way to extract author list from commit data.

[2019-02-15 06:20] poojan124 commented on #83
We can get author email or name directly using `hg template` with `{author|email}` and `{author|user}`.
[code]
This way of extracting email is lot better than using regex. Which one do you prefer?

[2019-02-15 09:41] marco-c commented on #83
This would definitely be better, but I'd be curious to see what are author_name and author_email in those cases where the email was missing.

[2019-02-15 18:56] ludoro commented on #109
I would like to tackle this! Should I just create another class in the bug_feature.py file? If I manage this I will solve similar problems as well.

[2019-02-16 04:31] poojan124 commented on #83
* Here are some examples and their respective template outputs.
---
[code]

user:        Cosmin Sabou :cosmin_s
date:        Sun Feb 11 12:46:14 2018 -0700
summary:     Bug 1421183 - Disabled browser/base/content/test/tabs/browser_reload_deleted_file.js on Linux/OSX for frequent leaked windows. r=gbrown

[code]

Cosmin Sabou :cosmin_s
---
[code]

user:        Daniel Veditz <dveditz@mozilla.com> /

[2019-02-17 10:48] marco-c commented on #109
Correct!

[2019-02-17 10:59] marco-c commented on #83
OK, thanks for the investigation!

[2019-02-18 02:07] moz-hwine opened #178 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/bugbug/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of pub

[2019-02-18 08:51] marco-c commented on #178
It looks like the option was already enabled.

[2019-02-18 08:51] #178 closed

[2019-02-18 19:00] saurabhdaalia commented on #44
@marco-c , I have worked on this, for Bug model as well as QAneeded model, the current model works much better than Skope-Rules model. Shall we proceed further with it?
(P.S: I have not given much emphasis on tuning Hyperparameters for the Skope-Rule model)

[2019-02-18 23:01] marco-c commented on #44
What results are you seeing?

[2019-02-19 21:10] saurabhdaalia commented on #44
_For Bug Model_
`Scope Classifier Metrics
[[502  47]
 [ 31  86]]
                   pre       rec       spe        f1       geo       iba       sup

          1       0.94      0.91      0.74      0.93      0.82      0.68       549
          0       0.65      0.74      0.91      0.69      0.82      0.66       117

avg / total       0.89      0.88      0.77      0.89      0.82      0.68       666

[2019-02-19 23:57] #83 closed

[2019-02-20 00:02] marco-c commented on #44
It's not so bad, if it actually generates readable rules. What are the generated rules?

[2019-02-20 00:31] marco-c opened #185 "Retrieve review data"
(Unfortunately) We'd need to gather it from multiple places:
1) Bugzilla
2) MozReview
3) Phabricator

[2019-02-20 00:33] marco-c opened #186 "Add tests for the repository module"
- [x] repository.get_revs (#380)
- [x] repository.get_directories (#381)
- [x] repository.download_commits (#379)
- [x] repository.calculate_experiences (#382)
- [x] repository.hg_log (#385)
- [ ] repository._transform (#384)
- [ ] repository.get_commits (#383)
- [x] repository.download_component_mapping (#535)

[2019-02-20 00:34] marco-c opened #187 "Author and reviewer experience should ignore backouts"
Author and reviewer experience should not be increased for commits that are backed out.

[2019-02-20 10:59] marco-c commented on #21
@ayush1999 do you want to finish this up?

[2019-02-20 12:13] ayush1999 commented on #21
Sure. If I'm not wrong, a rollback option needs to be added to the qaneeded model, which returns True if `'field_name`` starts with `qa` right?

[2019-02-20 14:43] saurabhdaalia commented on #44
For Bug Model

[code]

[2019-02-20 15:14] marco-c commented on #21
The rollback option needs to be coherent with the labeling, that is we have to rollback either to when qawanted was added or to when qe-verify was added.

[2019-02-20 15:29] #187 closed

[2019-02-20 17:48] ayush1999 commented on #21
Right, abd we also need to add this option to `bug_snapshot.py`, right? Right now nothing happens when `field_name` in `['qawanted', 'qe-verify']`.

[2019-02-20 18:26] marco-c commented on #21
No, bug_snapshot is generic, for each history change it calls the function to check when it should stop.

[2019-02-21 17:42] marco-c opened #191 "Ignore revisions from .hg-annotate-ignore-revs"
They are changes like reformatting, automated removal of code, and so on. Given that they are one-offs, maybe we should ignore them when collecting metrics.

[2019-02-21 21:53] #51 closed

[2019-02-24 17:06] HSR05 commented on #126
i would like to work on this issue.
Can you guide me @ayush1999

[2019-02-24 17:16] ayush1999 commented on #126
The process is pretty much summed up in my earlier comment (https://github.com/mozilla/bugbug/issues/126#issuecomment-459639958). Please tell me if you need help understanding any aspect of it.

[2019-02-25 04:30] chidauri commented on #37
@marco-c can i take this issue? I am contributing for the first time.

[2019-02-25 09:34] marco-c commented on #37
Sure. As described at https://github.com/mozilla/bugbug#contributing, any issue that is open and has no PR linked to it can be considered unassigned.

[2019-02-26 03:20] chidauri commented on #37
Hi @marco-c ,i,ve made some changes to use these features, how do i know if these features are being used now and i,ve done things correctly?

[2019-02-26 06:33] ranpox opened #194 "Can not train DevDocNeeded model"
I got AssertionError when I executed `python run.py --train --goal devdocneeded`.
[code]
It seems that the length of self.commit_map is 0 because all `bug_id` in commit.json are "".

[2019-02-26 09:50] marco-c commented on #37
Train the model to which you have added the feature before and after adding the feature, and see if there's any change in the metrics.

[2019-02-26 09:52] marco-c commented on #194
I've updated the commits database, can you remove it manually and re-run, it should work now.

[2019-02-26 09:52] #194 closed

[2019-02-26 14:52] ranpox commented on #101
I'm willing to take this up.

[2019-02-26 21:43] HSR05 commented on #126
@ayush1999  Can you please explain a little more about what "each line in has_str.json will be a dict containing has_str only.
I get that we are removing the redundant fields in the dict but it's my first time with this data so can you help me walkthrough this data.
I'd appreciate  the help.
Thankyou.

[2019-02-26 23:29] chidauri commented on #37
Hey @marco-c ,  i checked the change in metrics for different models,and found significant change in only bug model.can i make PR?

[2019-02-26 23:43] marco-c commented on #37
Sure, but please attach here one text file per model showing your results before/after.

[2019-02-27 05:45] chidauri commented on #37
[bug_model.txt](https://github.com/mozilla/bugbug/files/2908732/bug_model.txt)
This is for bugmodel,like this for all?

[2019-02-27 09:22] marco-c commented on #37
Yes, thanks!

[2019-02-27 14:46] marco-c commented on #88
At https://github.com/mozilla/bugbug/blob/008c34b83a3d73dc8c9b007a98367dbacbf78233/bugbug/bug_features.py#L302, we should only cleaup third-party DLLs, and not Firefox ones.

So, for example xul.dll should still be xul.dll and not replaced with __DLL_NAME__. Same with mozglue.dll, libxul.so, and so on.

To get all Firefox DLLs, you can either download the archives containing the Firefox binaries f

[2019-02-27 14:54] LakshyAAAgrawal commented on #88
I would like to take this up. Could I be assigned?

[2019-02-27 15:08] marco-c commented on #88
@LakshyAAAgrawal feel free to work on any open issue. See https://github.com/mozilla/bugbug#contributing, all issues are unassigned until there is a PR open to fix them.

[2019-02-27 15:27] chidauri commented on #37
[qaneeded_model.txt](https://github.com/mozilla/bugbug/files/2910937/qaneeded_model.txt)
Here is the 'qaneeded' model, no changes at all. I think the rest of the models don't need to use these features and some are already using. So should i only implement this for 'bug' model?
And Thank you @marco-c  :)

[2019-02-27 15:43] marco-c commented on #37
OK, sounds good!

[2019-02-27 16:35] LakshyAAAgrawal commented on #88
Could I create a file "firefox_DLLs.json" which contains a list of all firefox library files including *.so and *.dll files, and then load this file when the function "cleanup_dll" is called, and then do the needful for differentiating?

[2019-02-27 16:45] marco-c commented on #88
You can just hardcode the DLL names in a constant that you define right before cleanup_dll, a separate file is overkill.

[2019-02-27 17:32] saurabhdaalia commented on #162
@yatinmaan , hey are you working on this?
@marco-c

[2019-02-27 17:37] ayush1999 commented on #126
@HSR05 Each line is the test file is a dict, suppose `{'a': val1, 'b':val2, 'c':val3}` and so on. If the test file is for the `a` field, we can remove the other fields (`b` and `c`), so that the line becomes `{'a':val1}` only, since the other fields aren't of any use to us.

[2019-02-27 17:39] HSR05 commented on #126
Got it. I'll work on it. Thanks for the guidance 👍 @ayush1999

[2019-02-27 18:28] marco-c commented on #162
@saurabhdaalia the contributing rules are at https://github.com/mozilla/bugbug#contributing, you can consider all issues as unassigned until there is a PR open to fix them.

[2019-02-28 07:08] LakshyAAAgrawal commented on #88
In the test file [test_cleanup_functions.py](https://github.com/mozilla/bugbug/blob/master/tests/test_cleanup_functions.py#L48-L53), the second test asserts that 'libxul.so' gets converted to '\_\_DLL_NAME\_\_', as shown:
[code]

However, as pointed out [above](https://github.com/mozilla/bugbug/issues/88#issuecomment-467889054) by @marco-c :

Therefore, I think this test case should be updated. Am

[2019-02-28 10:04] marco-c commented on #88
Yes, it should be updated.

[2019-02-28 11:08] HSR05 commented on #126
@ayush1999

Can you please clarify once again because the has_str.json file does not have any has_str key.
Same goes for the other files like has_urls.json. I cannot find any key has_urls.
If there is anything wrong with my udnerstanding can you please clarify the issue once again?
Thankyou.

[2019-02-28 11:20] ayush1999 commented on #126
`has_str` is just a bug extractor. It doesn't search for the `has_str` key. For the key, see : https://github.com/mozilla/bugbug/blob/master/bugbug/bug_features.py#L27 (and similar for other bug extractors)

[2019-02-28 15:45] #21 closed

[2019-02-28 15:51] ayush1999 commented on #186
@marco-c Should I take this up? If so, what should these tests include?

[2019-02-28 15:57] marco-c commented on #186
This is going to be a bit involved. You're going to have to create a test mercurial repository and generate a few commits in it in order to test all the functions in repository.py.

The first tests, testing the behavior of _transform, should not require a test repository though (you can create some fake commit objects), so you can start with those.

[2019-02-28 15:57] marco-c commented on #186
No, actually even for testing _transform you'll need a test repository.

[2019-02-28 16:16] ayush1999 commented on #186
Ok, correct me if I'm wrong, when the tests for repository start, it'll first clone the dummy repo into tests/data, and then test the repository function, right?

[2019-02-28 16:19] marco-c commented on #186
The test itself will create the repository, it won't clone it.

[2019-02-28 16:23] ayush1999 commented on #186
Could you explain what you mean by the test creating the repository? I was thinking about hosting a dummy repo on bitbucket, and cloning it at the time of the test (I'm guessing there's an extension to clone hg repo from python?).

[2019-02-28 16:32] marco-c commented on #186
Having the test repository outside of this repository will make it much harder to add new tests and modify the existing ones. Also, it will make it hard to perform bisection.

Instead, we can just create the repository locally as part of the test setup.

[2019-02-28 17:03] yatinmaan commented on #162
@saurabhdaalia Yes, I am still working on this.

I have modified the .ipnb mentioned above to show [the ASCII table](https://i.imgur.com/7LGiOFy.png), now I am porting that code over to bugbug.

[2019-02-28 17:25] ayush1999 commented on #186
Sure, I'll add the repo to test/data. Also, off topic: how is https://github.com/mozilla/bugbug/blob/master/bugbug/repository.py#L122 supposed to be used? (I keep getting empty lists). The date parameter is the date from which all commits should be collected, I reckon?

`hg.log(revrange='pushdate("{}")'.format(datetime.datetime(2019, 1, 1, 0,0,0).strftime('%Y-%m-%d')), limit=1)`gives me an empty l

[2019-02-28 17:40] marco-c commented on #186
It's better if we create the repo programmatically with Python, using hglib. Having a whole repo inside the repo just for testing purposes would have a few problems too (not easily modifiable).

You'll need to enable these three mercurial extensions:
[code]

If you run `./mach boostrap` or `./mach vcs-setup` in your mozilla-central clone, /PATH will be YOUR_HOME_DIRECTORY/.mozbuild/

[2019-02-28 17:41] marco-c commented on #186
Here's a brief example from another project, you can take inspiration from it https://github.com/mozilla/release-services/blob/549691a0365854fe0c9e03c01728b7f66d7cbe9b/src/staticanalysis/bot/tests/conftest.py#L53.

[2019-02-28 18:16] #88 closed

[2019-02-28 19:21] #37 closed

[2019-03-01 09:49] #101 closed

[2019-03-01 12:35] chidauri commented on #60
@marco-c  How to test if i've made correct changes for this issue?

[2019-03-01 15:28] marco-c commented on #60
@chidauri make sure you can run the model, and write some tests similar to those in #189.

[2019-03-01 17:18] ayush1999 commented on #186
Thanks, I'll dig into it. By the way, @marco-c how do you use hg with this project? hg4.8 uses python2.7, whereas this project uses python3. (I'm trying to fix the `hgmo : no module named utils` error I was getting earlier, to use the log function)

[2019-03-01 20:46] ayush1999 commented on #186
Nevermind, I figured it out.

[2019-03-01 20:54] ayush1999 commented on #186
@marco-c I've updated my hg to 4.9, and added all those extensions, however I still get an empty list:
[code]
Using only `hg.log()` gives the correct results. Any idea why this is happening?

[2019-03-01 21:15] saurabhdaalia opened #202 "Improve documentation about how to use repository.py"
I am facing this particular issue when running repository.py
@marco-c  @ayush1999

[code]

[2019-03-02 05:52] RushabhVasani opened #203 "Add documentation of a new feature as Data and User's reviews as dependent variable"
We can predict the the overall impact of a new feature which we are thinking to add by training this kind of model.
Every time when we add a new feature we would have to make users  give reviews or stars to it and by making  review or stars as a dependent variable and the full documentations of that newly added feature as the data of the feature and by training on that data we can I think predict

[2019-03-02 05:56] ayush1999 commented on #202
Have you added `pushlog`, `hgmo` to the extensions in your .hgrc file?

[2019-03-02 08:54] ayush1999 commented on #186
Also, can you please test if the `client.commit()` functions works for you? (I keep getting a `hglib.error.CommandError: (1, b'committing files:\ntest.cpp\ntest.txt\ncommitting manifest\ncommitting changelog\nupdating the branch cache\nnothing changed', b'')`). I'm on Python3.7 , hg 4.8.2.

[2019-03-03 05:12] parthpm commented on #126
Can I work on this issue?

[2019-03-03 05:20] HSR05 commented on #126
@parthpm I am already working on it, if i find any difficulty i'll update this thread and you can help along. Cheers 👍

[2019-03-03 09:32] ayush9398 commented on #61
I would like to work on this issue.
@marco-c can you tell me where to start from? I have already forked the repo, cloned it on my system and have downloaded the requirements and test-requirements.

[2019-03-03 09:35] LakshyAAAgrawal commented on #61
@ayush9398 I have already been working on this issue. Could you please take up another issue.

[2019-03-03 09:51] ayush9398 commented on #61
Sure, @LakshyAAAgrawal . All the best!

[2019-03-03 12:44] marco-c commented on #203
Who will give reviews and starts to the proposed features?

I feel it would be better to rely on the results of the added feature (see if a model improves after adding it), rather than trying to collect feedback from multiple users.

[2019-03-03 12:45] marco-c commented on #202
See https://github.com/mozilla/bugbug/issues/186#issuecomment-468366704

We need to improve the documentation in the README.

[2019-03-03 12:47] marco-c commented on #186
Not sure, maybe your pushlog database is empty. It will probably be rebuilt if you go in the repo directory and run `hg pull central` and `hg up central`.

[2019-03-03 12:48] marco-c commented on #186
Yes, the test I sent you works for me.

[2019-03-03 12:53] marco-c commented on #126
Please note, as explained in the contributing section of the readme (https://github.com/mozilla/bugbug#contributing), that any issue is unassigned until there is a PR open to fix it. You don't need to ask to work on an issue, you can work on any issue that is unassigned.

@HSR05 is working on this, but there is still no PR, so the issue is to be considered unassigned. However, since there are many

[2019-03-03 13:18] ayush1999 commented on #186
Yes,

Great, this got it running for me. Thanks :+1:

It still doesn't work for me. It's probably because of version issues. Can you tell me what python and hg you're on?

[2019-03-03 13:59] RushabhVasani commented on #203
Okay !
So you are telling that we should train the model on the documentation as Data and feature's performance after adding it as a dependent variable.

But I think only from documentation of a proposed feature we can not say that this feature is going to the make the performance better or not. Because  I think there is no good enough interaction between the words of the documentation and the imp

[2019-03-04 16:44] sbeesm commented on #113
Now that we have added the components as a feature in #115, we don't need to parse the patch again, right?
So can it be done along similar lines as this: a002e0c?

[2019-03-05 09:07] saurabhdaalia commented on #202
I added the extensions to `hgrc` file.
I am getting an empty list error when running the `repository.py`

[code]
Error still remains after runnning `hg pull` and `hg up` commands too

[2019-03-05 09:38] marco-c opened #208 "Add 'Firefox Build System' to list of considered products"

[2019-03-05 09:53] marco-c commented on #202
Try running `hg log -r 'pushdate("2018-01-01")'` in your terminal (in the directory where you cloned the mercurial repository). What is the output?

[2019-03-05 09:57] marco-c commented on #186
Python 3.7.2+ and Mercurial 4.8.

Can you show me exactly what code you're running?

[2019-03-05 09:58] marco-c commented on #203
No, I think we shouldn't do this at all :)
We should not try to train the model on the documentation of features, we should just add features and add them to models only if they improve the models.

[2019-03-05 10:08] marco-c commented on #113
It's still the same problem as before. We are parsing patches in multiple processes, so not in order. If you want to have a "component experience" variable, you need to do things in order and you need to have a shared memory between processes.

Yes, as I said earlier, it is similar to a002e0c in theory, but it is much harder.

[2019-03-05 10:12] ayush1999 commented on #186
Sure:
[code]
Error:
[code]

Can you please tell me where I might be going wrong?

[2019-03-05 10:24] marco-c commented on #186
Your script works for me. Have you tried running it as a script in isolation from tests?

When using it as a fixture, try using a temporary directory instead as test_path (using https://docs.pytest.org/en/latest/tmpdir.html).

[2019-03-05 10:34] ayush1999 commented on #186
@marco-c Yes, I tried that, the `commit()` function still results in an error. I'm on Python 3.7.1, hg 4.8.2. Is it possible this is because of some version errors? (If so, I'll try using the exact python version you're on.)

[2019-03-05 10:47] marco-c commented on #186
It's very strange, I wouldn't expect this to be due to some version problem.

[2019-03-05 10:49] ayush1999 commented on #186
I remember this to be working on my earlier system. I changed my system couple of days back, and it's been failing ever since.

[2019-03-05 11:16] RushabhVasani commented on #203
Okay than!:)
And I'm sorry for wasting your time.I'm closing this issue now.

[2019-03-05 11:18] marco-c commented on #203
No worries, you didn't waste time, it was an interesting idea (but not so easily applicable in this case).

[2019-03-05 11:18] #203 closed

[2019-03-05 11:26] RushabhVasani commented on #203
Okay ! Thanks for your compliment.
Actually I am thinking to try for mozilla's this BugBug project to contribute in GSoC this summer and I was just watching all the conversations and the code base and by watching that I got an Idea that you people are trying to make the operations of the issues and bugs be automated and from that I got this Idea.

[2019-03-05 14:36] ayush1999 commented on #186
I think I'll leave this issue for someone else interested (until I figure out why this is happening.)

[2019-03-05 14:37] ayush1999 commented on #202
@marco-c Can I write a quick fix for this in the readme?

[2019-03-05 14:47] marco-c commented on #202
Sure, thanks!

[2019-03-05 14:56] saurabhdaalia commented on #202
@marco-c

[code]

[2019-03-05 15:34] marco-c commented on #202
Try to print `'pushdate("{}")'.format(date.strftime('%Y-%m-%d'))` and `hg.log(revrange='pushdate("{}")'.format(date.strftime('%Y-%m-%d')), limit=1)` in repository.py and post the output here.

[2019-03-05 17:08] poojan124 commented on #112
I want to work on this issue. Can you please give me some references.

[2019-03-05 17:15] marco-c commented on #112
This is very similar to #113, removing `good first issue` as it's not so easy.

[2019-03-05 17:15] marco-c commented on #112
You're still welcome to work on this if you want, but it would require quite a bit of investigation and work.

[2019-03-05 19:18] sbeesm commented on #113
Can we use the `Future` object from `concurrent.futures` so that processes wait for a particular process to finish first and then maybe use its result?

[2019-03-06 06:49] sbeesm commented on #113
I was thinking about using Future objects to check if a process has finished and then continue with the next process. This would require to `submit` each process to get the returned future instead of using `map`. But this again has the problem of ordering of the processes.

And I'm a little confused about this. If we want the processes to execute in order, won't that be against the idea of multipr

[2019-03-06 09:21] marco-c commented on #113
Indeed, if we use Future like you proposed, we lose the advantage of multiprocessing. If so, then we just remove completely the multiprocessing, it doesn't make sense to spawn multiple processes if then you only run them one after the other.

We don't want to lose the advantage of multiprocessing (unless strictly necessary), so we need an alternative solution (this is why I say this issue is not s

[2019-03-06 14:12] marco-c opened #210 "Use qaurgent too in the qa model"

[2019-03-06 16:50] poojan124 commented on #191
If I understand correctly, for this we need to ignore the commits whose hash matches with hash listed in file `.hg-annotate-ignore-revs`.

[2019-03-06 17:45] marco-c commented on #191
Correct. I'm not yet sure we want to do it though.

[2019-03-06 18:49] saurabhdaalia commented on #202
@marco-c
Following snippet included output of `pushdate` and `hg.log` command. Also, on running reporitory.py this time, I get another error.  😓

[code]

[2019-03-06 19:24] amaaniqbal commented on #71
I wish to work on this. But before that can you please explain about the dataset organizations or which all datasets inside `label/` directory need this?

[2019-03-06 20:06] sbeesm commented on #113
Maybe we can use the `Condition` object from multiprocessing module to synchronize parts of the workflow.

In `_transform`, we can first call a function which would just parse components from the patch and update a global dictionary(while other processes wait over the Condition). This function can then `notify` the next process to execute.
Once we parse just the component data sequentially, we can

[2019-03-07 00:30] marco-c commented on #113
This solution would still make the most expensive part of the whole workflow synchronous, defeating the purpose of multiprocessing.

[2019-03-07 00:32] marco-c commented on #202
So you're not seeing the original error anymore. This looks like a completely different error, not sure what's up.

[2019-03-07 11:49] calixteman commented on #191
These changes are mostly cosmetic so I think we can exclude them.
For information, what are the consumers for this file ?

[2019-03-07 12:38] marco-c commented on #191
We use the commit data in the devdocneeded model for now, but we will use it in the uplift model too.

[2019-03-07 18:38] ayush1999 commented on #210
This should go in both the `rollback` and `get_labels` functions, right?

[2019-03-07 18:39] ayush1999 commented on #210
Should I take this up? (Also, this should go in both the `rollback` and `get_labels` function, right?)

[2019-03-07 19:03] marco-c commented on #210
As you want :smiley:

Yep, in both functions, as the others.

[2019-03-07 19:04] #202 closed

[2019-03-07 20:34] sbeesm commented on #113
I think doing this inside the `_transform` function is a really difficult task.

Even if we try to execute `_transform` in parallel first (to do all the computationally expensive task) and `wait` just before it returns (and maybe then check the previous commits and return sequentially), then also we must have some id for each process(to know their order) as to which process was indeed the first on

[2019-03-07 23:16] #166 closed

[2019-03-07 23:33] marco-c commented on #113
Indeed, in the current architecture it would be really really hard to do it in _transform.

With a962e0694bef08090bd6c4810e5c4c770154f99c, which made the hg.log part faster, we can now just use the `files` hg template parameter, so we have this information directly at the beginning.

You can use `{join(files,"|")}` for files and `{join(file_copies,"|")} for file copies (when a file is renamed, you

[2019-03-07 23:34] marco-c commented on #112
With a962e0694bef08090bd6c4810e5c4c770154f99c, this is now easier to do (see https://github.com/mozilla/bugbug/issues/113#issuecomment-470744304).

[2019-03-08 00:50] marco-c commented on #71
@amaaniqbal what would you like me to explain exactly?

[2019-03-08 09:10] #210 closed

[2019-03-08 13:34] ayush1999 commented on #60
@marco-c The rollback should be done to the time when anything beginning with `approval-mozilla` was added to the change, right?

[2019-03-08 15:19] #109 closed

[2019-03-08 15:20] marco-c commented on #60
We have to rollback to the time when the uplift was accepted (approval-mozilla-XXX == +) or rejected (approval-mozilla-XXX == -), but we don't have to rollback to when the uplift was requested (approval-mozilla-XXX == ?).

[2019-03-08 15:38] sbeesm commented on #113
For some reason, `repository.py` is not mining commits. It shows:

[code]

As suggested here: https://github.com/mozilla/bugbug/issues/186#issuecomment-469019713, I tried running `hg pull central` and `hg up central`.

But `hg up central` says:
`$ hg up central
abort: unknown revision 'central'!`

[2019-03-08 15:52] marco-c commented on #113
Please open a separate issue for this problem.

[2019-03-08 15:56] sbeesm opened #212 "Mercurial command to retrieve changesets to analyze is using 'central' branch, even if it doesn't exist on a non-unified repository"
It shows:
[code]

I've also tried using `hg pull central` in the Mercurial repo, but it does not fix the problem.

[2019-03-08 16:01] marco-c commented on #212
Try debugging it.
The first message is already wrong, 'Mining 0 commits ...', so it means the len at https://github.com/mozilla/bugbug/blob/a9eb10c87095bbc88aae9c6cbc69ce037396f0fc/bugbug/repository.py#L134 is 0.
If the len is 0, then it means https://github.com/mozilla/bugbug/blob/a9eb10c87095bbc88aae9c6cbc69ce037396f0fc/bugbug/repository.py#L122 returned an empty list.

So, try running that comm

[2019-03-08 16:32] sbeesm commented on #212
The problem is with `--branch central` part, removing it gives an output. But the command with `--branch central` shows this error:

`abort: unknown revision 'central'!`

[2019-03-08 16:59] #61 closed

[2019-03-08 18:20] marco-c commented on #212
OK, so the fix here would be to wrap https://github.com/mozilla/bugbug/blob/87ac0f3426a9fe89a2729c2bd9abb6caa1d0432c/bugbug/repository.py#L124 in try-except, and retry without the branch parameter in case of the exception.

[2019-03-08 18:28] #191 closed

[2019-03-08 18:43] sbeesm commented on #212
Looks like `hglib.util.cmdbuilder` does not raise an exception for this.

It shows similar behaviour even after wrapping it in try-except.

[2019-03-08 18:47] sbeesm commented on #212
I tried running the script by explicitly removing the branch parameter but it still shows 0 commits.

But that's strange because it works fine within `mozilla-build` shell.

So could this be an issue with the hglib library?

[2019-03-08 19:01] marco-c commented on #212
Then the easiest solution would be to run the command, check if there are zero results, and rerun the command without the branch parameter next.

It's very unlikely. Did you try running exactly the same command? The one I gave you is an example, but it doesn't have the same date value as the one that would be run by repository.py.

[2019-03-08 19:18] amaaniqbal commented on #71
I meant mean encoding is done on categorical independent variables to make it a good predictor of the dependent variable. So are we supposed to perform it on a dependent variable(target label) here?

If not then I can only see bug_id in the CSV file except the target variable. Are we scraping independent variables from Bugzilla?

[2019-03-08 19:22] marco-c commented on #71
Yes, we are scraping them from Bugzilla, they are in the data/ directory. I think before working on this you'll need to familiarize yourself a bit with the project. The first step would be to read the documentation (README file), especially the last paragraph about the structure of the project.

[2019-03-08 19:26] amaaniqbal commented on #71
Yeah, I have gone through it quickly and current requirements are being downloaded for me. But I can't find any data directory anywhere in this repo.

[2019-03-08 19:44] marco-c commented on #71
The data will be downloaded automatically when you run the training the first time.

[2019-03-09 00:12] sbeesm commented on #212
Yes I tried running the same command:
[code]
This returns empty data.

And I am facing this problem with python 3.7.1. But when I tried running it in a standalone script in python  2.7.14, it works fine:
[code]

Any idea why this might be the case?

[2019-03-09 05:43] poojan124 commented on #112
* I still not quite sure what number we are putting here.  Should we put count for each file or as group of files?
* If one commit touching multiple files what would be scenario? How to add count for each file (sum all those up)?

[2019-03-09 17:17] poojan124 commented on #212
I am using python `3.7.1` and hg `4.9`. And its working for me.
I used` hg pull central` followed by `hg up central` and repository.py working fine for me.

[2019-03-09 17:30] amaaniqbal commented on #71
Thanks, I am downloading and setting everything up on a new Linux VM. I will get back right after its setup correctly.

[2019-03-11 09:53] ayush1999 commented on #17
@marco-c I just tried using 2-gram features for the `TfIdfVectorizer`, here is the gist of the results:
Before:
[code]
After:
[code]

Unfortunately the terminal crashes with `terminate called after throwing an instance of 'std::bad_alloc'` in the second case.

[2019-03-11 10:13] marco-c commented on #17
Results for which model?

To avoid OOMs, you can try to reduce the number of ngrams considered.

[2019-03-11 10:16] marco-c commented on #212
The same standalone script works in Python 2.7 but not in Python 3.7? If this is the case, then it could be a bug in Mercurial. Could you file a bug (following https://www.mercurial-scm.org/wiki/BugTracker) and copy the link to the bug you file here?

[2019-03-11 10:47] marco-c commented on #112
We can try for each file and for each directory.

Each file has a different count. If a commit is touching multiple files, you increase the count by 1 for each file.

[2019-03-11 10:52] ayush1999 commented on #17
These are the results for the bug model. Should I try it out for other models too? To generalize, won't it be better to have a feature of passing the value of `n` from the terminal? (something like `python run.py --train --model=bug --ngrams=2`)

[2019-03-11 10:56] marco-c commented on #17
Yes, let's try the tracking, regression and component models too.

Yes, it would be nice, but not so easy.

[2019-03-11 15:18] sbeesm commented on #212
Actually the issue is with the path to the extensions in the hgrc file and not the python version.

While using WSL, I added the extensions with path as `/mnt/c/Users/HP/.mozbuild/version-control-tools/...`. But this returns 0 commits.

Then I tried running script with python 2.7 on windows shell with path as `C:/Users/HP/.mozbuild/version-control-tools/...`. And this works fine and returns non ze

[2019-03-11 19:46] marco-c commented on #212
A couple options:
1) Try running the `mach vcs-setup` command suggested in the README.md file under WSL, it should add at least one of those extensions, and then you can try using the same path format.
2) Use a Linux VM.

[2019-03-12 05:08] LakshyAAAgrawal commented on #111
Hey,
Could someone please provide a little more info regarding this?

[2019-03-12 10:20] marco-c commented on #111
At the moment, the `lines_added` feature is considering both real changes and test-only changes, we have to split the feature in two, `lines_added` and `test_lines_added`.
`lines_added` will be the number of lines added by the commit in Firefox code.
`test_lines_added` will be the number of lines added by the commit in testing code.

[2019-03-12 18:03] sbeesm commented on #212
I tried running `mach bootstrap` and `mach vcs-setup` under WSL, and added the extensions in the hgrc file in the home directory. Everything else is working fine and now I am also able to run `hg up central` but I'm not able to fix this error with extensions:
[code]

It the module `utils` somehow related to the extension or something else is wrong?

[2019-03-12 20:53] saurabhdaalia commented on #44
@marco-c ,  I have tried working on this issue, but it seems like Skope-Rules might not be compatible with this project due to unique feature names that we are using.

Following is the issue I opened regarding error using Skope-Rules.
https://github.com/scikit-learn-contrib/skope-rules/issues/21

[2019-03-13 00:34] marco-c commented on #212
From the error message, I'd say it is related.

If everything is working fine though, I guess you can ignore the error.

[2019-03-13 18:37] sbeesm commented on #113
`{join(files,"|")}` should be added to `_hg_log` template right?

And can you please suggest how to access these files?

[2019-03-14 13:20] marco-c opened #220 "Update list of components"
https://bugzilla.mozilla.org/show_bug.cgi?id=1533440

Maybe we should just use the top X components rather than manually selecting them.

[2019-03-14 19:59] SiluPanda opened #221 "need possible update in requirements.txt"
while running the run.py after installing all packages in requirements.txt,
i got following error:

1. cannot import name '_validate_lengths' from 'numpy.lib.arraypad' (/home/silupanda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraypad.py)

The is actually is a sklearn and numpy version issue which appears to be satisfied while running the requirements.txt.
reference of the issue: https://gi

[2019-03-14 20:40] SiluPanda commented on #221
added a PR of a small change in requirement.txt https://github.com/mozilla/bugbug/pull/222 . @marco-c  kindly review

[2019-03-14 23:10] saurabhdaalia commented on #220
@marco-c, I  have been trying to train the component model, but it is taking an awful lot of time to train, and eventually throws some sort of memory error.
https://github.com/dmlc/xgboost/issues/2907
Is it specific to OS or Machine Configuration?

[2019-03-15 03:47] sbeesm commented on #221
Which version of `scikit-image` are you using? Try updating it to version `0.14.2` and the problem should be solved.

See #120 for reference.

[2019-03-15 04:18] SiluPanda commented on #221
i was using everything as it is in requirement.txt.
version is 0.20.3.
i agree that this can be avoided with multiple ways, i did a PR #222 with one of the solutions.

[2019-03-18 09:50] marco-c commented on #113
Yes.

Try to figure it out yourself, it's very easy. You are getting the log of a repository, where could the files be?

[2019-03-18 09:54] marco-c commented on #221
When you install the requirements from our requirements file, you'll get scikit-image 0.14.2, so this issue doesn't really apply.

[2019-03-18 09:54] #221 closed

[2019-03-18 09:56] marco-c commented on #220
Maybe you don't have enough memory. This is off-topic for this issue though!

[2019-03-18 14:41] LakshyAAAgrawal commented on #111
Hey,
Really sorry to have got it wrong.
Should I instead check for the filename in the variable _path_ if it contains 'test' or not using regex, and if it does, then consider them to be test code changes?

[2019-03-18 16:30] sbeesm commented on #113
The files can be accessed using rev in `hglib.util.grouper`.
I was looking in the wrong place initially. 😅

Now that we have the files modified by a commit, a problem is that we have multiple files and so multiple components touched by a particular commit.
So do we need to add the # previous commits for all the components?

[2019-03-18 16:35] marco-c commented on #113
Yes, the sum.

[2019-03-18 16:36] sbeesm commented on #113
Also, for `{join(file_copies,"|")}`, this is one of the results I got:

`tools/profiler/core/ProfiledThreadData.cpp (tools/profiler/core/ThreadInfo.cpp)`

In this, do I need to change the file before parenthesis in `{join(files,"|")}` with the one in parenthesis here?

[2019-03-18 16:45] marco-c commented on #113
I don't remember which is the original and which is the copy, you'll have to check.

When there is a copy, you'll have to move the "# of past commits" to the new path.

[2019-03-18 19:21] #220 closed

[2019-03-18 19:25] #208 closed

[2019-03-18 19:34] marco-c opened #224 "Evaluate generating multiple component models"
One model for choosing the product, one model to choose the "conflated component", one model to choose the component.

This might help increasing the accuracy (e.g. it's easier to tell that a bug belongs to Core::DOM rather than Core::DOM: Quota Manager).

[2019-03-18 23:58] #212 closed

[2019-03-19 14:12] sbeesm commented on #113
With `{join(file_copies,"|")}`, if one of the files has been renamed, then it's info shouldn't be in the `COMPONENTS` dict, right? But the COMPONENTS dictionary shows components for both the files (original and the copy).

Is there any other way of checking for the copy?

[2019-03-20 18:02] sbeesm commented on #113
Also, some files in `commit.files` give KeyError in `COMPONENTS` dictionary.

Example: this file `devtools/client/netmonitor/test/components/filter-buttons.test.js` shows KeyError even though there are no files in the `file_copies` (indicating that the file wasn't renamed) for that particular commit.

Is this behavior expected?

[2019-03-21 00:59] marco-c commented on #113
Can you show me an example? (path before, path after, changeset hash)

Why? Is there a problem with this way?

Yes, unfortunately COMPONENTS dictionary is built from the current state of the repository, so there might be files that were once present and later removed that are not in COMPONENTS.

[2019-03-21 07:03] sbeesm commented on #113
If both the files in `file_copies` are there in COMPONENTS, how would we know which one of them is the new file? Aren't the old files supposed to be gone from the COMPONENTS?

[2019-03-21 07:10] sbeesm commented on #113
For some very strange reason, I'm not able to mine that commit again which showed this behavior. But when I first tried this, I saved the files:

[code]
So unfortunately, I don't have the commit hash, but for these files in `file_copies`, both, the files in parenthesis and the file before them are there in COMPONENTS:

[code]

[2019-03-21 07:16] sbeesm commented on #113
Also, files in `file_copies` when checked for a COMPONENT show different behavior:

[code]

[code]

[code]

[2019-03-21 10:08] marco-c commented on #113
There is a rule. Either the first is the original and the second is the copy, or the other way around. Of course, it's always the same order in every commit, or file_copies would be useless. So, you just need to figure out for one example commit which order it is, and then you know.

People can remove and re-add files over time, so you can't expect that files that were moved three years ago can't

[2019-03-21 10:09] marco-c commented on #113
If you are not able to mine it again, maybe you made a mistake the first time?

[2019-03-21 10:10] marco-c commented on #113
This is not a problem.

[2019-03-21 10:25] #60 closed

[2019-03-21 10:37] #111 closed

[2019-03-21 14:31] sbeesm commented on #113
This might be the case, I probably did something unusual the first time because I'm not able to see that commit again.

And from [here](https://stackoverflow.com/questions/16040503/mercurial-log-how-to-show-renames), it looks like the first file is the copy and the second one is original.

[2019-03-21 14:43] marco-c commented on #113
You can double check very easily, just take a commit where there is a copy, run `hg export -r COMMIT_HASH` and see which file was renamed.

[2019-03-21 15:30] marco-c opened #228 "Figure out how to handle additional comments in the component model"
At the moment, the model rolls back to the time the bug was filed. In some bugs though, more information is available (e.g. the reporter might add more comments, someone could ask the reporter for some info, etc.), so it might be useful to use this additional information too.
The additional comments could be considered as missing data when a bug has a single comment.

[2019-03-21 17:31] sbeesm commented on #113
Just checked using `hg export -r 61b168663a54d4b5da46de34d318da43cc10a71c`, the second file is renamed to the first file.

So the first file is the copy and the second one is the original.

[2019-03-25 04:31] ayush1999 opened #232 "Error while training the model"
It looks like a recent commit is breaking the training : `python run.py --train --goal=bug` gives me:
[code]
@marco-c Can you confirm that this is actually a bug and not me unaware of something I should know?

[2019-03-25 09:13] marco-c commented on #232
Make sure you updated the dependencies.
https://github.com/mozilla/bugbug/blob/937e889c517b040158ae2de0385db672114d2126/requirements.txt#L9 has been updated, and to update it with pip you need to uninstall it and reinstall it.

[2019-03-25 11:52] ayush1999 commented on #232
Ah, got it. Thanks!

[2019-03-25 11:52] #232 closed

[2019-03-26 06:56] yixinsun commented on #224
I am thinking of something like 'hierarchical classification'. Did a bit of research and there are 2 ideas:
1) stacking: in my understanding, this is to stack classifiers at different levels [paper]((https://arxiv.org/abs/1807.08825))
2) Hierarchical neural network: model learned from the maximum posterior [paper](https://arxiv.org/pdf/1705.11105.pdf)

Are you thinking about something closer to th

[2019-03-26 11:17] marco-c commented on #224
Yes.

We have:
Level 1: Product (e.g. Core, Firefox, Toolkit, etc.)
Level 2: Component Group (e.g. Core::DOM*, Core::JavaScript*, etc.)
Level 3: Component

[2019-03-27 07:09] sbeesm opened #234 "repository.py not working"
It shows this error while analyzing the patches:

[code]

[2019-03-27 15:41] marco-c commented on #19
The has_str keyword can be used to find negative examples.

[2019-03-27 16:06] marco-c commented on #234
Add some debugging statements around the failing line to gather more information, otherwise this issue is not actionable.

[2019-03-28 06:33] sbeesm commented on #234
The problem is with the changes I made locally, related to PR #229.

For [this](https://github.com/mozilla/bugbug/pull/229#discussion_r268796842), I did parse the data in _hg_log like this:

[code]
And this makes the files a `list` and file_copies a `dictionary`.
But when this commit is passed as a key to author_experience, it shows:
 `TypeError: unhashable type: 'list'`

[2019-03-28 09:44] marco-c commented on #234
You can use `commit.node` as a key in the dictionaries instead of the whole `commit`.

(Closing as this is not an issue with the current code, but with a PR).

[2019-03-28 09:44] #234 closed

[2019-03-30 06:51] Mozilla-GitHub-Standards opened #236 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 15:01] #236 closed

[2019-04-02 07:22] spectre1811 commented on #162
@saurabhdaalia  Could you please possibly explain in more detail what has to be done here ? ... as i want to contribute to this issue and i am a mere beginner

[2019-04-02 20:09] ayush1999 commented on #71
@marco-c I'm currently experimenting with TargetEncoder, should this option be added to run.py, or should we just manually test the models with this encoder? (Similar to what is being done in #215 )

[2019-04-02 21:01] marco-c commented on #156
This was done.

[2019-04-02 21:01] #156 closed

[2019-04-02 21:03] marco-c opened #240 "Use task/enhancement/defect data from Bugzilla as labels"
We have recently (today) introduced a new field on Bugzilla that specifies whether a bug is a task, a enhancement, or a defect.
We can use this data as labels for the bug and the defect/feature/task models.

[2019-04-02 21:04] marco-c commented on #240
The data on bugs until today was automatically generated by using bugbug itself, so we can't use it as labels.
We can only use bugs filed from now on.

[2019-04-02 22:24] marco-c commented on #162
@spectre1811 just like you, @saurabhdaalia simply asked if he could work on this :P

@yatinmaan is already working on this and has a PR open, so this issue is assigned to him. You can choose another issue.

[2019-04-02 22:35] marco-c commented on #71
Let's manually test it first, then we can consider adding it if it's better.

[2019-04-02 22:45] marco-c opened #241 "Add assignee model to run.py"
See also #61.

[2019-04-03 08:31] ayir commented on #62
Hi Sir I would like to work on this.Can you explain a little about it?

[2019-04-03 09:23] ayush1999 commented on #71
Sure. Just to be sure, for the bug model, instead of having the labels as 1 for `"bug"` and 0 for `"no_bug"`, we'll be using targetencoders, right?

[2019-04-03 09:31] marco-c commented on #62
This issue is quite complex, as it requires many changes in the project. I'd suggest choosing another one.

[2019-04-03 09:50] #241 closed

[2019-04-03 09:57] ayir commented on #62
Okay Thanks.Do you think it would be a good idea to take this issue as my GSOC project proposal?

[2019-04-03 09:58] marco-c commented on #62
Yes, this one is big enough for that!

[2019-04-03 10:00] ayir commented on #62
Thanks.I was just curious about the kind of data I would need to build this classifier.

[2019-04-03 10:01] marco-c commented on #62
I've now added a longer description in the first comment.

[2019-04-03 10:02] ayir commented on #62
Thank you

[2019-04-03 10:19] amaaniqbal commented on #71
I don't think you need to modify the labels. You just need to replace the categorical data with mean encoded data. I was a beginner to this repo and had started to work on this. But you can go ahead if you like.

Please refer to https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv as mentioned by Marco. Its a good reference for this issue.

[2019-04-03 15:40] marco-c opened #244 "Add 'has bug ever had enhancement severity' as a feature"
Especially useful for the bug and regression models.

[2019-04-04 07:07] rhcu commented on #244
Seems that I oversimplified the issue. :p Shouldn't it just check whether 'severity' field is equal to 'enhancement' or not? Or is all the difficulty in word "ever" - do we need to check all history of a bug for the 'severity' component?

[2019-04-04 08:46] marco-c commented on #244
The 'enhancement' severity has been removed lately, so yes, we need to check in the history :)

[2019-04-04 08:46] marco-c commented on #244
(but it is still easy enough)

[2019-04-04 12:23] andreibratu commented on #185
I'd like to start working on this issue. I reckon some data scraping is needed, but I am not familiar with the project's structure. Could someone point me to where should I start?

[2019-04-04 23:34] marco-c commented on #185
I'd start with Phabricator, as it is self-contained you can write a totally separate script (similar to bugzilla.py or repository.py).

You can look at this repo to figure out how to download data from Phabricator: https://github.com/mars-f/firefox-code-review-analysis.

[2019-04-05 08:07] ayush1999 opened #245 "Recent commit causes component model to raise error"
The component model was working yesterday, when I tested it on colab. However, recent changes seem to be causing an AssertionError:
[code]

[2019-04-05 08:21] marco-c commented on #245
Are you sure you are on top of master? This issue has been fixed with 042b2aaacbbec217215802cd12d8109b6f1d69c4.

[2019-04-05 08:21] #245 closed

[2019-04-05 13:33] #240 closed

[2019-04-05 13:56] marco-c commented on #244
Since going forward bugs won't have enhancement severity, we can only use this for archeology (we should probably have two different models, one to analyze old bugs, one to analyze new bugs).

[2019-04-05 15:04] #113 closed

[2019-04-07 07:52] spectre1811 commented on #26
It means we have to build a kind of recommender system based upon the features and the size of the patches extracted from the bug info.?

[2019-04-07 17:52] marco-c commented on #112
@sbeesm do you want to take this? It should be pretty similar to the one about components.

[2019-04-07 19:20] sbeesm commented on #112
Sure, I'd like to work on this.

Do we also need to add files for previous 90 days, just like we did for components?

[2019-04-07 21:43] marco-c commented on #112
Yes!

[2019-04-08 09:30] marco-c commented on #26
Yes (note that the size of the patches is just one of the many features that we can consider).

[2019-04-08 10:50] spectre1811 commented on #26
Yeah i figured that thing. So can i work upon this thing as my gsoc project because i think this would take some time to be completed

[2019-04-08 13:08] marco-c commented on #26
Yes, this is a big enough project for a GSoC.

[2019-04-08 13:15] spectre1811 commented on #26
I want to work on this. Can i be assigned this?

[2019-04-08 13:17] marco-c commented on #26
@spectre1811 see the contributing rules in README, an issue is assigned only when there is a PR to fix it.

[2019-04-08 14:02] rhcu opened #248 "Create an option in bug model for analyzing old bugs"
Details are here: https://github.com/mozilla/bugbug/issues/244#issuecomment-480284787 and https://github.com/mozilla/bugbug/pull/247#issuecomment-480756156

[2019-04-08 14:50] #244 closed

[2019-04-09 15:49] marco-c opened #256 "Make data URL configurable in the Trainer script"

[2019-04-09 16:07] rhcu commented on #248
May I clarify, should this option be added similar to `lemmatization` option here (https://github.com/mozilla/bugbug/blob/2d5a646784eb18b645dbfaae6a5e7401bf1e355a/bugbug/models/bug.py#L19) as well as to args parameters in `run.py`?  And then if true, severity feature will be added to feature_extractors in `bug.py`.

[2019-04-09 16:40] marco-c opened #257 "Switch Dropbox URLs to Taskcluster S3 URLs"

[2019-04-09 17:04] marco-c opened #258 "Add a cache for pip packages in Taskcluster builds"

[2019-04-09 19:52] daxmc99 opened #259 "Add support for building models on GitHub issues data"
Awesome project!
I was curious if there were any plans for github integration in the future?
If not, what might be a way to begin adding that?

[2019-04-10 11:17] marco-c commented on #259
Yes, we were thinking about that. Some models might make sense for GitHub too (e.g. the assignee model), some might make sense only for very complex projects (e.g. the component assignment will not be so useful for small projects, as they have no components).

The first step would be adding support to retrieve issues' data from GitHub. There are likely already libraries to do that.

[2019-04-10 11:18] marco-c commented on #248
Yes, exactly!

[2019-04-10 22:21] marco-c opened #268 "Merge common parts of .taskcluster.yml"
This will make the file more readable.

[2019-04-11 13:11] La0 commented on #258
Or use the docker image produced by the docker build task and run inside

[2019-04-11 14:06] marco-c opened #271 "Make infra/version_check.py only run on branches and tags, not pull requests"
It is painful for contributors otherwise.

[2019-04-11 14:13] marco-c opened #272 "Make test tasks use the docker image produced by the base image builder"

[2019-04-11 14:13] marco-c commented on #258
Filed #272 for that.

[2019-04-11 14:41] #112 closed

[2019-04-11 15:37] marco-c commented on #25
This is the current code on Bugzilla: https://github.com/mozilla-bteam/bmo/blob/88101dcba7f4e60c862c14b6ba9c0861c62d3395/Bugzilla/Bug.pm#L766-L847.

[2019-04-11 15:38] sylvestre commented on #25
We have a keyword _dupeme_ which might be useful to help

[2019-04-11 15:48] La0 commented on #258
I made some tests, it will be more complicated than i thought: setting up the Taskcluster cache is easy, but using it while building a Docker image is complex.

The protocol for mounting an host folder during an image build [is still an experimental feature](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md) and has several limitations:

- we can only use `mode=

[2019-04-11 15:56] marco-c commented on #258
OK, yeah, sounds like building all the images in the same task is the best option.

[2019-04-11 15:58] marco-c commented on #272
Or maybe not, see the discussion in #258.

[2019-04-11 17:24] sbeesm commented on #271
We need to change `.taskcluster.yml` for this, right?

Removing version-check command for pull-request task and adding that for github-push?

[2019-04-11 18:22] marco-c commented on #271
Yep. We can either make the linting task only run flake8 and define a separate task that runs this script, or we can make the linting task always run flake8 and run this script only if github-push.

[2019-04-12 10:11] marco-c opened #275 "Bug snapshot test should not be a CI test, but a test run after training"
It is more of an integration test.

We should run it on the DB fixtures on CI, and run it on the entire DB only after training.

[2019-04-12 10:45] sylvestre commented on #25
I improve the data with this in autonag:
https://github.com/mozilla/relman-auto-nag/pull/548

[2019-04-12 12:02] marco-c opened #278 "Add number of previous commits touching the same directories as a feature"
Similar to #112 and #113.

[2019-04-12 17:44] #248 closed

[2019-04-15 22:03] #152 closed

[2019-04-15 22:10] marco-c opened #282 "Add 'past 90 days' author/reviewer experience extractor functions"
Similar to https://github.com/mozilla/bugbug/blob/141b9d35c146423241f55ad2bd4882b00772cc91/bugbug/bug_features.py#L298, but for the 'past 90 days' case.

[2019-04-15 22:36] marco-c opened #283 "Define a Taskcluster hook to start the pipeline"
The hook will be triggered either on cron, or on receival of a pulse message (which will be sent after we deploy a new version).

This is an example hook which is triggered on cron: https://tools.taskcluster.net/hooks/project-releng/services-production-codecoverage%2Fbot.

This is an example hook which is triggered by a pulse message: https://tools.taskcluster.net/hooks/project-releng/services-tes

[2019-04-15 22:38] marco-c opened #284 "Implementation for the hook to start the pipeline"
Depends on #283.

After we have the hook, we have to implement its logic.

The logic will be kind of a decision task (similar to https://github.com/marco-c/breakpad-win-update-symbols/blob/3af1618c61f57f3ff87bf5f68e595d899316a8a2/run-taskcluster.py#L94), which will trigger a taskgraph (data retrieval -> training -> deployment of http service with trained models).

[2019-04-16 09:21] #282 closed

[2019-04-17 09:11] La0 opened #286 "Switch to mozilla/taskboot"
After https://github.com/mozilla/task-boot/pull/10 lands

[2019-04-17 10:45] marco-c opened #288 "Use taskboot to push images to Docker Hub"
The credentials are in the project/relman/bugbug/deploy secret.

[2019-04-17 10:46] La0 commented on #288
Depends on https://github.com/mozilla/task-boot/issues/9

[2019-04-18 10:49] #271 closed

[2019-04-18 14:24] La0 commented on #286
Done in 7af2459c9699ac4e898073ba4c6c5e4c7f9725ab

[2019-04-18 14:24] #286 closed

[2019-04-18 17:08] marco-c commented on #283
#289 is defining the hook (right now only with the schedule part, I'll split the pulse message part in another issue)

[2019-04-18 17:08] marco-c opened #291 "Pipeline hook should be also triggered when a new release is made"
See also #283.

[2019-04-18 17:09] marco-c commented on #291
Here's a possible simple implementation:
- the deployment task sends a pulse message when it finishes;
- the hook adds the pulse message to its possible triggers.

[2019-04-18 17:49] #288 closed

[2019-04-18 19:20] #283 closed

[2019-04-18 20:16] sbeesm commented on #278
Do we need to find the source directories as listed here: https://wiki.mozilla.org/Modules/All?

[2019-04-18 20:51] marco-c commented on #278
We can simply use the directories of the repository (first and second-level directories)

[2019-04-19 09:01] marco-c opened #292 "Try switching to Python alpine for the base image"
This might speed up the docker build task.

[2019-04-19 15:31] marco-c opened #296 "Run black as part of the linting task"

[2019-04-19 15:56] Lothiraldan opened #298 "Run the linting task only on modified files"
We could reduce the duration of linting tasks by running pre-commit only on modified / new files. But we need to be careful about edge-cases like people pushing several commits at the same time.

[2019-04-19 16:01] #296 closed

[2019-04-19 20:44] sbeesm commented on #278
So can we just use the commit files from hg_log template to find the directories?

[2019-04-19 20:59] marco-c commented on #278
Yes.

[2019-04-19 23:27] marco-c opened #300 "Try switching to Python slim for the base image"
Might be a first (big) step towards #292.

[2019-04-19 23:47] marco-c commented on #258
What if we build the base image in a task, and have another task to build the derived images.
In both tasks, we'd pull the previous base image first, so that we can benefit from the docker caching.

[2019-04-24 15:34] marco-c opened #303 "Implement batch classification API"
It will be slow, so:
- the server will reply 202;
- the request will be queued and processed in the background.

[2019-04-24 15:37] marco-c opened #304 "Add a 'check' function to the models"
Each model will have a few 'checks' that we will run periodically to ensure everything is OK.

The base check will be a check on the accuracy, if it's too low we need to be notified so we can figure out what's wrong.

Other models will have their own checks. E.g. the component model will have to check that the components it was trained on still exist and are still the most important.

[2019-04-25 08:28] marco-c opened #305 "Figure out what to do with http_service on CI"
We have two options:
- build the http_service with fake models and don't push it on CI. Build it with real models and push it after training;
- build the http_service without models and let it download models at runtime.

[2019-04-25 09:57] marco-c opened #306 "Make it possible to train on other objects than just bugs"
Right now the base model class assumes the objects of training are always bugs. We should make it more generic as we could train on other objects, e.g. on commits.

[2019-04-25 10:56] marco-c commented on #304
Another check should be on the feature importances (if a feature was really important and is no longer important => notify, if a feature was not important and is suddenly really important => notify).

[2019-04-25 11:00] marco-c opened #307 "Make NLP dependencies optional"
Some dependencies are only needed in some images, we should make some dependencies optional so that they are only installed when necessary.

For example, Spacy is the biggest dependency, but it is currently not really used by any image.

[2019-04-25 11:06] marco-c commented on #307
Let's start with Spacy, Tensorflow and Gensim, which are currently not used in any image.

There is bugbug code that is trying to import them, so we should change it so that we don't fail if the modules are not available.

Not sure what's the best implementation for this.

[2019-04-25 11:10] La0 commented on #307
We could set them up as extra dependencies on the bugbug package.

For dev environment: ```pip install bugbug[ml-lib-whatever]```
For docker build : ```cd /tmp/bugbug && pip install .[ml-lib-whatever]```

[2019-04-25 11:26] Lothiraldan opened #309 "Use a dedicated Docker image for spawning the data-pipeline"
See https://github.com/mozilla/bugbug/pull/293#discussion_r278443964.

We should have a dedicated Docker image with all the dependencies to stop downloading them each time.

[2019-04-25 12:02] Lothiraldan commented on #307
Sounds good.

Just to be sure, they are not used because the Docker images do not user part of bugbug who need these dependencies, right?

[2019-04-25 12:06] marco-c commented on #307
Yep. Those dependencies in particular are not used by any image at the moment (e.g. tensorflow would be used by the component_nn model, but we are not using it yet).

Instead, other dependencies are only used by some images. E.g. only the bug retriever images use 'requests', the training images don't use it.

[2019-04-25 13:50] Lothiraldan commented on #307
I've started a PR for this https://github.com/mozilla/bugbug/pull/310

As you can see, it's a bit of work for each optional dependency and I'm not sure the cost would be worth it for popular libraries like requests.

[2019-04-25 13:58] #300 closed

[2019-04-26 08:57] marco-c opened #312 "Use new 'everchanged' operator instead of changedafter 1970"
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1546624.

[2019-04-26 11:06] marco-c commented on #300
It looks like the size of the images didn't change, maybe there is a problem somewhere?

[2019-04-26 12:56] #284 closed

[2019-04-26 12:56] #291 closed

[2019-04-26 13:01] marco-c opened #315 "Use multistage build to reduce image size"
With a multistage build we can have small Docker images without causing caching problems with squashing multiple comands in one layer.

[2019-04-26 13:09] marco-c opened #316 "Figure out what to do with en_core_web_sm dependency"
Dependency links are deprecated in pip and replacement, PEP https://stackoverflow.com/a/53412651/2996250 seems to be disabled when installing a package from Pypi for security reasons.

To clarify the current state, it's already broken with a recent pip version and the latest version on Pypi. It will crash with:

[code]

[2019-04-26 13:38] La0 commented on #315
Taskboot cannot use `docker-squash` for now anyway...

[2019-04-26 13:41] marco-c commented on #315
We wouldn't need to squash with multistage builds

[2019-04-26 13:41] La0 commented on #315
I had this version based on slim, but was not convinced by the size enhancements:

[code]

[2019-04-26 13:57] marco-c opened #317 "Make Keras/Tensorflow dependencies optional"
See also #307.

[2019-04-26 13:57] marco-c opened #318 "Make ML dependencies (XGBoost, scikit-learn, etc.) optional"
See also #307 and #317.

[2019-04-26 14:01] marco-c commented on #317
No image is using these deps yet.

[2019-04-26 14:01] marco-c commented on #318
Only the training images and the http service image are using this dep.

[2019-04-26 14:16] #307 closed

[2019-04-26 14:25] marco-c commented on #318
Not sure it's worth it, it would add complexity in several places.

[2019-04-26 14:26] Lothiraldan commented on #318
Yeah at least 7 differents files needs to be updated, I'm not sure about the cost

[2019-04-26 16:50] #317 closed

[2019-04-26 17:16] Lothiraldan commented on #303
I have several questions for this issue:
- Do we want to run the tasks on a separate server?
- Do we want/need to provision a separate infrastructure for worker computing? If so, do we already have plan about auto-scaling?
- If yes, do we need advanced features like monitoring, auto-retry and stuff like that?
- Where is the service gonna run? We spoke about Heroku and Mozilla infrastructure, the c

[2019-04-26 17:20] Lothiraldan commented on #304
Those checks will run somewhere else than the http_service, right?

From what I understand of this ticket, we need to check each model periodically (every day at midnight for example) against a recent set of data (latest bugs for example). Then the model 'check' will say if it's still relevant or not and if not we need to get notified.

Do you want me to focus on the scheduling + notification part

[2019-04-26 17:55] marco-c commented on #304
Yes, we can run them as Taskcluster tasks similarly to how we run the pipeline, but on a different schedule.

You could start with a simple check (e.g. the one for the components), then work on the scheduling/notification.

For the checks that need history (e.g. the accuracy), we could either use some sort of DB or, since the data is simple, we could use the Taskcluster index (see for example the

[2019-04-26 22:42] marco-c commented on #303
Probably the same server, with a background worker.

I think the same infra that will run the http service will also run the worker in the background. No plans about auto-scaling, but I wouldn't expect this to be a problem any time soon.

I don't think so, at least for now. The main source of failure will be the connection to Bugzilla for retrieving bugs, but simple retry should be enough.

Either

[2019-04-28 16:39] Lothiraldan commented on #303
@marco-c Do we want a columns-oriented HTTP answer or an row-oriented one?

Here is what I mean when I'm speaking about the column-oriented:

[code]

And here is an example of row-oriented answer:

[code]

[2019-04-28 19:41] marco-c commented on #303
I think row-oriented one is nicer. We could also make it a list instead of a map, as you prefer.

E.g.:
[code]

[2019-04-29 14:32] marco-c opened #322 "Use taskboot with a tag"
To avoid Taskcluster using a old version of latest.

[2019-04-29 16:08] #322 closed

[2019-04-29 20:54] marco-c opened #324 "Use relman-bugbug workers instead of releng-svc"
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1545764.

[2019-04-29 20:56] marco-c opened #325 "Store pipeline tasks in the index, and update Taskcluster URLs in scripts"
The scripts are still using the old URLs from releng-services.

[2019-04-29 21:00] marco-c opened #326 "Taskcluster hook definition is using the 'data-pipeline-definition' branch"
It should use the branch related to the latest released tag.

[2019-04-29 22:04] emceeaich opened #327 "Identify cats in attachements"
Since looking at photos of cats is a major use case for Firefox, bugbug should be able to detect cats in Bugzilla.

Example: https://bug63005.bmoattachments.org/attachment.cgi?id=21270

[2019-04-29 22:23] marco-c commented on #327
This is P1.

[2019-05-02 08:46] Lothiraldan commented on #303
I prefer the map as it allows direct access to the result for a given bugid while the list forces the consumer to filter the list or consume the list entirely.

[2019-05-02 08:58] marco-c commented on #303
OK, sounds good.

[2019-05-02 09:42] Lothiraldan commented on #325
Are we speaking about these URLs? https://github.com/mozilla/bugbug/blob/master/scripts/trainer.py#L18

I see these URLs used to retrieve models, but I'm not sure where configure where we push the artifacts, is it the `artifacts` part of the data-pipeline.yml?

[2019-05-02 09:49] marco-c commented on #325
The artifacts part only specifies the artifacts the task uploads.

The index can either be populated programmatically, or using a route (e.g. see the static analysis hook, https://tools.taskcluster.net/hooks/project-releng/services-production-staticanalysis%2Fbot, which has index.project.releng.services.project.production.static_analysis_bot.latest in the routes, which results in https://tools.tas

[2019-05-02 12:36] #309 closed

[2019-05-02 12:36] #326 closed

[2019-05-02 12:40] Lothiraldan opened #329 "Integration testing of the data pipeline"
We will actually run the data pipeline code, downloading, training, building the http service and running the http service for real only after doing a release.

We should have a lightweight integration testing before the release to have a minimum of confidence that the release will works.

We could train on a subset of data (few commits and few bugs) then ask the http service to classify the train

[2019-05-02 13:40] Lothiraldan commented on #305
We are currently trying to update the index routes and we hit a chickend-and-egg issue. In order to build a functioning http_service Docker image, we need the models that we download from taskcluster. The issue is that the models are not produced until the data pipeline runs and it runs with the new code only after the release.

[2019-05-02 15:00] #325 closed

[2019-05-02 16:23] marco-c opened #332 "Add 'author experience in component' and 'reviewer experience in component' as features"
We have the overall experiences, it'd be nice to have the experience relative to the touched components.

[2019-05-02 19:43] #278 closed

[2019-05-02 20:38] marco-c opened #333 "To calculate history features (e.g. experience), should analyze more commits"
We will only store the newer commit data like the current state, but in order to calculate history stuff we need to start from the beginning.

[2019-05-02 21:18] #305 closed

[2019-05-03 05:37] sbeesm opened #336 "Number of previous commits touching the same files/directories/components can be overcounted"
See https://github.com/mozilla/bugbug/pull/301#issuecomment-488806551 and https://github.com/mozilla/bugbug/pull/301#issuecomment-488826806

[2019-05-03 09:52] marco-c opened #338 "Feature cleanup regexes could be compiled"
Since they are being used thousand of times (https://github.com/mozilla/bugbug/pull/335#discussion_r280687823).

[2019-05-03 09:54] marco-c opened #339 "Get rid of run.py and move its functionality to scripts/"
The train functionality is already partly implemented in script/trainer.py.

[2019-05-03 09:57] #306 closed

[2019-05-03 12:02] marco-c opened #340 "Pipeline should use tagged images, so we can rollback when things are broken"

[2019-05-03 12:02] marco-c commented on #340
It should probably be a JSON-e variable in the data-pipeline.yml file, and the hook will take care of filling it

[2019-05-03 12:20] #275 closed

[2019-05-03 15:11] marco-c opened #342 "Store training metrics in the Taskcluster index after training"

[2019-05-03 15:35] marco-c opened #343 "Investigate building a service to summarize bugs"

[2019-05-03 16:17] marco-c commented on #304
https://bugzilla.mozilla.org/report.cgi?y_axis_field=&cumulate=0&z_axis_field=&format=bar&x_axis_field=component&query_format=report-graph&short_desc_type=allwordssubstr&short_desc=&resolution=---&longdesc_type=allwordssubstr&longdesc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&status_whiteboard_type=allwordssubstr&status_whiteboard=&keywords_type=allwords&keywords=&bug_id=&bug_id_type=anyexac

[2019-05-03 16:48] Lothiraldan commented on #304
The CSV is missing the product, are the components unique outside their product namespace?

[2019-05-03 16:52] marco-c commented on #304
No, there might be the same component names used across products. We should see if we can do something similar including the product too.

[2019-05-03 16:57] marco-c commented on #304
Something like this should contain both product and component:
https://bugzilla.mozilla.org/report.cgi?x_axis_field=product&y_axis_field=component&z_axis_field=&query_format=report-table&short_desc_type=allwordssubstr&short_desc=&resolution=---&longdesc_type=allwordssubstr&longdesc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&status_whiteboard_type=allwordssubstr&status_whiteboard=&keywords_typ

[2019-05-03 17:21] Lothiraldan commented on #304
(The current implementation takes 3.5 minutes but does multiple queries)

[2019-05-03 18:20] Lothiraldan commented on #304
There seems to be an issue with the csv, some combinations of product /components are not returned, for example component `Dom: Geolocation` of product `Core` doesn't appears at all.

I'm checking if the report can be "fixed"

[2019-05-03 18:21] Lothiraldan commented on #304
Here is the full list of missing components / product combination:
[code]

[2019-05-03 18:24] Lothiraldan commented on #304
When I try to limit the report to one component (one of the above list), the report is blank: https://bugzilla.mozilla.org/report.cgi?x_axis_field=product&y_axis_field=component&z_axis_field=&query_format=report-table&short_desc_type=allwordssubstr&short_desc=&component=Printing&resolution=---&longdesc_type=allwordssubstr&longdesc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&status_whiteboard_t

[2019-05-03 18:36] Lothiraldan commented on #304
Ok there was a date filter to I have missed while reading the URL.

When removing the date filter, all components are checking now, https://github.com/mozilla/bugbug/pull/341 is up-to-date

[2019-05-03 22:45] marco-c opened #345 "On a new release, the hook is triggered in its old version rather than the new"
It looks like the hook is triggered before being updated. Maybe we have to stop using the route and use the insertTask API here. We need to check with Taskcluster.

[2019-05-06 15:12] marco-c opened #347 "commit retrieval task fails because of not existing cache directory"
[code]

[2019-05-07 09:41] #347 closed

[2019-05-07 09:51] marco-c opened #348 "Undefined dependency on rollback_test_task"
https://github.com/mozilla/bugbug/pull/337 removed the rollback test task, but not the "bugbug PyPI release" dependency on a task with task ID "rollback_test_task".

[2019-05-07 09:52] marco-c opened #349 "Make docker_push task depend on test tasks"
Before pushing to docker hub, we should make sure all test tasks pass successfully.

[2019-05-07 09:53] #348 closed

[2019-05-07 11:26] marco-c opened #350 "Remove unneeded train images"
They are mostly the same as the bugbug base image, plus a CMD.
We could use the bugbug base image and add the CMD in the task payload.

This will make things more flexible, as we won't need to create new repositories on docker hub for each train image. Also, caching at runtime will work better (all tasks will use the same image), and builds and pushes should get faster.

[2019-05-07 12:14] marco-c commented on #345
Even better solution: create a new dummy task that depends on the update hook task, move the index route from the update hook task to this new dummy task.

[2019-05-07 22:49] marco-c opened #352 "rollback for training component model failed, but rollback test passed"
Something wrong happened here:
https://tools.taskcluster.net/groups/BFMnbIf5ST24PzXPetOHhA/tasks/VDDlo5dqS1uc2RzLIL0eVQ/runs/0/logs/public%2Flogs%2Flive.log

It wasn't caught by the rollback test:
https://tools.taskcluster.net/groups/BFMnbIf5ST24PzXPetOHhA/tasks/AozeC30TSv-cfGYuAy4eXQ/runs/0/logs/public%2Flogs%2Flive.log

[2019-05-08 06:56] ayush-1506 commented on #339
@marco-c How is the script/trainer.py supposed to run? (I see that we can't run it from the command line directly.)

[2019-05-08 08:51] marco-c commented on #352
I know why, the rollback test should download the bugs DB from the bugs retrieval task instead of from Dropbox.

[2019-05-08 09:21] marco-c commented on #339
You can run it like this: `python3 -c 'from scripts import trainer; trainer.main()'`.

This issue is a bit problematic, as we need to make a few decisions before moving stuff, so let's not do it yet.

[2019-05-08 09:57] marco-c opened #355 "Add "seniority" feature to commit data"
Right now we are calculating the experience in terms of number of commits. We should also add a "seniority" feature, which would be the time since the first commit in the repo.

[2019-05-08 15:40] marco-c opened #356 "Change hook's schedule to run once every two weeks"
In a week not much changes.

[2019-05-08 21:11] marco-c commented on #258
I'm not sure if it still makes sense to have a pip cache, now that we are benefiting from Docker layer caching.

[2019-05-08 21:24] #257 closed

[2019-05-08 21:24] #352 closed

[2019-05-08 23:52] marco-c opened #360 "Check training metrics are not getting too bad"
Depends on #342.

[2019-05-09 08:46] Lothiraldan commented on #350
This would be easier on the maintenance side but every user of those images will need to pass the right CMD and we will need to synchronize the data-pipeline as it would contains commands with the right version of the Docker images so it might be a bit harder to rollback.

For caching, are we squashing the images right now with the way we are building the images? If so, yeah it would be better for

[2019-05-09 08:51] Lothiraldan commented on #345
The route was added on docker push task rather than on the hook update task, that might explains why the old hook was triggered.

[2019-05-09 09:15] marco-c commented on #345
Yeah, very likely

[2019-05-09 09:27] #345 closed

[2019-05-09 09:28] marco-c commented on #350
Right, the need to synchronize the pipeline would destroy the rollback when we change the command (even though changing the command should be pretty rare).

[2019-05-09 09:31] marco-c opened #364 "Rename mozilla/bugbug-train-defect to mozilla/bugbug-train-defectenhancementtask"
As we might need mozilla/bugbug-train-defect for the defect model.

[2019-05-09 09:35] marco-c commented on #364
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1550436.

[2019-05-09 09:41] #349 closed

[2019-05-09 09:44] #356 closed

[2019-05-09 09:46] marco-c opened #365 "Use generic "spawn" image and stop using "spawn-data" and "spawn-check""
Follow-up to #341.

[2019-05-09 09:47] marco-c commented on #365
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1550436.

[2019-05-09 09:50] marco-c opened #366 "Remove mozilla/bugbug-spawn-check-pipeline and mozilla/bugbug-spawn-data-pipeline"
After #365 is fixed, we can ask cloudops to remove these images.

[2019-05-09 09:53] marco-c opened #367 "Create a module listing all models"
See https://github.com/mozilla/bugbug/pull/341#discussion_r282297696.

[2019-05-09 13:09] #338 closed

[2019-05-09 14:58] marco-c opened #368 "Add different timespans of experiences"
Right now we are collecting overall and past 90 days experiences. I didn't actually think much about it, but maybe we should consider other timespans.
I'm thinking a long timespan (overall), a medium one (1-2 years), and a short term one (3 months? 2 months? 1 month?).

[2019-05-09 14:59] marco-c opened #369 "Author experience as reviewer and reviewer experience as author as features"
When classifying a commit, using the experience of the author as a reviewer and the experience of the reviewer as an author could be useful too.
In order to do something like this, we need a way to map author <-> reviewer.

[2019-05-09 15:00] marco-c opened #370 "Average experiences of reviewers as feature"
Currently, we consider the sum of the experience of the reviewers, but this could be limiting.

[2019-05-09 15:03] marco-c commented on #370
Maybe also the max could be interesting.

[2019-05-09 15:06] marco-c opened #371 "Differentiate between code lines added and comment lines added"
A patch that adds one line of code and ten lines of comments is likely different than a patch which adds eleven lines of comments!

[2019-05-09 15:10] marco-c opened #372 "Add some complexity measures of modified files"
- [x] Size of modified file (before? after? both?) - Done in 97d514e1dbb24a1faa649feda5cc746ed7053fef.
- [x] Size of modified function (before? after? both?) - Done in 66d17b05d6fa624d9ed80c9202849ba61494f3ce.
- [x] Cyclomatic complexity (of the modified functions?)
- [ ] Number of tokens (whole file? modified functions? both?)
- [ ] Parameter count of functions (whole file? modified functions? bo

[2019-05-09 15:13] marco-c commented on #371
One way to do this is:
- Get the files before/after the commit with hg cat
- Remove comments from the files before/after using some language agnostic tool
- Calculate the diff of the two

Another way would be to just remove lines starting with // or between /* and */ in a diff, but this wouldn't be precise (in the case of multiline commits for example, if the diff is in the middle of the multiline

[2019-05-09 15:15] marco-c commented on #371
For removing comments, we could use a generic parser like pygments or tree-sitter.

[2019-05-09 16:04] marco-c opened #373 "Also calculate experience of backed out patches"
We are ignoring them to calculate experiences for authors and reviewers and previous commits for same files, directories and components.
Maybe we should have a new feature that says the number of previous backouts for the same author (probably doesn't make sense to have it for reviewers, files, directories and components too?).

[2019-05-09 16:07] calixteman commented on #373
I think it could be useful in case where a dev has a good experience on a component and even after years he continues to have backed out patches: it probably means that every change here is not trivial at all and if a "newbie" writes a patch here then the probability to have a regression is pretty high.

[2019-05-09 16:18] marco-c commented on #373
It could also help in calculating how likely a patch is to be backed out.

[2019-05-09 17:30] #333 closed

[2019-05-09 17:30] #336 closed

[2019-05-09 19:28] Lothiraldan opened #374 "Solves the meaningful components check of the component model"
In the component model, we check that the meaningful components of the bugs in the last 6 months are present in the trained model.

As we are training on a disjoint time window, 6 months ago to 2 years and 6 months ago, we are more likely to gets new meaningful components. We reduced the ratio https://github.com/mozilla/bugbug/pull/341 for now but we will need to find a correct fix for this check

[2019-05-09 20:59] marco-c commented on #20
We can automatically create some also by using the `crash` keyword, and some keywords for the security bugs (listed in https://wiki.mozilla.org/Security_Severity_Ratings).

[2019-05-09 21:36] #364 closed

[2019-05-09 22:36] marco-c opened #376 "Deploy http service somewhere"
Either Heroku, or GCP, or AWS.
Depends on the task-boot issue to support deploying to one of those services.

[2019-05-09 23:12] marco-c commented on #186
Some initial tests are being added in #377.

[2019-05-09 23:28] marco-c opened #378 "Add tests for repository.get_commit_map"

[2019-05-09 23:29] marco-c opened #379 "Add tests for repository.download_commits"

[2019-05-09 23:30] marco-c opened #380 "Add tests for repository.get_revs"

[2019-05-09 23:31] marco-c opened #381 "Add tests for repository.get_directories"

[2019-05-09 23:31] marco-c opened #382 "Add tests for repository.calculate_experiences"

[2019-05-09 23:32] marco-c opened #383 "Add tests for repository.get_commits"

[2019-05-09 23:32] marco-c opened #384 "Add tests for repository._transform"
Also change the function name, since we're there.

[2019-05-09 23:32] marco-c opened #385 "Add tests for repository.hg_log"

[2019-05-09 23:42] marco-c commented on #385
In order to test this, we somehow need to clone version-control-tools and make it available during tests.

[2019-05-10 10:20] #304 closed

[2019-05-10 10:25] marco-c opened #387 "Add bugbug to codetribute"
Similarly to https://github.com/mozilla-frontend-infra/codetribute/commit/bb584a2fc05a4f4ada0cf7639abe875b6de265e3.

[2019-05-10 11:44] ayush-1506 commented on #378
@marco-c  Is this test is perhaps going to be pretty straight forward? (test the length of the lists for a few random keys in the commit_map?)
(get_commit_map doesn't take any arguments, so there's nothing we can add in there.)

[2019-05-10 13:16] marco-c opened #388 "Increase deadlines of pipeline tasks"
This way when they fail we can rerun them (when you rerun, the dependent tasks will still work, if you just retrigger they won't).

The maximum runtime shouldn't be changed.

[2019-05-10 13:44] marco-c commented on #378
Yes, the test is not going to be hard. The mock DB is already added in https://github.com/mozilla/bugbug/blob/f4b2b938be638533bcdab54ea0d35043d9ee3ff1/tests/conftest.py#L17, so the test function just needs to use the mock_data fixture.

[2019-05-10 14:01] marco-c opened #390 "Not all training tasks need commits DB"
Indeed I think none of the ones we currently run as part of the data pipeline need the commits.
We should:
- Make the trainer script only download the DBs which are necessary;
- Remove the dependency on the commit retrieval task in the data-pipeline.yml.

[2019-05-10 14:02] marco-c opened #391 "Set an expiration date for tasks"
The default is 1 year, but it is unneeded to store the data for so long.

[2019-05-10 14:05] marco-c opened #392 "Use rs_parsepatch to parse patches"
It should be faster.

[2019-05-10 14:12] #388 closed

[2019-05-12 19:46] #391 closed

[2019-05-13 08:42] marco-c commented on #224
We could also try https://scikit-learn.org/stable/modules/multiclass.html#multioutput-classification or https://scikit-learn.org/stable/modules/multiclass.html#classifier-chain.

[2019-05-13 15:42] marco-c opened #399 "Move contributing information from README.md to CONTRIBUTING.md"

[2019-05-13 15:44] marco-c commented on #387
Will be fixed by https://github.com/mozilla-frontend-infra/codetribute/pull/298.

[2019-05-13 15:44] #387 closed

[2019-05-13 16:03] marco-c opened #400 "Use call graph information to generate more features"
E.g. how many functions are calling the modified functions? Etc.

We could use the searchfox data to do this, similarly to https://github.com/MozillaSecurity/reachable.

[2019-05-14 09:30] #380 closed

[2019-05-14 09:30] #381 closed

[2019-05-14 09:30] #382 closed

[2019-05-14 10:18] marco-c opened #403 "Write a overwrite_classes method for bug type detection"
Part of #20.

[2019-05-14 10:19] marco-c opened #404 "Try using XGBoost's support for multilabel classification instead of OneVsRestClassifier"
Part of #20.

[2019-05-14 10:19] marco-c opened #405 "Investigate other keywords that could be used to have automatic labels for bug type detection"
Part of #20.

[2019-05-14 10:59] ayush-1506 commented on #403
@marco-c What what I understand, this method directly sets the classification output to desired value, according to the condition, right?

[2019-05-14 13:22] #390 closed

[2019-05-14 13:51] #399 closed

[2019-05-14 14:02] marco-c opened #408 "Don't store experience for commits we will ignore in experiences_by_commit"
After calculating experiences, we filter out old commits.

[2019-05-14 14:03] marco-c opened #409 "Try using sorted lists of revs instead of sets of nodes to calculate experiences"
This could reduce memory usage.

[2019-05-14 14:05] rajibmitra commented on #384
I would like to work on this , could you please assign this me @marco-c

[2019-05-14 14:08] marco-c commented on #384
@rajibmitra feel free to work on it! Issues are assigned automatically when there is a PR to fix them.

[2019-05-14 14:09] marco-c commented on #403
Exactly. E.g. if the "perf" keyword is available, you can be sure that it is a perf bug.

[2019-05-14 15:45] marco-c opened #410 "Use codespell in precommit hook"

[2019-05-14 16:18] madhurish commented on #383
Hi, wanted to work on this. Have a few queries /clarifications, would be great if I can get some guidance.
1. This issue requires tests to be written for get_commits() method in bugbug/repository.py, correct?
2. The tests for bugbug/repository.py have to be written in test/test_repository.py, correct?
3.  So since the get_commits() method is returning the content of the database(?), what are some

[2019-05-14 17:18] marco-c commented on #383
Yes.

Yes.

You can just add a simple test case that calls the method and asserts that the right commit is returned (you can check that its node property corresponds to the right one).
Tests are using the mock files from tests/fixtures, so in this case tests/fixtures/commits.json.

[2019-05-14 17:48] madhurish commented on #383
Thanks for the clarifications, seems pretty straight forward, will be raising a PR soon. Is there any branching strategy that is being followed that I need to know about before making a PR?

[2019-05-14 17:54] marco-c commented on #383
Just the usual workflow on GitHub. You create a fork, a branch in your fork, then create a PR in this repo from your branch in your fork.

[2019-05-14 18:29] marco-c opened #413 "Update check hook task is failing"
infra/taskcluster-hook-check-models-start.json is invalid JSON.

[2019-05-14 18:34] #413 closed

[2019-05-14 18:34] marco-c commented on #413
I've also added a pre-commit hook to ensure all JSON files are valid, with 95fce92f0f8643fddc0286e394ebabcc0861d903.

[2019-05-15 05:54] madhurish commented on #383
Hi, I'm trying to run the test but not able to see any test results, I think I'm missing something, here are the steps I followed:
1. I created a virtualenv and installed requirements.txt and test-requirements.txt
2. Copied the bugbug directory inside the test directory
3. Ran the python script (without making any changes): python test_repoitory.py

The script executed successfully without any err

[2019-05-15 09:41] marco-c opened #419 "Figure out a way to calculate feature importances for big models"
Right now, calculating importances for e.g. the component model or the defect/enhancement/task model runs out of memory.

[2019-05-15 09:47] marco-c commented on #419
The out of memory is happening at https://github.com/mozilla/bugbug/blob/0bf7234615a01f3b20a8a01ef76fc8b6521f90a3/bugbug/model.py#L121.

Fixing #162 might fix this too.

[2019-05-15 09:56] #403 closed

[2019-05-15 10:03] ayush-1506 commented on #19
@marco-c Could you tell me a bit about how negative examples are created here (using has_str)?

[2019-05-15 10:15] marco-c commented on #19
has_str is actually not a keyword, but a field.

Here you have an example of a bug with has_str (shown as "Has STR") set to yes: https://bugzilla.mozilla.org/show_bug.cgi?id=1200865
Here has_str set to no: https://bugzilla.mozilla.org/show_bug.cgi?id=898532

You can check the name of the field with the rest API: https://bugzilla.mozilla.org/rest/bug/1200865.

[2019-05-15 10:16] marco-c commented on #19
So, negative examples: Has STR=no or stepswanted keyword
Positive examples: Has STR=yes or stepswanted keyword removed in the history

[2019-05-15 11:08] marco-c opened #422 "Don't get file_copies from hg log"
It's pretty slow.
We need it for experience calculation, so we could move this step after the parse patch step.

[2019-05-15 11:09] marco-c commented on #422
Probably to be done after #371 to avoid making that harder.

[2019-05-15 11:45] #392 closed

[2019-05-15 12:12] marco-c opened #424 "Add overwrite_classes for the steps to reproduce model"

[2019-05-15 12:20] marco-c opened #425 "Collect more examples of bugs with no steps to reproduce"
We should analyze a few bugs on Bugzilla (possibly defects) and set their 'Has STR'.

We should also take note of the bug ID, whether STR are present and the comment where the STR were added (if they are present, otherwise '').

[2019-05-15 12:23] marco-c opened #426 "Add more automatic labelled examples for the stepstoreproduce model"
We should add the following to the training set of stepstoreproduce:
1) Bugs that had 'stepswanted' keyword (rollbacked to the time before the keyword was removed)
2) Bugs that had 'Has STR' set to no (rollbacked to the time before 'Has STR' turned to yes)

This is not really easy to implement. The bugs that had 'Has STR=no' and now have 'Has STR=yes' are already in the training set as examples of

[2019-05-15 12:25] madhurish commented on #383
Here's what I did:
1. Created a virtual environment, installed the requirements and test-requirements
2. Copied the bugbug directory into the tests directory
3. Ran pytest

I got an error in the test_repository.py, is that expected output? Should I go ahead and add the tests? Or am I doing something wrong?

[2019-05-15 12:25] #19 closed

[2019-05-15 12:30] marco-c commented on #383
You don't need to copy the bugbug directory into the tests directory.
Simply running `python3 -m pytest tests/test_repository.py` should work.

If you don't paste the output here, it's going to be hard for me to tell you whether that output is expected :P

[2019-05-15 12:30] marco-c opened #427 "Add stepstoreproduce training task"

[2019-05-15 12:43] marco-c opened #428 "Add some basic tests for the steps to reproduce model"

[2019-05-15 12:43] marco-c opened #429 "Add some basic tests for the bug type model"

[2019-05-15 13:00] ayush-1506 opened #431 "Add basic tests for assignee model"

[2019-05-15 13:00] ayush-1506 opened #432 "Add basic tests for backout model"

[2019-05-15 13:01] ayush-1506 opened #433 "Add basic tests for component model"

[2019-05-15 13:02] ayush-1506 opened #434 "Add basic tests for defect model"

[2019-05-15 13:02] ayush-1506 opened #435 "Add basic tests for devdocneeded model"

[2019-05-15 13:03] ayush-1506 opened #436 "Add basic tests for regression model"

[2019-05-15 13:03] ayush-1506 opened #437 "Add basic tests for uplift model"

[2019-05-15 13:04] ayush-1506 opened #438 "Add basic tests for defect_enhancement_task model"

[2019-05-15 13:04] #424 closed

[2019-05-15 13:22] marco-c opened #439 "For calculating experiences, try using a DB"
This way:
1) we avoid memory usage problems;
2) we can calculate different experiences (author, reviewer, file, etc.) in parallel;
3) we can calculate them just once, and reuse the past ones on a new run of the repository script.

[2019-05-15 13:24] marco-c opened #440 "Bugs retriever task should download only new or changed bugs"
Right now, the bug retriever task is redownloading all bugs. It should instead:
1) Get the previous DB from the previous run of the task;
2) For all bug IDs in the previous DB, check which ones have been changed since the last run of the task;
3) Remove changed bugs + bugs that are outside the range of [2 years and 6 months, 6 months];
4) Download changed bugs + new bugs that are now in the range

[2019-05-15 14:35] ayush-1506 commented on #427
@marco-c What is a training task in this context? Is there an example of this for some other model?

[2019-05-15 15:06] marco-c commented on #427
[Taskcluster](https://docs.taskcluster.net/docs) runs our pipeline, which is defined in infra/data-pipeline.yml. Each item of that YAML file defines a task that is run on Taskcluster. A training task is a task that performs the training of a model.

Here is an example for the component model: https://github.com/mozilla/bugbug/blob/73a5192073ed6e805afc7cadc8143d68db5c38ef/infra/data-pipeline.yml#L8

[2019-05-15 17:30] madhurish commented on #383
![Screenshot from 2019-05-15 22-58-26](https://user-images.githubusercontent.com/33370824/57796051-12a95400-7765-11e9-9ebc-88223f6d2218.png)
![Screenshot from 2019-05-15 22-58-39](https://user-images.githubusercontent.com/33370824/57796053-12a95400-7765-11e9-967f-29bbca9f6ee2.png)
Added screenshots : ```FileNotFoundError: [Errno 2] No such file or directory: 'hg': 'hg'

/usr/lib/python3.6/subproce

[2019-05-15 21:36] hotdogman commented on #383
This error comes from trying to call the /usr/bin/hg command, but you do not appear to have mercurial installed.

[2019-05-15 23:33] marco-c commented on #383
@hotdogman is right, installing Mercurial is a requirement for the project.

[2019-05-15 23:33] marco-c opened #443 "Evaluate InterpretML instead of shap"

[2019-05-16 08:22] abinmn commented on #355
I am new to open source and I would like to contribute. can I take up this issue?

[2019-05-16 09:32] marco-c commented on #355
Sure! Any issue which is not assigned is free to work on (see the CONTRIBUTING file with the rules).

The implementation will have to be in bugbug/repository.py (please follow the README to make sure you can run it).
The script is pretty slow, so I suggest limiting the number of commits to analyze. You can simply do that by changing https://github.com/mozilla/bugbug/blob/3c91af9c60f6b94349975a5601

[2019-05-16 10:01] sbeesm commented on #371
With hg cat, we also need to add the revision right? So how would we find the revision number for a particular commit?

And we only want to know code lines added and not comment lines?

[2019-05-16 10:09] marco-c commented on #371
We can use the node of the commit (see in repository.py, we are already using hg cat now).

Ideally both.

[2019-05-16 10:37] ayush-1506 commented on #20
Should this can be closed now?

[2019-05-16 11:10] marco-c commented on #20
Not yet, as we don't have any labels for many of the types in the first comment.

[2019-05-16 11:41] ayush-1506 commented on #18
@marco-c I reckon we'd have to collect negative labels manually? How should I be doing this? When I visit a bug, what should I look for to add it into the negative category?

[2019-05-16 11:59] marco-c commented on #18
We actually have a 'Has Regression Range' field, so we can collect some positive and negative examples using that (similarly to 'Has STR').

[2019-05-16 13:33] Lothiraldan commented on #340
I can imagine how we could pass the version number with the pulse message but I'm not sure how that would works in the cron configuration

[2019-05-16 13:34] #367 closed

[2019-05-16 13:38] marco-c commented on #340
The version number could be a config of the hook itself.
The task triggered by the hook could either parse its own "image" and read the tag from there, or we could add the tag to "env".

[2019-05-16 14:19] marco-c commented on #439
I tried calculating different experiences in parallel, but the result was not great (4 out of the 5 experience types finished very quickly, only one took way longer. I guess it was the "file" experience, but we'd have to confirm).

[2019-05-16 14:23] madhurish commented on #383
Haha, yeah finally got it working. I guess a few things can be updated in the documentation like running tests and the Mercurial dependency. I might have missed it, if it is already mentioned somewhere let me know if it is. also opened an PR with a basic test, will add more let me know: #447

[2019-05-16 14:27] marco-c commented on #439
@calixteman confirmed it is the "file" experience.

[2019-05-16 14:46] sbeesm commented on #371
Okay, so with hg cat, we get the after file and for the before file, we'd use the previous commit from the list, right?

But why do we need to remove comment lines if we want to calculate both?

[2019-05-16 14:58] marco-c commented on #371
Or we store the parent of the commit for each commit, getting it in hg_log.

We don't *have to*, it's just a possible way to implement this.

[2019-05-16 15:24] #410 closed

[2019-05-16 15:29] Lothiraldan opened #450 "Bug classification can choke on a single bug when giving a list"
When calling `model.classify` with a list of bug data, a single bug might trigger a error like the following one:

[code]
As we are classifying a batch, it is problematic as no other bugs in the batch will be classified.

https://github.com/mozilla/bugbug/pull/321/files#diff-7908c821177e4af7e08af4a9ca055d60R99

[2019-05-16 15:31] marco-c commented on #450
When rollbacking the bug, we shouldn't fail when a field is inconsistent, but rather remove the field altogether and consider it as missing data.

[2019-05-16 16:34] marco-c opened #451 "Figure out what to do with third_party paths"

[2019-05-16 18:56] sbeesm commented on #371
Oh yes, that would be a better option.

And for parsing files, I was thinking of first reading the whole file into a string then splitting into list of lines. For single line comments, we can just check the first char so parsing them should be easy. But for multi-line comments we can have a loop starting when we encounter ```/*``` or ```'''```, and keep counting the lines until we find the end.

[2019-05-16 21:50] marco-c commented on #371
This doesn't really work, comments are often in the middle of a line.
Writing something to remove the comments ourselves is likely not going to be very precise, unless we spend a lot of time on it (it's not trivial at all).

[2019-05-17 12:23] marco-c opened #454 "Add "presence of image" in attachments as a feature"
When users file a bug uploading an image, it's very likely they want to show that there is something wrong with Firefox.
So, the presence of an image between the attachments can be an indication of the bug being a defect.

[2019-05-17 12:36] marco-c opened #455 "Add 'bug filer is QA' feature"

[2019-05-17 18:07] #450 closed

[2019-05-18 09:55] marco-c opened #461 "Use zstandard instead of xz"
We should compare the compression ratios and, if the difference is small, switch to zstandard.

[2019-05-18 09:57] marco-c commented on #461
This is pretty simple.
1. Download the bugs.json.xz file (from https://index.taskcluster.net/v1/task/project.relman.bugbug.data_bugs.latest/artifacts/public/bugs.json.xz), extract it, compress it with zstandard. Compare the sizes of the extracted file vs the xz file vs the zstandard file.
2. Perform the same steps with one of the model files (e.g. https://index.taskcluster.net/v1/task/project.relm

[2019-05-18 09:58] marco-c opened #462 "Add 'bug component' to commit data"
We are storing the components of all files modified, we could also store the component of the linked bug.

[2019-05-18 10:55] marco-c opened #463 "Add regressionrange training task"

[2019-05-18 10:58] marco-c opened #464 "Collect more examples of bugs with no regression range"
We should analyze a few regression bugs on Bugzilla and set their 'Has Regression Range'.

We should also take note of the bug ID, whether the regression range is present and the comment where the regression range was added (if it is present, otherwise '').

[2019-05-18 11:02] marco-c opened #465 "Add more automatic labelled examples for the regressionrange model"
We should add the following to the training set of regressionrange:

    Bugs that had 'regressionrange-wanted' keyword (rollbacked to the time before the keyword was removed)
    Bugs that had 'Has Regression Range' set to no (rollbacked to the time before 'Has Regression Range' turned to yes)

Similarly to #426, this is not really easy to implement. The bugs that had 'Has Regression Range=no' an

[2019-05-18 11:03] #18 closed

[2019-05-18 14:16] marco-c commented on #451
One possibility would be to ignore them completely, another possibility would be to merge them (e.g. any modification to any file in gfx/cairo/ would be considered as a modification to gfx/cairo/).

[2019-05-18 14:19] marco-c commented on #368
@calixteman what do you think?

[2019-05-18 18:52] sbeesm commented on #371
For pygments, we can do something like this:

[code]

But there are some problems. For some file formats like C, it gives the output for preprocessors like this:

[code]

And multi-line comments in python are treated as a doc token `Token.Literal.String.Doc`.

[2019-05-19 15:45] Lothiraldan commented on #342
I remember a conversion where we said we should abort if the metrics are not good enough just after training, this way we don't generate bad models. If so, do we still need to store training metrics after training?

[2019-05-19 15:58] Lothiraldan commented on #365
My main issue with using a generic image only is that the hooks will need to git clone the repository at the right revision in order to be able to spawn the pipelines. This means that if Github is down, the pipelines won't be spawned. We need also to ensure that the `spawn-check` image version X is compatible with hooks in the repository at version Y which not straightforward to do as the hook for

[2019-05-19 20:26] Lothiraldan commented on #340
There is two part for this issue:
- Tagging the image with versions. I have opened a PR in task-boot to allow to pass the Git tag when building: https://github.com/mozilla/task-boot/pull/29
- Render the hook with the right version number.

I think we will need to "save" the current version somewhere anyway as the data pipeline will need to access the version in order to build an updated version of

[2019-05-19 22:45] marco-c commented on #342
We'll need some reference values for the metrics. We could hardcode them, or use the ones from a previous run (getting them from the index).

The check during training will be relaxed (e.g. if it decreases by 1%, we can't fail the training), so with the history of previous trainings we can see if things are slowly worsening over time.

So this could still be useful, even if less useful than the ch

[2019-05-19 22:47] marco-c commented on #365
We could copy all yml files in the image, so the image contains all it needs to run and we can keep avoiding the git clone and the compatibility problem.

[2019-05-19 22:55] marco-c commented on #340
The task building the http service image will have to use the same tag as the tasks in the data pipeline, so the tag could be filled by the infra/spawn_data_pipeline.py script itself.

The infra/spawn_data_pipeline.py script could read the tag from its env (or its image, if it can access that), and trigger tasks from data-pipeline.yml with the same tag.

[2019-05-20 11:14] #370 closed

[2019-05-20 11:38] marco-c opened #468 "check-component task is failing to load component model"
From https://tools.taskcluster.net/groups/TPcM3XbjR0mSz4qGwJmqyA/tasks/YX85nWDWS8iUTJ1qZk0I2Q/runs/0/logs/public%2Flogs%2Flive.log:
[code]

[2019-05-20 11:39] marco-c commented on #468
Should be fixed with #452.

[2019-05-20 12:13] marco-c commented on #468
Should have been fixed, but it is still happening.

[2019-05-20 12:14] marco-c commented on #468
Unless the task wrongly used the old image, I guess with tagging we will be able to tell.

[2019-05-20 12:20] marco-c commented on #468
Actually, the task did use the new image, we can tell from the line numbers in the stack trace.

So, looking at the logs, I see the model was not downloaded. Probably the environment variables were not set.

[2019-05-20 13:24] #468 closed

[2019-05-20 22:26] #454 closed

[2019-05-20 22:28] marco-c commented on #371
I don't see them as big problems, we simply have to handle those cases too.
I'd try tree-sitter though, it's probably better supported and very likely faster.

[2019-05-21 09:18] calixteman commented on #422
In fact we should move it in _transform and so move xp after _transform.
In order to compute modified files, hg gets some data from the disk and put them in memory.
Since hg export and hg cat need to have almost the same info, if we move file_* stuff in _transform, then all the info for hg things will be there in memory so it should be faster.
And since we're analyzing patch of different sizes in

[2019-05-21 09:21] marco-c commented on #350
I'm thinking that we can actually do this. The pipeline definition is in the spawn image anyway, so to rollback everything, we just need to rollback the hook to use an older image, containing an older pipeline definition.

[2019-05-21 10:09] marco-c opened #474 "Log cases where an inconsistency was expected but didn't happen, while rollbacking a bug"

[2019-05-21 10:10] marco-c opened #475 "defect_enhancement_task Taskcluster task is missing the artifact"
From the task () logs:
[code]

[2019-05-21 11:41] ayush-1506 commented on #369
I think this can be done by having two new global variables : `author_reviewer_exp` and `reviewer_author_exp` and iterating through the commit, increasing them on each iteration. However, one thing that perturbs me is that a same person has different names in `author` and `reviewers`. How can we confirm if it's the same person?

[2019-05-21 12:47] #475 closed

[2019-05-21 13:46] #355 closed

[2019-05-21 14:16] marco-c opened #478 "Component model check fails because a component doesn't exist (but it does)"
https://tools.taskcluster.net/groups/YmP0E_pwSuSdoagf1-CqGw/tasks/ArfJiFK0Q--CVZSNei8ieA/runs/0/logs/public%2Flogs%2Flive.log failed with:
[code]

But this component actually exists.

[2019-05-21 14:18] marco-c commented on #369
We'll need a way to map author <-> reviewer. We'll probably have to build this map manually.

[2019-05-21 14:26] marco-c opened #479 "Test seniority too"
In test_calculate_experiences

[2019-05-21 22:53] #479 closed

[2019-05-22 10:38] calixteman opened #481 "I get an error when running bugbug in auto_nag"
Traceback (most recent call last):
  File "/usr/lib64/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib64/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/rm_bot/relman-auto-nag/auto_nag/scripts/component.py", line 7, in <module>
    from bugbug.models.component import ComponentModel
  File "/home/rm_bot/relman-auto

[2019-05-22 10:45] calixteman commented on #481
An easy workaround is to add in repository.py:
[code]

[2019-05-22 14:09] #481 closed

[2019-05-22 16:58] #463 closed

[2019-05-22 19:43] #427 closed

[2019-05-23 09:30] marco-c opened #482 "Try using a ramdisk in the commit retrieval task"
We can store the mozilla-central repository in a ramdisk to avoid I/O issues. It will increase memory usage by 5 GB, but our instance has 64 GB so we should be good.

[2019-05-23 17:28] calixteman opened #485 "Remove one-patch author at some point to free memory"
Algo:
 - in a first step: get max pushdate for author
 - in the main analysis loop, remove this author from the dict when the current date exceeds the max one

[2019-05-23 17:31] marco-c commented on #485
We could do the cleanup every X commits, so we don't spend too much time.

[2019-05-23 17:40] marco-c commented on #485
Actually, for each commit, we could do the check for the author (reviewer, etc.) of that commit.

[2019-05-23 18:06] Lothiraldan opened #486 "Being able to generate and deploy HTTP service on release"
Right now, we are generating a Docker image with missing models for the HTTP service so we cannot deploy at the end of the release.

But that means that all code change, including hotfixes, will need to wait for the next data-pipeline to finish which is sub-obtimal.

[2019-05-23 18:39] #376 closed

[2019-05-23 18:40] Lothiraldan commented on #478
I think the issue is that their was no issue in the last 6 months for this component

[2019-05-23 18:46] marco-c commented on #478
You're right, it was a good failure actually. With the new component model it is not failing anymore.

[2019-05-23 18:46] #478 closed

[2019-05-23 19:05] sladyn98 commented on #428
@marco-c I would like to work on this could you guide me a bit. Thanks

[2019-05-23 19:27] marco-c commented on #428
Hello @sladyn98, this will be something similar to https://github.com/mozilla/bugbug/blob/1bae5834abd49f70c69da84d36b66f5f5cf503b0/tests/test_tracking.py, for the StepsToReproduce model (https://github.com/mozilla/bugbug/blob/master/bugbug/models/stepstoreproduce.py).

[2019-05-24 09:55] marco-c commented on #486
We could:
1) Release a new version (having a way to avoid triggering the hook automatically)
2) Retrigger the tasks to build and depoy the HTTP service, using the new released image

Possibly, if we had a way to release a new version without triggering the hook automatically, we'd avoid unnecessarily rerunning the whole pipeline.

For 2, we should check if it feasible currently with Taskcluster.

[2019-05-24 10:47] marco-c opened #490 "Rename spawn_data_pipeline.py to spawn_pipeline.py"
Since it supports spawning both data and check (or any other pipeline defined in a yaml file).

[2019-05-24 13:07] marco-c opened #492 "Change hg_log chunksize"
@calixteman noticed that, for a small number of revs, chunksize=1 is faster. We should check if that is the case for all revs too.
Maybe we can find an optimal value of chunksize which would be != 20 and != 1.

[2019-05-24 13:07] marco-c commented on #492
The same might apply to _transform chunksize.

[2019-05-24 13:09] marco-c opened #493 "When calculating experiences, avoid some unnecessary dict accesses"
We can introduce some temporary variables in some cases to avoid accessing the same elements multiple times.
E.g. https://github.com/mozilla/bugbug/pull/488#discussion_r287302102.

[2019-05-24 14:06] calixteman opened #495 "Don't analyze commits which are in .hg-annotate-ignore-revs"
Currently we do that but after hg_log: we should probably do it before

[2019-05-24 14:10] marco-c opened #496 "Ignore "# ignore-this-changeset" commits"
When "# ignore-this-changeset" is in the desc, we can ignore the commit.

[2019-05-24 14:11] marco-c commented on #496
https://hg.mozilla.org/hgcustom/version-control-tools/file/b85b908567bfecf9146d6e2ff6634ea194ca8beb/hgext/configwizard/__init__.py#l1102

[2019-05-24 14:33] marco-c commented on #492
On my machine it didn't make any difference :(

[2019-05-24 14:38] #495 closed

[2019-05-24 22:19] marco-c opened #501 "Update hook tasks fail"
There are a few issues:
1) ${tag} is not available in the JSON-e context, it has to be head_branch[10:] (or head_branch[11:], need to check);
2) the taskboot image doesn't contain the bugbug files, we probably need to clone the repository first
3) the taskboot image doesn't contain /bin/bash (but /bin/sh).

[2019-05-24 22:20] marco-c commented on #340
To support this, we need to reland #489 and #491 (and #494), fixing the issue from #501.

[2019-05-25 00:07] marco-c opened #502 "Experience calculation can fail because of skipped commits"
E.g. if we skip a commit which moves a file, later we have no experience for it.

[2019-05-25 08:28] sladyn98 commented on #428
@marco-c Kindly review :)

[2019-05-25 09:46] marco-c opened #504 "Docker HTTP build task is failing"
Regression from #458.

[code]

[2019-05-25 10:25] calixteman commented on #492
At least for the first step, we should have chunksize=ceil((number of chunks)/(number of cpus)).
It'd helpful especially when debugging.
20 is probably not good because it doesn't rely on the machine where stuff is running.

[2019-05-26 00:45] bilalib commented on #493
I'd like to work on this. Does this require new test cases? And could you point me to a line where this kind of optimization is possible?

[2019-05-26 19:49] Lothiraldan commented on #504
I think the error is older than merging #458, any bugbug import would fails when building the http Docker Image as it's running in the taskboot image and not bugbug itself. I need to think about the best way to do that.

[2019-05-27 02:42] x249wang commented on #429
@marco-c Are you looking for something similar to https://github.com/mozilla/bugbug/blob/master/tests/test_tracking.py for this?

[2019-05-27 03:23] x249wang commented on #461
Here's what I got for the relative file sizes:

| (in KB) | Original  | .xz     | .zst    |
|---------|-----------|---------|---------|
| bugs    | 1,370,732 | 152,193 | 154,090 |
| model   | 67,906    | 39,432  | 41,567  |

I'm using the Windows release of Zstandard v1.4.0, using compression level of 19 (results in smallest file sizes).

Is the difference considered small enough?

[2019-05-27 09:30] marco-c commented on #461
Could you try with the default compression level too?

[2019-05-27 09:32] marco-c commented on #429
Exactly!

[2019-05-27 09:37] marco-c commented on #493
No, we already have some covering the code you will have to change.

There is a link in the first comment :)

[2019-05-27 10:21] marco-c commented on #496
We can't do this because of #502.

[2019-05-28 02:31] x249wang commented on #461
With default compression level (i.e. 3):

| (in KB) | Original  | .xz     | .zst    |
|---------|-----------|---------|---------|
| bugs    | 1,370,732 | 152,193 | 152,196 |
| model   | 67,906    | 39,432  | 39,433  |

Much closer than previously.

[2019-05-28 08:46] marco-c commented on #461
OK, thanks! So we can definitely switch to zstandard.

[2019-05-28 09:30] marco-c opened #509 "Calculate recall better when a confidence threshold is set"
We are basically overestimating the recall for the confidence threshold cases: https://github.com/mozilla/bugbug/blob/f0547925391cf082ee31f2031f2d7a35c715c884/bugbug/model.py#L139.

We should take into account that some elements are not classified when we set a threshold.

[2019-05-28 09:37] marco-c commented on #340
Another prerequisite is uploading the image both with 'latest' and version tag when we deploy. Basically making use of https://github.com/mozilla/task-boot/commit/3374b5c288d548d0598255950f5eb57c5fe7c356.

[2019-05-28 10:59] #373 closed

[2019-05-28 14:23] x249wang commented on #461
Sounds good. I can get started with that.

[2019-05-28 17:59] sbeesm commented on #371
Do we need to this for some specific code files like C, Python or it can be any code file?

I'm asking this because for each language we want to parse, tree-sitter needs a language implementation. And for this, we'd need to clone the existing tree-sitter language repos and compile them before using.

[2019-05-28 23:28] marco-c commented on #371
We need to support the most used languages in Firefox, they are many (C/C++, Rust, JavaScript, Java, etc.).

[2019-05-29 02:49] x249wang commented on #461
@marco-c I found two instances of the `compress_file()` function being called (`commit_retriever.py`, `bug_retriever.py`), which I can update, but it seems that all the .xz-format model files are downloaded from taskcluster?

[2019-05-29 08:33] marco-c commented on #461
Yes, they are downloaded from Taskcluster, but the code to upload to Taskcluster is also in this repository.
You'll need to update both the upload and the download code.
To catch all uses, you can simply `grep "xz" -r scripts/ bugbug/ infra/`.

[2019-05-29 08:39] #429 closed

[2019-05-29 09:24] #496 closed

[2019-05-29 09:24] #502 closed

[2019-05-29 09:30] sbeesm commented on #371
So should we clone and build all the language repositories beforehand or do this only when we encounter a file type for the first time?

[2019-05-29 09:36] marco-c commented on #371
We can start with the C/C++ one, after we get that working, we can add the others.

[2019-05-29 09:43] stardust3dd commented on #490
can I claim this issue?

[2019-05-29 09:52] marco-c commented on #490
Sure!

[2019-05-29 10:18] stardust3dd commented on #490
is changing the name enough or do I have to make other relevant changes?

[2019-05-29 12:07] marco-c commented on #490
Just need to rename the file and update all places which are referencing it.

[2019-05-29 14:33] marco-c opened #514 "Make it possible to use bug features too when classifying commits"
For example, for risk analysis the type of bug might be really important.

[2019-05-29 17:57] marco-c opened #515 "Iterate bugs only once when training, not twice"
Currently we are iterating them once for getting y, and once for getting X. We should just iterate once.

[2019-05-29 18:44] #504 closed

[2019-05-30 02:14] x249wang commented on #461
Upon second try, it seems the .zst files under default compression level are much larger than what I reported before. Really sorry!! Not sure what happened there...

| (in KB) | Original  | .xz     | .zst    |
|---------|-----------|---------|---------|
| bugs    | 1,370,732 | 152,193 | 228,711 |
| model   | 67,906    | 39,432  | 44,856  |

[2019-05-30 06:31] hmrishavbandy commented on #493
@marco-c Hey i would like to work on this. I am completely new to contributing anything, so could you please help me out with initial steps? Thanks a lot .

[2019-05-30 08:46] marco-c commented on #461
No worries, the size is still small enough (and we save time with zstd, so it's better).

[2019-05-30 09:05] marco-c opened #517 "Use a quick way to get similarities between bugs to reduce the set of bugs to compare to"
We have to find a way to make the application of the Duplicate model faster. Right now it requires comparing each bug with every other bug, which is pretty slow.

One option is to use some similarity technique (e.g. https://radimrehurek.com/gensim/tut3.html) to reduce the number of bugs to compare to (e.g. given a bug, find the top X most similar, then apply the model only on those instead of the

[2019-05-30 09:05] marco-c opened #518 "Add a training task for the duplicate model"

[2019-05-30 09:06] marco-c opened #519 "If a bug has 'dupeme' keyword, skip it when training"
'dupeme' means that the bug is probably a duplicate of another, but its duplicate was not found yet by the developer.

We should skip those bugs while training, as we risk applying a wrong label to them.

[2019-05-30 10:50] #485 closed

[2019-05-30 11:29] marco-c opened #520 "Find a nicer way to define which training sets a given model needs to download"
Right now the trainer script is checking the base class of the model.

[2019-05-30 11:30] marco-c commented on #340
Another thing we need to do is to make the index URLs use the tag. E.g. the trainer script is always downloading from "latest", it should instead download from the task with the same tag as itself.

[2019-05-30 17:58] marco-c opened #521 "Add options to the Duplicate classifier to select number of bugs in the training set"

[2019-05-30 18:31] marco-c commented on #492
I tried again today and without chunksize it was twice as fast, pretty weird...

[2019-05-30 19:32] marco-c opened #522 "Consider more duplicate bugs by generating all combinations of bugs in a duplicate group"
See https://github.com/mozilla/bugbug/pull/484#discussion_r288724543.

[2019-05-30 19:36] marco-c opened #523 "Use some categorical features too for duplicate detection"
Right now we are only using text, but some categorical features might be interesting too. For example, if two bugs have the same affected OS, the same product, and so on.

[2019-05-30 19:58] #25 closed

[2019-05-31 15:01] marco-c commented on #493
Hello @hmrishavbandy, if you don't know how git/github work at all, I'd suggest reading some online guide/tutorial to start. I think GitHub itself offers some kind of tutorial.

[2019-05-31 15:05] #518 closed

[2019-05-31 15:21] hmrishavbandy commented on #493
Yep I have followed github tutorials and formed my own repo (only Readme tho). Can you assign this issue to me?

[2019-05-31 15:28] marco-c commented on #493
Feel free to work on the issue. Any issue which has no PR linked to it is considered as unassigned (see https://github.com/mozilla/bugbug/blob/master/CONTRIBUTING.md).

[2019-05-31 16:00] hmrishavbandy commented on #438
Can you please assign this issue to me? Ma a noobie and would like some help alongside my contribution

[2019-05-31 16:07] marco-c commented on #518
Also needed aebc3c44143fcd8e8cd015e243d82766d71db8a3.

[2019-05-31 16:12] marco-c commented on #438
@hmrishavbandy issues are assigned only when there is a PR open to fix them. You can feel free to work on any issue which you see unassigned and for which there is no PR linked, there is no need to be assigned first.

[2019-05-31 16:13] marco-c commented on #438
In order to fix this issue, you'll need to do something really similar to https://github.com/mozilla/bugbug/blob/master/tests/test_tracking.py, but for the defect/enhancement/task model.

[2019-05-31 16:24] hmrishavbandy commented on #438
@marco-c thanks a lot.. I'll be working on this now

[2019-06-01 09:54] sbeesm commented on #371
@marco-c Can you please suggest me a way to calculate diff of two files.
I tried using `difflib` but the output for hg cat files is not really readable (for my case it it shows addition and deletions for every single character separately).

And for the implementation, I was thinking of first calculating the diff of file before and after and from the diff, take out all the lines added, and parse th

[2019-06-01 10:03] marco-c commented on #371
I tried using difflib but the output for hg cat files is not really readable (for my case it it shows addition and deletions for every single character separately).

You can do something like this:
[code]

How would you handle multiline comments this way? If the multiline comment is starting before the context of the diff, you won't be able to know.
Also, how would you handle lines which contain b

[2019-06-01 15:20] hmrishavbandy commented on #438
Can anyone please elaborate on what is meant by "basic" tests in here?I am getting the concept of tests with respect to the model specified but  what tests are classfied as basic tests? Thanks for your help!

[2019-06-01 16:42] marco-c commented on #438
@hmrishavbandy see my previous comment, it contains an example of a basic test.

[2019-06-01 17:22] hmrishavbandy commented on #438
@marco-c I am probably slow, but tests as in using assert? If that is so , then in https://github.com/mozilla/bugbug/blob/master/tests/test_tracking.py , I didn't get the place where you use the numbers in the square brackets. Thanks for your patience !

[2019-06-01 17:28] hmrishavbandy commented on #490
Hey, I completed this. Shall i create a branch and and then create a Pull Request?

[2019-06-01 17:33] marco-c commented on #490
Yes.

[2019-06-01 17:36] marco-c commented on #438
@hmrishavbandy you are going to have to investigate a bit yourself, that's the nice part :P

[2019-06-01 17:49] hmrishavbandy commented on #490
I'm getting this error:
"remote: Permission to mozilla/bugbug.git denied to hmrishavbandy." ,
when i am trying to push my changes. I am using the terminal and am on Ubuntu 19.04.

[2019-06-01 17:50] hmrishavbandy commented on #438
oh! Okay... I'll surely give my best :smile:

[2019-06-01 18:07] marco-c commented on #490
You need to push them to your fork, not to the upstream repository.

[2019-06-01 19:23] hmrishavbandy commented on #490
Thanks a lot @marco-c  for all this help. You helped make this fun :D

[2019-06-02 15:50] bezoka commented on #437
I will try implement test for that

[2019-06-03 08:22] #385 closed

[2019-06-03 09:51] #519 closed

[2019-06-03 12:37] #126 closed

[2019-06-03 13:52] #379 closed

[2019-06-03 13:54] marco-c opened #535 "Add tests for repository.download_component_mapping"
This test will have to use `responses`, similarly to the test for repository.download_commits.

[2019-06-03 17:53] marco-c opened #537 "Commit retrieval task should only download new commits"
Unless the format of the DB changed.

[2019-06-03 17:55] marco-c commented on #439
1 is no longer a problem since #488.

#445 showed that 2 is not so important.

With #536, we have 3.

[2019-06-03 17:55] #439 closed

[2019-06-03 22:14] marco-c opened #539 "Make Regression model training set consist only of defects"
Now that we finally have the bug type, we can make the Regressor model differentiate between defects which are regressions and defects which are not regressions, rather than between defects which are regressions and defects which are not regressions + non-defects.

This should make the problem easier and the results better.

Note, we probably have to wait for a bit in order to do this, as currentl

[2019-06-04 08:40] marco-c opened #540 "Don't use a sampler for the Duplicate classifier"
Since we can have *a lot* of labels and we decide on their number, there's no point in using a sampler.

[2019-06-04 09:12] marco-c opened #541 "Use more diverse bugs in the duplicate classifier"
I think this is why we are seeing artificially high results.

Since we limit the number of non-duplicate bugs, because of the way we are generating the couples (combination of first bug ID with all other bug IDs, then second bug ID with all other bug IDs, and so on) we end up generating couples where the first element is always the same. Indeed, when we do the combination of the first bug ID with

[2019-06-04 09:20] ayush-1506 commented on #541
Oh, I see. One way to get around this would be to have a counter (initially set to a small value, say, 10) and generating pairs up to this counter. So for the hybrid/non-duplicate case, the first bug will have 10 cases, 2nd bug will have 10 and so on.
@marco-c ?

[2019-06-04 09:31] marco-c commented on #541
The best option would be to generate combinations randomly.

[2019-06-04 09:34] marco-c commented on #371
BTW, @calixteman started looking at this.

[2019-06-04 11:14] marco-c commented on #425
https://github.com/mozilla/relman-auto-nag/pull/704 will help here.

[2019-06-04 11:15] marco-c commented on #440
This will be similar to the implementation for #537.

[2019-06-04 12:54] sbeesm commented on #371
tree_sitter does that automatically. It gives the index where a comment starts in a line.
Atleast for Python and C it does, I've checked. But in case of C, it doesn't do so if a comment is written before the semicolon.

Okay.
And really sorry for the delay, I'm not able to get enough time to complete this.

[2019-06-04 13:22] marco-c commented on #371
No worries, this is not an easy one.

[2019-06-04 13:51] #541 closed

[2019-06-04 16:45] #515 closed

[2019-06-04 17:16] marco-c opened #544 "Use regressed_by information in the regressor model"
We are only using SZZ results for labels, we can enhance them by using regressed_by info.

[2019-06-04 22:30] marco-c opened #545 "Enable coverage collection during tests"

[2019-06-06 08:26] marco-c opened #549 "Upgrade to Mercurial 5"
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1545236.

[2019-06-06 08:27] marco-c opened #550 "Remove get_reviewers from repository mining script and use the hg template"
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1528938.

[2019-06-06 08:27] marco-c opened #551 "Avoid installing Python 2 for Mercurial in the commit retrieval image"
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1541166.

[2019-06-06 08:36] marco-c opened #552 "In test_repository.py, don't copy the pushlog manually"
I tried to replace copy_pushlog_db with `hg.pull(source=bytes(remote, "ascii"))`, but it didn't work.
We need to figure out why and avoid the manual copy of the pushlog, which might be brittle.

[2019-06-06 08:52] Lothiraldan commented on #551
Mercurial Python 3 is still beta right now.

[2019-06-06 14:48] Lothiraldan commented on #340
I'm summing up the work to do and already done:
- We need to build Docker images with tagged images: #554
- We need to spawn the data pipeline with tagged images: #507 + #553
- We need to push artifacts in Taskcluster index with tags
- We need to retrieve artifacts from Taskcluster index with tags
- We need to build the HTTP images with tags at the end of the data pipeline

[2019-06-06 15:45] Lothiraldan opened #556 "Cache bug raw data in http service"
If we want to classify the same bug with multiple models, the service will download the data multiple times.

https://github.com/mozilla/bugbug/pull/321/files/225b0a03969aeb5c63c064dec0215e18a632b59f#r291106393

[2019-06-06 15:46] Lothiraldan opened #557 "Pre-load model in HTTP service background worker"
Due to RQ worker design, we cannot cache models without implementing our own worker script.

https://github.com/mozilla/bugbug/pull/321/files/225b0a03969aeb5c63c064dec0215e18a632b59f#r291106686

[2019-06-06 16:05] marco-c opened #558 "Don't build image twice on non tag"
https://github.com/mozilla/bugbug/pull/554/files#r291258796

[2019-06-06 16:12] #501 closed

[2019-06-06 16:55] #537 closed

[2019-06-07 18:26] sladyn98 commented on #327
@marco-c This could be something I could take up if its not too hard :) what are the prerequisites before I take up this issue.?

[2019-06-08 01:01] codingisbliss commented on #535
Hello macro-c I want to contribute to this bug. I am a newbie to this, how can I get some reading material/ what this code does inforamtion ?

[2019-06-08 09:22] marco-c opened #570 "Don't put VERSION in the env of the tasks"
We can directly render the tag where needed with JSON-e.

[2019-06-08 09:22] marco-c commented on #340
This should be done, we just need to confirm everything is working.

[2019-06-08 09:23] marco-c commented on #303
This should have been fixed by #321, we just need to confirm after the next http service deployment.

[2019-06-08 09:26] marco-c commented on #570
Related to #558.

[2019-06-08 09:29] marco-c commented on #535
Hello @codingisbliss, this method is pretty much self-contained. It is here: https://github.com/mozilla/bugbug/blob/ff5eba38322593f3a9c186b6da64e704ea0ab2a4/bugbug/repository.py#L645.
Here's an example of another test for another method which had to mock the download of the component mapping: https://github.com/mozilla/bugbug/blob/master/tests/test_repository.py#L244.

You will have to do somethin

[2019-06-08 09:30] marco-c commented on #327
Hey @sladyn98, this was actually a joke, we don't really need to identify cats in bug attachments :P
Anyway, to start, I suggest picking up an issue tagged with `good-first-bug`.

[2019-06-08 10:23] #545 closed

[2019-06-08 22:34] #440 closed

[2019-06-09 10:43] marco-c opened #572 "HTTP service deployment task is failing"
The artifact filter no longer applies, since https://github.com/mozilla/task-boot/pull/38.

[code]

[2019-06-09 11:42] La0 commented on #572
Task boot needs unit tests to avoid such regressions :(

[2019-06-09 11:58] marco-c commented on #572
Yeah, even though this is mostly an issue with how bugbug is using task-boot rather than in task-boot itself.

[2019-06-09 22:59] marco-c opened #573 "Get bug data all at once instead of attachments and comments separately"
Using the feature from https://github.com/mozilla-bteam/bmo/pull/1148.

[2019-06-10 05:26] sladyn98 commented on #573
@marco-c This looks like a good issue to work on :)
Could I try it ?

[2019-06-10 08:44] marco-c commented on #573
Sure! The function to modify is https://github.com/mozilla/bugbug/blob/master/bugbug/bugzilla.py#L107.
You need to make sure it behaves the same before/after your change. Choose a bug number, e.g. 1405567, try to download it before and after your change and make sure the data is the same.

[2019-06-10 14:42] subhamkrai commented on #432
Hi, I would like to work on this issue. I'm newbie please help I can I get started with this issue.

[2019-06-10 14:50] marco-c commented on #428
Fixed by #503.

[2019-06-10 14:50] #428 closed

[2019-06-10 14:50] marco-c commented on #432
Hello @subhamkrai, this will be somewhat similar to https://github.com/mozilla/bugbug/blob/1bae5834abd49f70c69da84d36b66f5f5cf503b0/tests/test_tracking.py, for the Backout model (https://github.com/mozilla/bugbug/blob/master/bugbug/models/backout.py). The main difference is that the Backout model operates on commits rather than bugs.

[2019-06-10 15:00] subhamkrai commented on #432
@marco-c  can you describe this. I'm new to this open source contribution.

[2019-06-11 09:10] marco-c opened #576 "Use some bug features too in the regressor model"
It can improve accuracy by a few percentage points.

[2019-06-11 09:10] marco-c opened #577 "Use some bug features too in the backout model"
We need to check if it can improve accuracy.

Depends on #514.

[2019-06-11 09:23] #514 closed

[2019-06-11 09:23] marco-c commented on #378
This is no longer needed, as the function was removed in 37f93de33b0bb6523c51b6a65b770998921fef9d.

[2019-06-11 09:24] #378 closed

[2019-06-11 09:59] marco-c opened #578 "Use features from crash reports in the regressor model"
E.g. if a patch is modifying a function which is often in crash reports, it might be more risky.

[2019-06-11 10:01] marco-c commented on #577
Example features that we could try out: product, component, priority, has_regression_range, has_crash_signature, keywords, severity, number of bug dependencies, number of blocked bugs, whiteboard, bug type.

[2019-06-11 10:03] marco-c commented on #577
In order to do this, we will also have to download all bugs associated to the commits we are going to train on.

[2019-06-11 10:04] marco-c commented on #576
Example features that we could try out: product, component, priority, has_regression_range, has_crash_signature, keywords, severity, number of bug dependencies, number of blocked bugs, whiteboard, bug type.

[2019-06-11 10:04] marco-c commented on #576
In order to do this, we will also have to download all bugs associated to the commits we are going to train on.

[2019-06-11 10:07] marco-c commented on #551
Yeah, I wonder if the limited features we are using are working with Python 3. We'll have to check.

[2019-06-11 13:33] marco-c opened #579 "Merge .flake8 and setup.cfg"
@Lothiraldan I guess we can do that, right?